.universe {
  .link-btn {
    margin-bottom: 0px;
    &:last-of-type{
      margin-bottom: 80px;
      margin-top: 20px;
    }
  }
  .page-header {
    height: auto;
    margin-bottom: 0px;
    &-media{
      height: 462px;
    }
    .sub-title {
      max-width: 970px;
      width: 100%;
      font-size: 0.875rem;
      line-height: 26px;
      font-weight: 400;
    }
    .pos-banner{
      margin-top: 100px;
      margin-bottom: 100px;
      width: 100%;
      height: fit-content;
      
      z-index: 99;
      position: relative;
      &-flex{
        display: flex;
        position: absolute;
        left: 0px;
        top: 0px;
        padding: 0px 160px 0px 50px;
        z-index: 1;
        align-items: center;
        width: 100%;
        height: 100%;
        &-left{
          display: flex;
          align-items: center;
        }
       
      }
      &-logo{
        width: 70px;
        height: 70px;
        object-fit: contain;
      }
      &-bg{
        width: 100%;
        height: auto;
        object-fit: cover;

      }
      &-link{
        font-weight: 500;
        margin-left: auto;
        padding: 0px 65px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: 14px;
        text-decoration: none;
        height: 35px;
        border-radius: 40px;
      }
      &-body{
        h4{
          color: white;
          font-size: 36px;
          font-weight: 800;
          margin-left: 50px;
        }
      }
    }
  }

  &-first-flex {
    position: relative;

    margin-top: 101px;
    align-items: flex-start;

    &-section {
      &-top {
        margin-bottom: 30px;

        img {
          margin-right: 25px;
          width: 64px;
          height: 76px;
          object-fit: contain;
        }
        h4 {
          font-size: 1.438rem;
          font-weight: 500;
          letter-spacing: 0.031rem;
          font-weight: 600;
        }
      }

      a[title="button"] {
        padding: 0px 25px;
        height: 50px;
        display: flex;
        width: fit-content;
        background: #53fffa;
        border-radius: 42px;
        align-items: center;
        justify-content: center;
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size: 0.688rem;
        transition: 0.2s all;
        border: 2px solid #53fffa;

        &:hover {
          background: transparent;
          color: #03fbf4;
        }
      }
      .text-p {
        &:nth-of-type(1) {
          margin-bottom: 52px;
          max-width: 500px;
        }
        &:nth-of-type(2) {
          margin-bottom: 55px;
        }
      }
      a[title="link"] {
        color: white;
        text-decoration: underline;
      }
      ul {
        margin-bottom: 37px;

        &:last-child {
          margin-bottom: 0px;
        }
        li {
          letter-spacing: 0.4px;
          padding-left: 26px;
          font-size: 0.875rem;
          margin-bottom: 37px;
          line-height: 1.5rem;
          font-weight: 500;
          position: relative;
          strong {
            font-weight: 600;
          }
          &:after {
            border-radius: 50%;
            position: absolute;
            left: 0px;
            top: 6px;
            content: "";
            width: 11px;
            height: 11px;
            background: $gradient;
          }
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
      h5 {
        letter-spacing: 0.021rem;
        margin-bottom: 30px;
        @extend .gradient-text;
      }
    }
  }
  &-second-flex {
    margin-top: 105px;
    align-items: flex-start;
    margin-bottom: 85px;
    .expending-box {
      padding-top: 0px;
      &-title {
        margin-bottom: 37px;
        color: $light-color;
      }
    }
    .images-grid {
      &-list-img {
        width: 55px;
        height: 55px;
      }
      &-title {
        color: #03fcf5;
        font-size: 1.063rem;
        margin-bottom: 60px;
      }
    }
    .text {
      margin-top: 90px;
    }
    .expending-box-border-top {
      padding-top: 30px;
    }
  }

  &-third-flex {
    flex-wrap: wrap;
    align-items: flex-start;

    .expending-box {
      margin-bottom: 37px;
      width: calc(50% - 50px);
      margin-right: 100px;
      &:nth-of-type(2n) {
        margin-right: 0px;
      }
      &-title {
        width: 100%;
      }
      .expend-btn {
        @include pink-expend-btn();
      }
    }
  }
}

@media only screen and (min-width: $medium) {
  .universe {
    &-first {
      &-flex {
        &-section {
          width: 50%;
          &:nth-child(odd) {
            padding-right: 32px;
          }
          &:nth-child(even) {
            padding-left: 60px;
          }
        }
        &:after {
          position: absolute;
          left: 48.5%;
          transform: translate(-50%);
          top: 0px;
          height: 100%;
          width: 2px;
          background-color: white;
          opacity: 0.3;
          content: "";
        }
      }
    }
    &-second {
      &-flex {
        &-container {
          align-items: flex-start;
          .expending-box {
            width: 50%;
            max-width: 570px;
            padding-top: 0px;
            padding-right: 40px;
            &-title {
              margin-bottom: 37px;
              color: $light-color;
            }
          }
          .images-grid {
            width: 50%;
            max-width: 670px;
            min-width: 500px;
            @include image-grid-3(40px, 20px, 33%);
            margin-left: auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px){
  .universe{
    .page-header{
      .pos-banner{
        &-flex{
          padding-right: 70px;
        }
        &-body{
          h4{
            font-size: 30px;
          }
        }
      }
    }
  
  }
}


@media only screen and (max-width: 1200px){
  .universe{
    .page-header{
      .pos-banner{
        &-flex{
          padding-right: 50px;
          
        }
        &-body{
          h4{
            font-size: 24px;
          }
        }
      }
    }
  
  }
}

@media only screen and (max-width: $medium) {
  .universe {
    &-first {
      &-flex {
        flex-direction: column;
        &-section {
          &:first-child {
            margin-bottom: 100px;
          }
        }
      }
    }
    &-second {
      &-flex {
        &-container {
          flex-direction: column;
        }
        .expending-box {
          width: 100%;
        }
        .images-grid {
          margin-top: 100px;
          width: 100%;
        }
      }
    }
    &-third {
      &-flex {
        .expending-box {
          width: 100%;
          margin-right: 0px;
        }
      }
    }
  }
}
@media only screen and (min-width: $mobile) and (max-width: $medium) {
  .universe {
    &-second {
      &-flex {
        .images-grid {
          @include image-grid-3(40px, 30px, 33%);
        }
      }
    }
  }
}

@media only screen and (max-width: 1050px){
  .universe{
    .page-header{
      .pos-banner{
        margin-top: 50px;
        margin-bottom: 50px;
        &-flex{
         
          flex-direction: column;
          padding: 0px 20px 0px 20px;
          justify-content: center;
        }
        &-bg{
          height: 190px;
        }
        &-logo{
          width: 45px;
          height: 45px;
        }
        &-link{
          margin-left: unset;
          margin-top: 20px;
        }
        &-body{
          h4{
            font-size: 19px;
            margin-left: 18px;
          }
        }
      }
    }
  
  }
}

@media only screen and (max-width: $mobile) {
  .universe {
    .page-header {
      height: auto;
      margin-bottom: 0px;
      .sub-title{
        margin-top: 0px;
      }
    }
    &-first {
      &-flex {
        margin-top: 70px;
        &-section {
          &-top {
            img {
              width: 50px;
              height: 60px;
              margin-right: 20px;
            }
          }
        }
      }
    }
    &-second {
      &-flex {
        &-container {
          .images-grid {
            @include image-grid-1(40px, 20px, 100%);
          }
        }
      }
    }
  }
}
