.universe {
  &-bottom-links {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 80px;
  }
  &-sub-text {
    text-align: center;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
    p {
      font-size: 0.875;
      font-weight: 600;
      letter-spacing: -0.009rem;
    }
  }
  .pos-banner {
    margin-top: 60px;
    margin-bottom: 30px;
    width: 100%;
    height: fit-content;

    z-index: 99;
    position: relative;
    &-flex {
      display: flex;
      position: absolute;
      left: 0px;
      top: 0px;
      padding: 0px 160px 0px 50px;
      z-index: 1;
      align-items: center;
      width: 100%;
      height: 100%;
      &-left {
        display: flex;
        align-items: center;
      }
    }
    &-logo {
      width: 70px;
      height: 70px;
      object-fit: contain;
    }
    &-bg {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    &-link {
      font-weight: 500;
      margin-left: auto;
      padding: 0px 65px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      font-size: 14px;
      text-decoration: none;
      height: 35px;
      border-radius: 40px;
    }
    &-body {
      h4 {
        color: white;
        font-size: 36px;
        font-weight: 500;
        margin-left: 50px;
      }
    }
  }

  &-first-flex {
    position: relative;
    background: #5e75e8;
    margin-top: 68px;
    align-items: flex-start;

    .main-grid {
      display: flex;
      justify-content: space-between;
      position: relative;
      padding-top: 80px;
      padding-bottom: 100px;
    }

    &-section {
      width: 50%;
      &:nth-child(odd) {
        max-width: 630px;
        padding-right: 60px;
      }
      &:nth-child(even) {
        padding-left: 84px;
      }
      * {
        color: white;
      }
      .text-p {
        &:first-of-type {
          max-width: 487px;
          margin-left: auto;
          margin-right: auto;
        }
      }
      &-top {
        margin-bottom: 30px;
        text-align: center;
        max-width: 487px;
        margin-left: auto;
        margin-right: auto;

        img {
          margin-right: 25px;
          width: 64px;
          height: 76px;
          object-fit: contain;
        }
        h4 {
          font-size: 1.375rem;
          font-weight: 700;
          letter-spacing: 0.063rem;

          font-family: $text-font;
        }
      }

      a[title="button"] {
        background: linear-gradient(
          264.47deg,
          #7988e8 -9.16%,
          #5e75e8 40.94%,
          #db89df 93.26%
        );
        color: white;
        text-decoration: none;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        border-radius: 50px;
        min-width: 280px;
        width: fit-content;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 73px;
        margin-top: 30px;
        transition: 0.2s all;

        &:hover{
          background: linear-gradient(268.26deg, #7988E8 14.66%, #15F9FF 49.9%, #DB89DF 86.69%);
        }
      }

      ul {
        margin-bottom: 37px;
        gap: 25px;
        display: flex;
        flex-direction: column;
        &:last-of-type {
          margin-bottom: 0px;
        }

        li {
          letter-spacing: 0.4px;
          padding-left: 26px;
          font-size: 0.875rem;
          line-height: 1.5rem;
          font-weight: 500;
          position: relative;
          strong {
            font-weight: 600;
          }
          &:after {
            border-radius: 50%;
            position: absolute;
            left: 0px;
            top: 6px;
            content: "";
            width: 11px;
            height: 11px;
            background: $gradient;
          }
        }
      }
      h5 {
        letter-spacing: 0.021rem;
        margin-bottom: 30px;
        font-weight: 700;
      }
    }
  }
  &-second-flex {
    margin-top: 50px;
    align-items: flex-start;
    margin-bottom: 85px;
    .expending-box {
      padding-top: 0px;
      &-title {
        color: black;
        font-size: 1rem;
        line-height: 1.375rem;
      }
    }
    .images-grid {
      &-list-img {
        width: 55px;
        height: 55px;
      }
      &-title {
        font-size: 1rem;
        margin-bottom: 68px;
        letter-spacing: $text-letter-spacing;
        color: #5e75e8;
      }
      width: 50%;
      max-width: 670px;
      min-width: 500px;
      margin-left: auto;
      &-list {
        gap: 40px 30px;
        li {
          width: calc(100% / 3 - 30px);
        }
      }
    }
    .text {
      margin-top: 90px;
    }
    .expending-box-border-top {
      padding-top: 30px;
    }
    &-bottom {
      font-weight: 600;
    }
  }

  &-third-flex {
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 37px 100px;
    .expending-box {
      width: calc(50% - 50px);
      &-title {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: $medium) {
  .universe {
    &-first {
      &-flex {
        width: 100%;

        .main-grid {
          &:after {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            top: 0px;
            height: calc(100% - 120px);
            top: 50%;
            transform: translate(0, -50%);
            border: 1px dashed white;
            opacity: 0.6;
            content: "";
          }
        }
      }
    }
    &-second {
      &-flex {
        &-container {
          align-items: flex-start;
          gap: 90px;
          .expending-box {
            flex: 1;
            padding-top: 0px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .universe {
    .pos-banner {
      &-flex {
        padding-right: 70px;
      }
      &-body {
        h4 {
          font-size: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .universe {
    .pos-banner {
      &-flex {
        padding-right: 50px;
      }
      &-body {
        h4 {
          font-size: 24px;
        }
      }
    }
  }
}

@media only screen and (max-width: $medium) {
  .universe {
    &-first {
      &-flex {
        .main-grid {
          flex-direction: column;
          align-items: center;
          gap: 100px;
          padding-top: 60px;
        }

        &-section {
          min-width: 100%;
          &:nth-child(odd) {
            padding-right: 0px;
          }
          &:nth-child(even) {
            padding-left: 0px;
          }
        }
      }
    }
    &-second {
      &-flex {
        &-container {
          flex-direction: column;
        }
        .expending-box {
          width: 100%;
        }
        .images-grid {
          margin-top: 100px;
          width: 100%;
          margin-left: unset;
        }
      }
    }
    &-third {
      &-flex {
        .expending-box {
          width: 100%;
          margin-right: 0px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1050px) {
  .universe {
    .pos-banner {
      margin-top: 50px;
      margin-bottom: 50px;
      &-flex {
        flex-direction: column;
        padding: 0px 20px 0px 20px;
        justify-content: center;
      }
      &-bg {
        height: 190px;
      }
      &-logo {
        width: 45px;
        height: 45px;
      }
      &-link {
        margin-left: unset;
        margin-top: 20px;
      }
      &-body {
        h4 {
          font-size: 19px;
          margin-left: 18px;
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .universe {
    &-first {
      &-flex {
        margin-top: 70px;
        &-section {
          &-top {
            img {
              width: 50px;
              height: 60px;
              margin-right: 20px;
            }
          }
        }
      }
    }
    &-second {
      &-flex {
        &-container {
          .images-grid {
            min-width: unset;
            &-list {
              gap: 45px 20px;
              justify-content: center;
              li {
                width: calc(50% - 20px);
              }
            }
          }
        }
      }
    }
  }
}
