.universe {
  main {
    transform: translate(0, -30px);
  }
  .text {
    @extend .inside-margin;
    font-size: 15px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  .page-header {
    figure {
      height: 500px;
      img {
        position: relative;
      }
    }
    h1 {
      margin-top: 10px;
    }
  }
  &-first-sections {
    @extend .outside-margin;
    align-items: flex-start;
    .universe-list-section {
      width: 50%;

      span {
        margin-bottom: 10px;
        img {
          margin-right: 10px;
          width: 30px;
        }
        h4 {
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 1.2px;
          text-transform: uppercase;
        }
      }
      &:nth-child(odd) {
        padding-right: 80px;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
      }
      &:nth-child(even) {
        padding-left: 80px;
      }

      a[title="button"] {
        padding: 0px 25px;
        height: 38px;
        display: flex;
        width: fit-content;
        border: 1px solid #03fbf4;
        background: #03fbf4;
        border-radius: 41px;
        align-items: center;
        justify-content: center;
        color: black;
        font-weight: bold;
        text-decoration: none;
        transition: 0.2s all;

        &:hover {
          background: transparent;
          color: #03fbf4;
        }
      }
      .text-p {
        &:nth-of-type(2) {
          margin-bottom: 50px;
        }
      }
      a[title="link"] {
        color: white;
        text-decoration: underline;
      }
      ul {
        list-style: disc;
        margin-bottom: 50px;
        padding-left: 17px;
        &:last-child {
          margin-bottom: 0px;
        }
        li {
          letter-spacing: 0.4px;

          margin-bottom: 8px;
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
          ine &:last-child {
            margin-bottom: 0px;
          }
        }
      }
      h5 {
        letter-spacing: 1.2px;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
  &-second-sections {
    @extend .outside-margin;
    align-items: flex-start;
    .text-with-title {
      width: 50%;
      padding-top: 0px;
      padding-right: 60px;
    }
    .images-grid {
      width: 50%;
      padding-top: 40px;
      padding-left: 20px;
      li {
        &:nth-child(n + 7):nth-child(-n + 12) {
          margin-bottom: 0px;
        }
      }
    }
  }

  &-third-sections {
    margin-bottom: 30px;
    flex-wrap: wrap;
    align-items: flex-start;

    .text-with-title {
      width: calc(100% / 2 - 30px);
      &:nth-child(even) {
        margin-left: auto;
      }
      .expend-btn {
        @include pink-expend-btn();
      }
      margin-bottom: 30px;
    }
  }
}
@media only screen and (max-width: 1100px) {
  .universe {
    .page-header {
      figure {
        height: 45vw;
        min-height: 200px;
        img {
          position: relative;
        }
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .universe-first-sections {
    .universe-list-section {
      &:nth-child(even) {
        padding-left: 40px;
      }
      &:nth-child(odd) {
        padding-right: 40px;
      }
    }
  }
  .universe-second-sections {
    .text-with-title {
      padding-right: 30px;
    }
    .images-grid-list {
      li {
        width: calc(50% - 20px) !important;
        margin-right: 0px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .universe-first-sections {
    flex-direction: column;
    .universe-list-section {
      width: 100%;

      border: 0px;
      margin-bottom: 60px;
      &:nth-child(odd) {
        border: 0px;
        padding: 0px;
      }
      &:nth-child(even) {
        padding: 0px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  .universe-second-sections {
    flex-direction: column;
    .text-with-title {
      width: 100%;
      order: 2;
    }
    .images-grid {
      width: 100%;
      padding-top: 0px;
      order: 1;
      margin-bottom: 60px;
    }
  }
}

@media only screen and (max-width: 750px) {
  .universe {
    main {
      transform: translate(0);
    }
  }
  .universe-third-sections {
    flex-direction: column;
    .text-with-title {
      width: 100%;
      margin-right: 0px;
      &:nth-child(even) {
      }
    }
  }
  .universe-first-sections {
    .universe-list-section {
      ul {
        li {
          font-size: 12px;
        }
      }
      h5 {
        font-size: 15px;
      }
      span {
        h4 {
          font-size: 17px;
        }
      }
    }
  }
}
