.universe {
  .link-btn {
    margin-top: 80px;
  }
  .text {
    max-width: 1260px;
    width: 100%;
    @extend .inside-margin;
    font-size: 15px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  .page-header {
    margin-bottom: 120px;
    figure {
      height: 75vh;
    }
  }
  &-first-sections {
    position: relative;
    margin-bottom: 140px;
    align-items: flex-start;
    &:after {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      top: 0px;
      height: 100%;
      width: 2px;
      background-color: white;
      opacity: 0.3;
      content: "";
    }
    .universe-list-section {
      width: 50%;

      span {
        margin-bottom: 20px;
        img {
          margin-right: 30px;
          width: 58px;
          height: 69px;
          object-fit: contain;
        }
        h4 {
          font-size: 20px;
          font-weight: 500;
          letter-spacing: 0.5px;
          text-transform: uppercase;
        }
      }
      &:nth-child(odd) {
        padding-right: 105px;
      }
      &:nth-child(even) {
        padding-left: 105px;
      }

      a[title="button"] {
        padding: 0px 25px;
        height: 50px;
        display: flex;
        width: fit-content;
        border: 1px solid #03fbf4;
        background: #03fbf4;
        border-radius: 41px;
        align-items: center;
        justify-content: center;
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size: 16px;
        transition: 0.2s all;

        &:hover {
          background: transparent;
          color: #03fbf4;
        }
      }
      .text-p {
        &:nth-of-type(1) {
          margin-bottom: 35px;
        }
        &:nth-of-type(2) {
          margin-bottom: 80px;
        }
      }
      a[title="link"] {
        color: white;
        text-decoration: underline;
      }
      ul {
        margin-bottom: 50px;

        &:last-child {
          margin-bottom: 0px;
        }
        li {
          letter-spacing: 0.4px;
          padding-left: 26px;
          margin-bottom: 30px;
          font-size: 15px;
          line-height: 23px;
          font-weight: 500;
          position: relative;
          &:after {
            border-radius: 50%;
            position: absolute;
            left: 0px;
            top: 6px;
            content: "";
            width: 11px;
            height: 11px;
            background: white;
          }
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
      h5 {
        letter-spacing: 1.2px;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 25px;
      }
    }
  }
  &-second-sections {
    @extend .outside-margin;
    align-items: flex-start;
    .text-with-title {
      width: 50%;
      max-width: 636px;
      padding-top: 0px;
      padding-right: 60px;
      h5 {
        margin-bottom: 50px;
        font-size: 33px;
      }
    }
    .images-grid {
      width: 50%;
      padding-top: 40px;
      padding-left: 20px;
      margin-left: auto;
      li {
        margin-bottom: 50px;
      }
      &-title {
        color: #03fcf5;
        text-transform: uppercase;
        font-size: 17px;
      }
    }
  }

  &-third-sections {
    flex-wrap: wrap;
    align-items: flex-start;

    .text-with-title {
      width: calc(100% / 2 - 35px);
      &:nth-child(even) {
        margin-left: auto;
      }
      .expend-btn {
        @include pink-expend-btn();
      }
      margin-bottom: 30px;
    }
  }
}
@media only screen and (max-width: 1100px) {
  .universe {
    .page-header {
      figure {
        height: 45vw;
        min-height: 200px;
        img {
          position: relative;
        }
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .universe-first-sections {
    .universe-list-section {
      &:nth-child(even) {
        padding-left: 40px;
      }
      &:nth-child(odd) {
        padding-right: 40px;
      }
    }
  }
  .universe-second-sections {
    .text-with-title {
      padding-right: 30px;
    }
    .images-grid-list {
      li {
        width: calc(50% - 20px) !important;
        margin-right: 0px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .universe-first-sections {
    flex-direction: column;
    .universe-list-section {
      width: 100%;

      border: 0px;
      margin-bottom: 60px;
      &:nth-child(odd) {
        border: 0px;
        padding: 0px;
      }
      &:nth-child(even) {
        padding: 0px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  .universe-second-sections {
    flex-direction: column;
    .text-with-title {
      width: 100%;
      order: 2;
    }
    .images-grid {
      width: 100%;
      padding-top: 0px;
      order: 1;
      margin-bottom: 60px;
    }
  }
}

@media only screen and (max-width: 750px) {
  .universe {
    main {
      transform: translate(0);
    }
  }
  .universe-third-sections {
    flex-direction: column;
    .text-with-title {
      width: 100%;
      margin-right: 0px;
      &:nth-child(even) {
      }
    }
  }
  .universe-first-sections {
    .universe-list-section {
      ul {
        li {
          font-size: 12px;
        }
      }
      h5 {
        font-size: 15px;
      }
      span {
        h4 {
          font-size: 17px;
        }
      }
    }
  }
}
