.news {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 100px;
    position: relative;

    &-header-video {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 400px;
        width: 100vw;
        opacity: 0.6;

    }

    &-figure {
        max-width: 1500px;
        width: 80%;
        position: absolute;
        pointer-events: none;
        left: 0px;

        &-top {
            top: 1300px;
        }

        &-bottom {
            top: 2760px;
        }
    }

    &-subscribe {
        background: rgba(58, 58, 58, 0.5);
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 40px;
        margin-top: 120px;

        &-title {

            * {
                font-weight: bold;
                font-size: 22px;
                font-family: $bold-font;
            }

            padding-right: 70px;
        }

        &-right {
            display: flex;
            max-width: 721px;
            flex: 1;
            height: 70px;
            background: white;
            position: relative;
            border-radius: 50px;
        }

        &-input {
            width: 100%;
            height: 100%;
            padding-right: 170px;
            border: none;
            background: transparent;
            text-indent: 26px;
            color: #A1A1BB;
            font-weight: 500;
            font-size: 18px;
            font-family: $text-font;

            &::placeholder {
                color: #A1A1BB;
            }
        }

        &-submit {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translate(0, -50%);
            width: 155px;
            height: calc(100% - 10px);
            background: #53FFFA;
            border-radius: 50px;
            color: #383838;
            font-weight: 500;
            font-size: 18px;
            font-family: $text-font;

            .loader {
                display: none;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                div {
                    background: #383838;
                }
            }
        }

        &-error {
            position: absolute;
            top: calc(100% + 10px);
            left: 10px;
            font-size: 16px;
            font-family: $text-font;
            display: none;
        }
    }

    #load-more-posts {
        margin: 0 auto;
        margin-top: 90px;

        * {
            font-family: $light-font;
            font-weight: 300;
            font-size: 20px;
            line-height: 35px;
            color: #53FFFA;
        }
    }


    &-video {
        border-top: 1px solid #53FFFA;
        padding-top: 40px;
        margin-top: 70px;
        margin-bottom: 100px;

        &-youtube {
            height: 40px;
            width: auto;
            margin-bottom: 40px;

        }

        &-flex {
            display: flex;
        }

        &-left {
            width: 512px;
            height: 260px;
        }

        &-right {
            flex: 1;
            padding-left: 100px;
            display: flex;
            flex-direction: column;

            &-title {
                font-weight: 700;
                margin-bottom: 30px;
            }

            &-button {
                width: fit-content;
                font-family: $text-font;
                background: #53FFFA;
                border-radius: 50px;
                height: 55px;
                padding: 0px 60px;
                font-weight: 500;
                font-size: 18px;
                color: #383838;
                margin: 0 auto;
                margin-top: auto;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }

    &-grid {
        max-width: 1400px;
        margin: 0 auto;
        width: calc(100% - 80px);
    }

    &-posts {
        margin-top: 100px;

        &-title {
            font-weight: 300;
            font-size: 20px;
            letter-spacing: 0.5px;
            color: #53FFFA;
            margin-bottom: 55px;
            text-align: center;
            font-family: $light-font;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 50px 30px;
        }
    }

    &-post {
        width: calc(100% / 3 - 20px);

        &-logo {
            height: 42px;
            width: auto;
            margin-top: 14px;
        }

        &-title {
            display: none;
        }

        &-link {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }

        &-img {
            width: 100%;
            max-height: 280px;
            height: 20vw;
            object-fit: cover;
        }

        &-body {
            margin-top: 5px;

            * {
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
            }
        }

        &-date {
            font-size: 16px;
            font-weight: bold;
            margin-top: 15px;
        }
    }

    &-main {

        &-post {
            position: relative;
           
            margin: 0 auto;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            &-content {


                h1 {
                    text-align: left;
                    text-transform: none;
                    font-size: 52px;
                    line-height: 75px;
                    font-family: $bold-font;
                    margin-bottom: 20px;
                }

                h5 {
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 30px;
                }


            }

            &-image {
                width: 880px;
                object-fit: cover;
                position: relative;
                transform: translate(80px);
            }
        }
    }

    &-trending {

        margin: 0 auto;
        margin-top: 100px;
        position: relative;


        &-rotated {
            transform: rotate(-90deg);
            position: absolute;
            left: -270px;
            font-size: 60px;
            letter-spacing: 0.5em;
            font-weight: bold;
            top: 230px;
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
        }

        &-flex {
            padding-left: 130px;

            &-title {
                font-weight: 300;
                font-size: 20px;
                color: #53FFFA;
                margin-bottom: 20px;
                font-family: $light-font;
            }

            &-posts {
                display: flex;
                align-items: flex-start;
                gap: 40px;

                .news-post {
                    width: calc(50% - 20px);

                    &-img {
                        width: 100%;
                        max-height: unset;
                        height: 414px;
                        object-fit: cover;
                    }

                    &-title {
                        font-weight: bold;
                        font-size: 30px;
                        line-height: 43px;
                        margin-bottom: 30px;
                        padding-right: 20px;
                    }

                    &-content {
                        display: flex;
                        padding-top: 20px;
                    }

                    &-logo {
                        width: 166px;
                        height: auto;
                        margin-top: 0px;
                    }

                    &-date {
                        display: none;
                    }

                    &-body {
                        margin-top: 0px;
                        padding-left: 20px;
                        flex: 1;
                    }


                }
            }
        }
    }
}


@media only screen and (max-width: 1900px) {
    .news {
        &-trending {
            margin-right: unset;
            margin-left: auto;
            transform: none;
        }
    }
}

@media only screen and (max-width: 1500px) {
    .news {
        &-main {
            &-post {
                &-content {
                    h1 {
                        font-size: 38px;
                        line-height: 55px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .news {
        &-video {
            &-right {
                padding-left: 50px;
            }

            &-left {
                width: 420px;
                height: 240px;

            }
        }

        &-trending-flex-posts {
            .news-trending-post-title {
                font-size: 24px;
                line-height: 36px;
            }
        }

        &-main {
            &-post {
                &-content {
                    h5 {
                        font-size: 16px;
                        line-height: 26px;
                    }

                    h1 {
                        font-size: 32px;
                        line-height: 46px;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 1100px) {
    .news {
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;

        &-post {
            &-bottom {
                flex-direction: column;

                .news-author {
                    margin-bottom: 15px;
                }
            }
        }

        &-grid {
            width: 100%;
        }

        &-trending {
            margin-left: unset;
            width: 100%;

            .news-post {
                &-body {
                    padding-right: 0px;
                }

            }

            &-rotated {
                display: none;
            }

            &-flex {
                &-title {
                    text-align: center;
                }

                &-posts {
                    flex-direction: column;
                    align-items: center;
                    gap: 40px 0px;

                    .news-post {
                        width: 100%;
                        text-align: center;

                        &-title {
                            padding-right: 0px;
                        }

                        &-img {
                            max-width: 500px;
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }

        &-main-post {
            flex-direction: column;
            width: 100%;
            align-items: center;

            &-image {
                max-width: 500px;
                width: 100%;
                margin-top: 40px;
            }

            h5 {
                text-align: center;
            }

            h1 {
                text-align: center;
                font-size: 24px;
                line-height: 30px;
            }

            &-content {
                margin-right: 0px;
            }
        }

        &-subscribe {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            width: 100%;
            height: 250px;
            margin-top: 70px;

            &-title {
                margin-right: 0px;
                margin-bottom: 40px;
                padding-right: 0px;

                text-align: center;

                * {
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            &-right {
                flex: unset;
                max-width: unset;
                width: 100%;
                height: 45px;
            }

            &-input {
                padding-right: 100px;
                font-size: 16px;
                text-indent: 12px;
            }

            &-submit {
                width: 100px;
                font-size: 16px;
            }
        }

        &-posts {
            margin-top: 70px;

            ul {
                flex-direction: column;

                .news-post {
                    width: 100%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &-img {
                        max-width: 500px;
                        margin: 0 auto;
                        height: auto;
                        max-height: unset;
                    }

                    &-bottom {
                        justify-content: center;
                    }
                }
            }
        }

        &-video {
            text-align: center;

            &-youtube {
                height: 30px;
                margin-bottom: 30px;
            }

            &-flex {
                flex-direction: column;
                align-items: center;
            }

            &-left {
                width: 100%;
                height: 40vw;
                max-height: 450px;
                min-height: 270px;
            }

            &-right {
                padding-left: 0px;
                margin-top: 30px;

                &-button {
                    margin-top: 40px;
                }
            }
        }

    }

}