.news-video {
  border-bottom: 1px solid #53fffa;
  border-top: 1px solid #53fffa;
  padding-top: 40px;
  margin-top: 70px;
  margin-bottom: 100px;
  padding-bottom: 40px;
  &-youtube {
    height: 40px;
    width: auto;
    margin-bottom: 40px;
  }

  &-flex {
    display: flex;
  }

  &-left {
    width: 512px;
    height: 268px;
  }

  &-right {
    flex: 1;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    &-body {
    }

    &-title {
      font-weight: 700;
      margin-bottom: 30px;
    }

    &-button {
      margin-top: 45px;
      @extend .pink-button;
    }
  }
}
