@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600&display=swap");

@font-face {
  font-family: "bold";
  src: url("../fonts/bold.otf");
}

@font-face {
  font-family: "bold-oblique";
  src: url("../fonts/boldOblique.otf");
}

@font-face {
  font-family: "light";
  src: url("../fonts/light.otf");
}

@font-face {
  font-family: "light-oblique";
  src: url("../fonts/lightOblique.otf");
}

$light-font: "light";
$light-oblique-font: "light-oblique";
$bold-font: "bold";
$bold-oblique: "bold-oblique";
$text-font: "Montserrat";
