@import "./consts.scss";
@import "./fonts.scss";
@import "./reset.scss";
@import "./common/index.scss";
@import "./partial-components/index.scss";
@import "./team/index";
@import "./home/index.scss";
@import "./navbar/index.scss";
@import "./footer/index.scss";
@import "./faq/index.scss";
@import "./blogs/index.scss";
@import "./blog/index.scss";
@import "./network/index.scss";
@import "./universe/index.scss";
@import "./smart-contracts/index.scss";
@import "./white-papers/index.scss";
@import "./white-paper/index.scss";
@import "./ecosystem/index.scss";
@import "./contact/index.scss";
@import "./policy/index.scss";
@import './news/index.scss';
@import './orbs-vm-and-orbs-lambda/index.scss'