@import "./fonts.scss";
@import "./shared.scss";
@import "./reset.scss";
@import "./common/index.scss";
@import "./partial-components/index.scss";
@import "./home/index.scss";
@import "./navbar/index.scss";
@import "./footer/index.scss";
@import "./faq/index.scss";
@import "./blogs/index.scss";
@import "./blog/index.scss";
@import "./network/index.scss";
@import "./universe/index.scss";
@import "./smart-contracts/index.scss";
@import "./white-papers/index.scss";
@import "./white-paper/index.scss";
@import "./ecosystem/index.scss";
@import "./contact/index.scss";
@import "./policy/index.scss";
@import "./news/index.scss";
@import "./orbs-vm-and-orbs-lambda/index.scss";
@import "./notifications/index.scss";
@import "./ton-gateway/index.scss";
@import './dtwap.scss';
@import './brand-assets.scss';
@import './ton-vote.scss';
@import './dlimit.scss';
@import './liquidity-hub.scss';
@import './perps.scss';
@import './dsltp.scss';
