body {
  background-color: $base-bg-color;
}
p,
li {
  font-family: $text-font;
  line-height: 23px;
}
.big-section {
  flex: 1;
}
.small-section {
  width: 450px;
  padding-right: 40px;
  position: sticky;
  top: 110px;
}

html {
  scroll-behavior: smooth;
}
.grid-page {
  width: 1400px;
  margin: auto;
  .main-header {
    position: sticky;
    top: 0%;
    margin: auto;
  }
}
.home-gage {
  .main-header {
    width: 1400px;
    margin: auto;
  }
}

.scrolled-navbar {
  background: $base-bg-color;
}

@media only screen and (max-width: 1600px) {
  .grid-page {
    width: calc(100% - 130px);
  }
}
