body {
  background-color: $base-bg-color;
}
p,
li {
  font-family: $text-font;
  line-height: 23px;
}
.big-section {
  flex: 1;
}
.small-section {
  width: 450px;
  padding-right: 40px;
  position: sticky;
  top: 110px;
}

.sticky-section {
  position: sticky;
  top: 110px;
}

html {
  scroll-behavior: smooth;
}

.main-grid {
  max-width: 1720px;
  width: calc(100% - 160px);
  margin: auto;
}

.page {
}

.home-gage {
  .main-header {
    width: 1400px;
    margin: auto;
  }
}

.scrolled-navbar {
  background: $base-bg-color;
}
.label {
  width: 100px;
  height: 100px;
}
@media only screen and (max-width: 1600px) {
  .grid-page {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media only screen and (max-width: 750px) {
  .grid-page {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .grid-page {
    padding-left: 20px;
    padding-right: 20px;
  }
}
