html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  color: white;
  outline: none;
  user-select: text;
  overflow-wrap: break-word;
}
button {
  padding: 0px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.footer {
  padding: 0px;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
}

:root {
  font-size: 100%;
}
p,
li {
  font-family: $text-font;
}

html {
  scroll-behavior: smooth;
}

.label {
  width: 100px;
  height: 100px;
}

body {
  font-family: "Montserrat";
  overflow-x: hidden;
  position: relative;
}

.app-wrapper {
  min-height: 100vh;
  min-height: -webkit-fill-available;

  display: flex;
  flex-direction: column;
}

html {
  height: -webkit-fill-available;
}

$main-bg-color: #fcf8fd;
$text-color: #454545;

body {
  background: $main-bg-color;
}

$gradient: linear-gradient(
  102.78deg,
  #6687e9 29.14%,
  #b082d5 53.97%,
  #ed7ec4 77.85%
);

.gradient-text {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@mixin gradient-border($width: 3px) {
  border: $width solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(180deg, #cd86df 0%, #688ce9 100%);
}

.md-title {
  &-h5 {
    font-size: 1.063rem;
    font-weight: 500;
  }
  &-h4 {
    font-size: 1.438rem;
    font-weight: 600;
  }
}

.text-p {
  letter-spacing: 0.019rem;
  font-size: 0.875rem;
  color: $text-color;
  line-height: 1.375rem;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0px;
  }
  strong {
    color: $text-color;
  }
}
* {
  color: $text-color;
}

.title {
  font-size: 1.563rem;
  text-transform: uppercase;
  text-align: center;
  font-family: $text-font;
  position: relative;
  @extend .gradient-text;
  margin-top: 0px;
  z-index: 10;
  line-height: 3.125rem;
  &:first-child {
    margin-top: 0px;
  }
}

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 999;
  opacity: 0;
  transition: 0.2s all;
  pointer-events: none;
  &-active {
    opacity: 1;
  }
}
