.faq {
  &-flex {
    margin: auto;
    height: auto;
    align-items: flex-start;
    padding-bottom: 50px;
  }
  .side-menu {
    width: 420px;
    .faq-side-menu {
      &-links {
        display: flex;
        flex-direction: column;
        &-link {
          margin-bottom: 15px;
          font-weight: 500;
          font-size: 1.063rem;
          letter-spacing: 0.04rem;
          color: white;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &-additional {
        margin-top: 70px;
        .text-p {
          font-weight: 500;
          font-size: 1.063rem;
          &:last-of-type {
            margin-top: 10px;
          }
          a {
            text-decoration: none;
          }
        }
      }
    }
  }

  &-lists {
    padding-top: 160px;
    width: calc(100% - 420px);
    max-width: 800px;
    &-category {
      position: relative;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0px;
      }

      h5 {
        letter-spacing: 0.063rem;
        text-transform: uppercase;
        margin-bottom: 15px;
        text-align: left;
        font-size: 0.938rem;
        font-family: $light-font;
      }
    }
  }
}
