.faq {
  .menu-burger {
    aside {
      background: $pink;
    }
  }
  &-flex {
    margin: auto;
    height: auto;
    padding-bottom: 200px;
    align-items: flex-start;
  }
  &-desc {
    position: sticky;

    * {
      text-align: left;
    }
    &-title {
      font-size: 27px;
      font-family: $bold-font;
      margin-bottom: 20px;
    }
    &-sub-title {
      font-size: 15px;
      width: 250px;
      margin-bottom: 80px;
    }
    &-links {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      a {
        letter-spacing: 1.4px;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
      }
    }

    &-questions {
      margin-top: 50px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 80px;
      h5 {
        margin-bottom: 10px;
        font-family: $bold-font;
        font-size: 14px;
      }
      a {
        text-decoration: underline;
        color: #e61ea9;
        font-family: $bold-font;
        font-size: 11px;
      }
    }
  }

  &-lists {
    width: calc(100% - 500px);
    &-category {
      position: relative;
      margin-bottom: 25px;

      h5 {
        letter-spacing: 2.2px;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: left;
        font-size: 15px;
        font-family: $light-font;
      }
    }
  }
}
