.faq {
  &-flex {
    padding-top: 165px;
    margin: auto;
    height: auto;
    align-items: flex-start;
    padding-bottom: 50px;
  }
  &-side-content {
    top: 165px;
    width: 500px;
    height: calc(100vh - 190px);
    display: flex;
    padding-right: 40px;
    flex-direction: column;
    * {
      text-align: left;
    }

    &-links {
      display: flex;
      flex-direction: column;
      &-link {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 1.063rem;
        letter-spacing: 0.04rem;
        color: white;

        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .side-text-links {
      margin-top: 60px;
      * {
        font-size: 1.063rem;
        font-weight: 500;
        margin-bottom: 0px;
        text-decoration: none;
      }
      .text-p {
        &:last-of-type {
          margin-top: 10px;
        }
      }
    }

    .socials {
      margin-bottom: 60px;
      margin-top: auto;
    }
  }

  &-lists {
    width: calc(100% - 550px);
    max-width: 800px;
    &-category {
      position: relative;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0px;
      }

      h5 {
        letter-spacing: 0.063rem;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: left;
        font-size: 0.938rem;
        font-family: $light-font;
      }
    }
  }
}
