.faq {
  .opening-box ul li::after{
    background: $gradient;
    top: 8px;
  }
  .indicator {
    position: absolute;
    top: -110px;
  }
  .side-menu-title {
    display: none;
    padding-top: 20px;
  }
  .opening-box-title {
    font-size: 17px;
    font-weight: 500;
    opacity: 0.5;
  }
  &-flex {
    margin: auto;
    height: auto;
    align-items: flex-start;
    padding-bottom: 50px;
  }
  &-mobile-menu {
    display: none;
    position: sticky;
    top: 0px;
    padding-top: 110px;
    width: 100%;
    z-index: 9;
    background: $dark-color;
    &-selected {
      margin-bottom: 20px;
      cursor: pointer;
      padding: 20px;
      border: 2px solid $light-color;
    }

    &-list {
      background: $dark-color;
      transition: 0.2s all;
      padding-bottom: 20px;
      position: absolute;

      top: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      opacity: 0;
      transform: translate(-100%);
      left: 0px;
      a {
        text-decoration: none;
        margin-bottom: 20px;
      }
      &-active {
        opacity: 1;
        transform: translate(0);
      }
    }
  }
  .side-menu {
    width: 420px;
    ul {
      display: none;
    }
    .faq-lists-category {
      margin-bottom: 0px;
    }
    .faq-side-menu {
      &-links {
        &-flex {
          display: flex;
          flex-direction: column;
        }
        a {
          margin-bottom: 20px;
          font-weight: 500;
          font-size: 1.063rem;
          letter-spacing: 0.04rem;
          line-height: 1.438rem;

          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &-additional {
        margin-top: 58px;
        .text-p {
          font-weight: 500;
          font-size: 1.063rem;
          &:last-of-type {
            margin-top: 10px;
          }
          a {
            text-decoration: none;
          }
        }
      }
    }
  }

  &-lists {
    width: calc(100% - 420px);
    max-width: 792px;
    &-category {
      position: relative;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0px;
      }
      small {
        display: none;
      }
      h5 {
        margin-bottom: $page-section-title-margin-small;
        text-align: left;
        @extend .page-colored-section-title;
      }
    }
  }
}

@media only screen and (max-width: $medium) {
  .faq {
    &-lists {
      width: calc(100% - 350px);
    }
    .side-menu {
      width: 350px;
      .faq-side-menu-links {
        a {
          font-size: 90%;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .faq {
    padding-top: 80px;
    &-flex {
      flex-direction: column;
    }
    .side-menu {
      display: none;
    }

    &-mobile-menu {
      display: none;
    }

    &-lists {
      width: 100%;
      padding-top: 0px;
      position: relative;
    }
    .indicator {
      top: -80px;
    }
  }
}
