.notifications {
  .product-header{ 
      h1{
        max-width: 620px;
      }
      &-hero{
        max-width: 530px;
        position: relative;
        margin-top: -60px;
        right: 110px;
      }
      &-powered{
        right: 0;
        top: 36%;
      }
      
  }

  .contribute {
    width: 100%;
    background: $blue;
    margin-top: $page-section-margin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: $page-section-margin 0px $page-section-margin 0px;

    &-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-buttons {
        display: flex;
        align-items: center;
        gap: 20px;
        .link-button {
          @extend .white-button;
          text-transform: uppercase;
        }
      }

      h5 {
        margin-top: 40px;
        @extend .page-section-title;
        margin-bottom: 20px;
      }
    }

    &-title {
      @extend .page-section-title;
      margin-bottom: 40px;
      text-align: center;
    }

    &-example {
      &-body {
        width: 300px;
        height: 100%;
        .text-p{
          margin: 0px;
        }
       h4{
        margin-top: 20px;
        margin-bottom: 20px;
       }
      }
    }
  }

  .integrations {
    padding-top: $page-section-margin;
     padding-bottom: $page-section-margin;
    background: white;
    &-title {
      @extend .page-colored-section-title;
      text-align: center;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 23px;
      padding-top: 50px;

      .integration {
        width: calc(20% - 19px);
        min-height: 250px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $gray;

        padding: 30px 0px 30px 0px;
        gap: 20px;
        &-link {
          margin-top: auto;
          img {
            width: 31px;
            height: 31px;
            object-fit: contain;
          }
        }

        &-image {
          width: 80px;
          height: 80px;
          object-fit: cover;
          border-radius: 50%;
        }

        h5 {
          @extend .text-p;
          font-weight: 500;
          margin-bottom: 0px;
          text-transform: capitalize;
        }
      }

      #integration-pr {
        background: #f4f4f4;
        justify-content: center;
        display: flex;
        padding: 0px;
        p {
          font-size: 18px;
        }

        .link-button {
          margin-top: 30px;
          font-weight: 500;
        }

        & > p {
          @extend .page-section-title;
          color: $text-color;
        }
      }
    }
  }

  .apps {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $page-section-margin;
    padding-bottom: $page-section-margin;
    background: $gray;
    &-title {
      @extend .page-colored-section-title;
      margin-bottom: $page-section-title-margin-small;
    }

    &-body {
      max-width: 700px;
    }
    .small-grid{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-links {
      display: flex;
      justify-content: center;
      padding-top: 40px;
      gap: 20px;

      a {
        height: 50px;

        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}


