version: 2.1

jobs:
  build-and-deploy:
    docker:
      - image: cimg/node:18.20
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            npm install -g --silent gh-pages@2.0.1
            npm install -g --silent cuttlebelle
            npm install
            git config user.email "ci-build@orbs.com"
            git config user.name "ci-build"
      - add_ssh_keys:
          fingerprints:
            - "75:7f:ea:52:21:2e:9d:7f:e0:b5:36:d2:6d:6b:98:ae"
      - run:
          name: Build with cuttlebelle
          command: npm run build
          no_output_timeout: 30m
      - run:
          name: Create CNAME file. $DEPLOY_DOMAIN_NAME is defined on circleci project env variables.
          command: echo $DEPLOY_DOMAIN_NAME > ./site/CNAME
      - run:
          name: Deploy to gh-pages branch
          command: gh-pages --message "[ci skip] Deploy" --dist site

workflows:
  version: 2
  build:
    jobs:
      - build-and-deploy:
          filters:
            branches:
              only: main
