@import "https://unpkg.com/swiper/swiper-bundle.min.css";

.team {
  &-content-wrapper {
    margin-top: 130px;
    display: flex;
    padding-bottom: 75px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .side-menu {
    width: calc(100% - 880px);
    padding-right: 0px;
    max-width: 356px;
    padding-right: 40px;
    .text-p {
      &:first-of-type {
        margin-bottom: 40px;
      }
      &:nth-of-type(2) {
        text-transform: uppercase;
        font-family: $bold-font;
        margin-bottom: 12px;
        a {
          text-decoration: none;
          border-bottom: 2px solid white;
        }
      }
      &:last-child {
        a {
          text-decoration: none;
        }
      }
    }
  }

  &-member {
    background: #2c2c2c;
    height: 237px;
    color: white;
    cursor: pointer;
    &-details {
      margin-top: auto;
      padding: 9px 16px;
      padding-bottom: 15px;
      background: rgba(0, 0, 0, 0.3);
      &-name {
        font-size: 0.75rem;
        text-align: left;
        font-family: $bold-font;
        width: 95%;
        text-transform: capitalize;
        line-height: 1.2rem;
      }
      &-role {
        line-height: 1.2rem;
        font-size: 0.75rem;
        text-align: left;
        text-transform: capitalize;
      }
    }

    .inner-links {
      justify-content: flex-start;
      margin-top: 3px;
      margin-bottom: 0px;
      a {
        width: 10px;
        height: 10px;
        margin-right: 13px;
      }
    }

    &-popup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;
      z-index: 999999;
      align-items: flex-start;
      transition: 0.2s all;
      display: none;
      &-overlay {
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0px;
        top: 0px;
        background: rgba(0, 0, 0, 0.4);
      }
      &-c {
        justify-content: center;
        border-radius: 10px;
        background: #1a1a1a;
        position: relative;
        width: 700px;
        min-height: 350px;
        height: auto;
        border: 3px solid #00ffff;
        padding: 5px;
        top: 200px;
        &-close {
          width: 20px;
          height: 20px;
          position: absolute;
          right: 10px;
          top: 10px;
          cursor: pointer;
          border: none;
          img {
            width: 100%;
            height: 100%;
          }
        }
        &-avatar {
          width: 200px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &-details {
          padding: 20px;
          width: calc(100% - 200px);
        }
        &-name {
          text-align: center;
          font-family: $bold-font;
          font-size: 16px;
          margin-bottom: 10px;
          text-transform: uppercase;
          letter-spacing: 1.6px;
        }
        &-role {
          letter-spacing: 1px;

          text-align: center;
          font-size: 14px;
          font-family: $bold-font;
        }
        .inner-links {
          margin-top: 15px;
          margin-bottom: 20px;

          a {
            width: 15px;
            height: 15px;
            margin-left: 15px;
          }
        }
      }

      &-active {
        display: flex;
        &-animation {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }

  &-list {
    margin-top: auto;
    align-items: flex-start;
    width: 880px;
    &-title {
      margin-bottom: 18px;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-family: $bold-font;
      font-size: 1rem;
      transform: translate(36px);
      position: relative;
    }
    &-flex {
      flex-wrap: wrap;
      align-items: stretch;
      width: 100%;
      &-top {
        margin-bottom: 25px;
        ul {
          flex-wrap: wrap;
          width: calc(50% - 14px);
        }
        .slider {
          overflow: hidden;
          position: relative;
          height: auto;
          width: calc(50% - 13px);
          margin-left: auto;
        }
      }
      &-bottom {
        .slider {
          width: 100%;
          height: 361px;
          overflow: hidden;
          margin-top: 25px;
        }
      }
    }
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &-video {
    width: 100%;
    height: 100%;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  &-big-single {
    width: 100%;
    height: 360px;
  }
  &-single-small {
    width: calc(50% - 12.5px);
    margin-right: 0px;
    height: 237px;
    margin-left: auto;
  }
  &-double {
    height: 237px;
    width: 100%;
    img:nth-child(1) {
      width: 60%;
    }
    img:nth-child(2) {
      width: calc(40% - 20px);
    }
  }
}

@media only screen and (min-width: 1200px) {
  .team {
    &-list {
      &-flex {
        &-top {
          ul {
            @include grid-2(25, 25);
          }
          .slider {
            height: calc(237px * 2 + 25px);
          }
        }
        &-bottom {
          @include grid-4(25, 25);
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .team {
    .side-menu {
      width: 400px;
    }
    .banner-single-small {
      height: 30vw;
    }
    &-member {
      height: 30vw;
    }
    &-list {
      width: calc(100% - 400px);
      &-flex {
        &-top {
          flex-direction: column;
          ul {
            width: 100%;
          }
          .slider {
            width: 100%;
            height: calc(24vw * 2 + 25px);
            margin-top: 25px;
          }
        }
        &-bottom {
          .slider {
            width: 100%;
            height: 30vw;
            margin-top: 25px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 1200px) {
  .team {
    &-list {
      &-flex {
        &-top {
          ul {
            @include grid-2(25, 25);
          }
        }
        &-bottom {
          @include grid-2(25, 25);
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  $height: 50vw;
  .team {
    &-member {
      height: $height;
    }
    &-content {
      &-wrapper {
        flex-direction: column;
      }
    }
    .side-menu {
      position: static;
      width: 100%;
      padding: 0px;
      height: auto;
      margin-bottom: 90px;
      max-width: none;
    }
    .banner-single-small {
      width: 100%;
      height: $height;
    }
    &-list {
      width: 100%;
      &-title {
        transform: none;
      }
      &-flex {
        &-bottom {
          .slider {
            height: $height;
          }
          .banner-big-single {
            height: $height;
          }
          .banner-double {
            height: 40vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  $height: 100vw;
  .team {
    &-content {
      &-wrapper {
        margin-top: 100px;
      }
    }
    .banner-single-small {
      width: 100%;
      height: 70vw;
    }
    &-member {
      height: $height;
    }
    &-list {
      width: 100%;
      &-flex {
        &-top {
          ul {
            @include grid-1(25);
          }
          .slider {
            height: 70vw;
          }
        }
        &-bottom {
          @include grid-1(25);
          .slider {
            height: 70vw;
          }
          .banner-big-single {
            height: $height;
          }
          .banner-double {
            height: 40vw;
          }
        }
      }
    }
  }
}
