.team-page {
  position: relative;
}
.team {
  align-items: flex-start;
  padding-bottom: 200px;
  padding-top: 70px;
}

.team-lists {
  margin-top: auto;
  padding-bottom: 200px;
}

.team-list-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.team-description {
  color: white;
  display: flex;
  flex-direction: column;
}
.team-left-content {
  h1 {
    font-size: 24px;
    text-align: left;
    font-family: $bold-font;
    line-height: 35px;
    text-transform: uppercase;
  }
  p {
    font-size: 15px;
    text-align: left;
    margin-top: 15px;

    &:last-child {
      text-transform: uppercase;
      font-family: $bold-font;
    }
  }
}

.team-description-hiring a {
  margin-left: 5px;
  text-decoration: underline;
  color: white;
}
.team-description .socials {
  margin-top: 100px;
}
.team-list-img {
  width: 50%;
  padding-left: 20px;
}
.team-list-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.managers-list {
  width: 50%;
}
.team-list {
  flex-wrap: wrap;
  display: flex;
}

.managers-list {
  .teammate {
    width: calc(100% / 2 - 10px);
    margin-right: 20px;
  }
  .teammate:nth-child(1),
  .teammate:nth-child(2) {
    margin-top: 0px;
  }
  .teammate:nth-child(2n) {
    margin-right: 0px;
  }
}

.teammate {
  background: #2c2c2c;
  max-height: 290px;
  height: 17.5vw;
  color: white;
  margin-top: 20px;
  &-avatar {
    width: 100%;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: 0.1s all;
    }
  }
  &-info {
    margin-top: auto;
    padding: 10px;
    padding-bottom: 15px;
  }
  &-name {
    font-size: 17px;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
  }
  &-position {
    font-size: 14px;
    text-align: left;
  }
  &-socials {
    margin-top: 5px;
    height: 30px;
    align-items: center;

    &-link {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      &:last-of-type {
        margin-right: 0px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &-border {
    width: calc(100% - 115px);
    border-bottom: 1px solid #4b4b4b;
    height: 100%;
    margin-left: 20px;
    transition: 0.2s all;
  }
  &-arrow {
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #4b4b4b;
    border-right: 1px solid #4b4b4b;

    transform: rotate(-45deg);
    margin-left: auto;
    transition: 0.2s all;
  }
  &:hover {
    .teammate-arrow {
      border-bottom: 1px solid white;
      border-right: 1px solid white;
    }
    .teammate-border {
      border-bottom: 1px solid white;
    }
    .teammate-avatar {
      img {
        transform: scale(1.07);
      }
    }
  }
}

.team-list-employees {
  width: 100%;
}
.team-list-employees {
  .teammate {
    width: calc(100% / 4 - 15px);
    margin-right: 20px;
  }
}

.team-list-employees {
  .teammate:nth-of-type(4n) {
    margin-right: 0px;
  }
}

.team-list-section-employees {
  margin-top: 50px;
}
.team-list-section-employees h4 {
  font-size: 26px;
  color: white;
}
.banner {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 400px;
  img {
    object-fit: cover;
  }
  &-single {
    img {
      width: 100%;
    }
  }
  &-double {
    img:nth-child(1) {
      width: 60%;
    }
    img:nth-child(2) {
      width: calc(40% - 20px);
      margin-left: auto;
    }
  }
}

@media only screen and (max-width: 1700px) {
}
@media only screen and (max-width: 1600px) {
  .teammate {
    &-name {
      font-size: 1.1vw;
    }
    &-position {
      font-size: 0.9vw;
    }
  }
}
@media only screen and (max-width: 1400px) {
  .teammate {
    height: 18vw;
  }
  .banner {
    height: 28vw;
  }
}
