@mixin pink-expend-btn() {
  color: #ff2cbf;
  background: transparent;
  border: none;
  letter-spacing: 2px;
  transition: 0.2s all;
  border-bottom: 2px solid transparent;
  padding: 0px;
  padding-bottom: 3px;
  border-radius: 0px;
  &:hover {
    border-bottom: 2px solid #ff2cbf;
  }
}

.btn {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: fit-content;
  padding: 0px 25px;
  border: 2px solid #53fffa;
  border-radius: 42px;
  font-size: 0.75rem;
  font-weight: 400;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $text-font;
}

.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.inside-margin {
  margin-bottom: 80px;
}
.outside-margin {
  margin-bottom: 110px;
}

.text-p {
  letter-spacing: 0.019rem;
  font-size: 0.875rem;
  color: white;
  line-height: 1.563rem;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0px;
  }
}

.page-menu-header {
  h1 {
    color: #03fcf5;
    text-transform: uppercase;
    font-size: 1.75rem;
    margin-bottom: 40px;
    font-family: $bold-font;
  }
}

.main-grid {
  margin: auto;
  width: 1310px;
}
.page-padding {
  padding-top: 200px;
}

.indicator {
  position: absolute;
  top: -110px;
}

.sticky-section {
  position: sticky;
  top: 110px;
}
.page-header {
  margin-bottom: 60px;

  .sub-title {
    margin: auto;
    text-align: center;
  }

  figure {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    height: 350px;
    img,
    iframe,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0px;
      top: 0px;
      pointer-events: none;
    }
  }
}
@media only screen and (max-width: 1470px) {
  .main-grid {
    width: calc(100% - 160px);
  }
}
@media only screen and (max-width: 750px) {
  .text-p {
    font-size: 13px;
  }
  .inside-margin {
    margin-bottom: 50px;
  }
  .outside-margin {
    margin-bottom: 80px;
  }
}
