.typed-cursor {
  margin-left: 10px;
  position: relative;
  &::after {
    position: absolute;
    left: 0px;
    content: ".";
    font-size: 90px;
    color: white;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.disabled-link {
  pointer-events: none;
}

.scroll-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s all;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.1);
  }
  &-active {
    opacity: 1;
    pointer-events: all;
  }
}

.app-loader {
  width: 120px;
  height: 120px;
  position: fixed;
  transition: 0.5s all;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.app-wrapper {
  transition: 0.5s all;
}

.absolute {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
  top: 0px;
}

.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}

@mixin grid-1($margin-top) {
  .list-item {
    width: 100%;
    margin-top: #{$margin-top}px;
    margin-right: 0px;
    &:nth-of-type(1) {
      margin-top: 0px;
    }
  }
}

@mixin grid-2($margin-top, $margin) {
  .list-item {
    margin-top: #{$margin-top}px;
    margin-right: #{$margin}px;
    width: calc(100% / 2 - #{$margin * 0.5}px);
    &:nth-of-type(-n + 2) {
      margin-top: 0px;
    }
    &:nth-child(even) {
      margin-right: 0px;
    }
  }
}

@mixin grid-3($margin-top, $margin) {
  .list-item {
    margin-top: #{$margin-top}px;
    width: calc(100% / 3 - #{$margin * 0.67}px);
    margin-right: #{$margin}px;
    &:nth-of-type(-n + 3) {
      margin-top: 0px;
    }
    &:nth-of-type(3n) {
      margin-right: 0px;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .app-loader {
    width: 100px;
    height: 100px;
  }
  .header {
    margin-top: 90px;
    h1 {
      font-size: 1.525rem;
      line-height: 2.375rem;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
  }
}
