$yellow: #5effd1;
$base-bg-color: #191919;
$pink: #e61ea9;
$light-blue: #60e4ff;
$light-gray: #d0d0d0;

.overflow-hidden {
  overflow: hidden;
}
@mixin pink-expend-btn() {
  color: #ff2cbf;
  background: transparent;
  border: none;
  letter-spacing: 2px;
  transition: 0.2s all;
  border-bottom: 2px solid transparent;
  padding: 0px;
  padding-bottom: 3px;
  border-radius: 0px;
}

.btn {
  text-transform: uppercase;
  width: fit-content;
  padding: 0px 35px;
  border: 2px solid #53fffa;
  border-radius: 42px;
  font-size: 0.75rem;
  font-weight: 400;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $text-font;
}

.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}

.page-padding-top {
  padding-top: 145px;
}
.page-menu-header {
  h1 {
    color: #03fcf5;
    text-transform: uppercase;
    font-size: 1.563rem;
    margin-bottom: 30px;
    font-family: $bold-font;
  }
}

.main-grid {
  margin: auto;
  width: $grid;
}
.page-padding {
  padding-top: 200px;
}

.page-header {
  margin-bottom: 33px;
  height: 444px;
  display: flex;
  flex-direction: column;
  .title {
    &:first-of-type {
      margin-top: 139px;
    }
  }
  &-text {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .sub-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    z-index: 10;
    margin-top: auto;
    font-size: 1.438rem;
    font-weight: 600;
  }
  &-gradient {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 100%;
    background: transparent
      linear-gradient(180deg, #ffffff00 0%, #19191952 18%, #191919 100%) 0% 0%
      no-repeat padding-box;
  }

  figure {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 350px;
    align-items: flex-start;
    img,
    iframe,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      object-position: bottom center;
      left: 0px;
      top: 0px;
      pointer-events: none;
      opacity: 0.7;
    }
  }
}

@mixin grid-1($margin-top) {
  li {
    width: 100%;
    margin-top: #{$margin-top}px;
    margin-right: 0px;
    &:nth-of-type(1) {
      margin-top: 0px;
    }
  }
}

@mixin grid-2($margin-top, $margin) {
  li {
    margin-top: #{$margin-top}px;
    margin-right: #{$margin}px;
    width: calc(100% / 2 - #{$margin * 0.5}px);
    &:nth-of-type(-n + 2) {
      margin-top: 0px;
    }
    &:nth-child(even) {
      margin-right: 0px;
    }
  }
}

@mixin grid-3($margin-top, $margin) {
  li {
    margin-top: #{$margin-top}px;
    width: calc(100% / 3 - #{$margin * 0.67}px);
    margin-right: #{$margin}px;
    &:nth-of-type(-n + 3) {
      margin-top: 0px;
    }
    &:nth-of-type(3n) {
      margin-right: 0px;
    }
  }
}

@mixin grid-4($margin-top, $padding-left) {
  li {
    margin-top: $margin-top;
    padding-left: $padding-left;
    width: calc(100% / 4);
    &:nth-of-type(-n + 4) {
      margin-top: 0px;
    }
    &:first-child {
      padding-left: 0px;
    }
  }
}

@mixin grid-5($margin-top, $padding-left) {
  li {
    margin-top: $margin-top;
    padding-left: $padding-left;
    width: calc(100% / 5);
    &:nth-of-type(-n + 5) {
      margin-top: 0px;
    }
    &:nth-of-type(6n) {
      margin-right: 0px;
    }
    &:first-child {
      padding-left: 0px;
    }
  }
}

@mixin grid-6($margin-top, $padding-left) {
  li {
    margin-top: $margin-top;
    padding-left: $padding-left;
    width: calc(100% / 6);
    &:nth-of-type(n + 5) {
      margin-top: 0px;
    }
    &:first-child {
      padding-left: 0px;
    }
  }
}
@mixin image-grid-1($margin-top, $padding, $width) {
  li {
    margin-top: $margin-top;
    padding-left: $padding;
    padding-right: $padding;
    width: $width;
  }
}

@mixin image-grid-3($margin-top, $padding, $width) {
  li {
    margin-top: $margin-top;
    padding-left: $padding;
    padding-right: $padding;
    width: $width;
    &:nth-of-type(-n + 3) {
      margin-top: 0px;
    }
  }
}

@mixin image-grid-2($margin-top, $padding, $width) {
  li {
    margin-top: $margin-top;
    padding-left: $padding;
    padding-right: $padding;
    width: $width;
    &:nth-of-type(-n + 2) {
      margin-top: 0px;
    }
  }
}

@media only screen and (max-width: $laptop) {
  .main-grid {
    width: calc(100% - 100px);
  }
}

@media only screen and (max-width: $mobile) {
  .page-padding-top {
    padding-top: 100px;
  }
  .main-grid {
    width: calc(100% - 44px);
  }
  .page-header {
    height: 340px;
    figure {
      height: 300px;
    }
    .title:first-child {
      margin-top: 120px;
    }
  }
}
