.card {
  padding: 6px;
  border-radius: 10px;
  width: 700px;
  position: absolute;
  z-index: 9999;
  background: #1a1a1a;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s all;
  display: none;
  opacity: 0;
  justify-content: space-between;
}
.card-avatar {
  width: 250px;
  min-height: 100%;
  position: relative;
}
.card-name {
  margin-bottom: var(--basic-margin-bottom);
  font-size: 26px;
  text-align: center;
}
.card-avatar img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.card-address {
  font-size: 16px;

  margin-bottom: var(--basic-margin-bottom);
}
.card-data {
  width: calc(100% - 250px);
  padding: 10px 15px 0px 15px;
}
.card-date {
  margin-bottom: var(--basic-margin-bottom);
}

.card-date p {
  font-size: 11px;
}

.card-date p:nth-child(1) {
  margin-right: 5px;
}
.border {
  background: #383838;
  height: 1px;
  width: 100%;
}

.card-location {
  margin-bottom: var(--basic-margin-bottom);
}
.card-location img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.card-location p {
  font-size: 12px;
}

.card-nickname {
  margin-bottom: var(--basic-margin-bottom);
  font-size: 14px;
  color: #75a2ff;
  text-align: center;
}
.card-links a {
  width: 30px;
  height: 30px;
  position: relative;
  margin-left: 10px;
}

.card-links a::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";

  width: 100%;
  height: 100%;
}
