@font-face {
  font-family: "blog-bold";
  src: url("../fonts/CharterBold.otf");
}
@font-face {
  font-family: "base-blog-font";
  src: url("../fonts/CharterRegular.otf");
}
@font-face {
  font-family: "blog-italic";
  src: url("../fonts/CharterItalic.otf");
}
@font-face {
  font-family: "blog-bold-italic";
  src: url("../fonts/CharterBoldItalic.otf");
}
$blog-text-size: 1.313rem;
$blog-font: "base-blog-font";
$blog-bold-font: "base-blog-font";
.single-blog {
  .footer {
    background: black;
  }

  &-bg {
    width: 100%;
    height: 39.7vw;
    min-height: 250px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-header {
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    &-title {
      color: white;
      font-size: 2.25rem;
      font-weight: 400;
      margin-bottom: 0px;
      letter-spacing: 0.08rem;
      text-align: left;
      font-family: $text-font;
      text-transform: none;
    }

    &-bg {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      object-fit: cover;
      object-position: center;
      height: 100%;
    }

    &-author {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      &-flex {
        flex-wrap: wrap;
        margin-top: 20px;
        display: flex;
        .inner-links {
          margin-left: auto;
          margin-bottom: 0px;
          a {
            width: 15px;
            height: 15px;
            margin-left: 35px;
            margin-right: 0px;
            &:first-child {
              margin-left: 0px;
            }
          }
        }
      }

      a {
        font-weight: bold;
        text-transform: uppercase;
        color: $light-color;
      }
      a,
      p {
        text-decoration: none;
        font-size: 0.875rem;
      }
      small {
        margin-left: 8px;
        margin-right: 8px;
      }
      .image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 12px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }
    }
  }
  &-bottom {
    margin: auto;
    background: #313131;
    padding: 50px 0px 98px 0px;
    width: 100%;
    &-title {
      font-size: 1.375rem;
      text-align: center;
      font-weight: 500;
      color: #53fffa;
    }
    &-flex {
      max-width: 1300px;
      width: calc(100% - 60px);
      margin: auto;
      padding-top: 30px;
      flex-wrap: wrap;

      &-item {
        margin: auto;
        margin-top: 40px;
        align-items: center;

        img {
          margin-bottom: 28px;
          width: 36px;
          height: 34px;
          object-fit: contain;
        }
        h4 {
          font-size: 1.063rem;
          font-weight: 500;
          margin-bottom: 23px;
        }
        button {
          @extend .btn;
          height: 51px;
          border-radius: 42px;
          text-transform: none;
          padding: 0px 25px;
        }
      }
    }
  }
  &-body {
    background: white;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 80px;
    &-grid {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
    * {
      color: rgba(41, 41, 41, 1);
      font-family: $blog-font;
    }
    a,
    p,
    li {
      font-size: $blog-text-size;
      line-height: 2rem;
    }
    a {
      word-break: break-all;
    }
    &-bg {
      width: 100%;
      height: auto;
      margin-bottom: 32px;
    }
    .text-p {
      margin-bottom: 32px;
      white-space: normal;
      &:first-child {
        margin-top: 0px;
      }
    }
    .dots {
      text-align: center;
      letter-spacing: 10px;
      font-size: 30px;
      position: relative;
    }

    ul {
      margin-bottom: 40px;

      li {
        padding-left: 30px;
        position: relative;
        &::after {
          position: absolute;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          left: 8px;
          top: 15px;
          background: black;
          content: "";
        }
        .text-p {
          margin-bottom: 0px;
        }
        margin-bottom: 13.76px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
    ol {
      margin-bottom: 40px;
      list-style-type: decimal;
      padding-left: 25px;
      li {
        .text-p {
          margin-bottom: 0px;
        }
        margin-bottom: 13.76px;
      }
    }
    .image,
    iframe {
      width: 100%;
      max-width: 1100px;
      margin-bottom: 30px;
    }
    iframe {
      position: relative;
      transform: translate(-50%);
      left: 50%;
      height: 45vw;
      max-height: 600px;
      min-height: 260px;
    }
    .image {
      height: auto;
      margin-left: auto;
      margin-right: auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    * {
      width: 100%;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
    .title-h2,
    .title-h3,
    .title-h4 {
      margin-bottom: 13.76px;
      padding-top: 20px;
      font-family: $text-font;
      font-weight: 600;
    }
    .title-h2 {
      font-size: 1.875rem;
    }
    .title-h3 {
      font-size: 1.563rem;
    }
    .title-h4 {
      font-size: 1.375rem;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .single-blog {
    &-header {
      .inner-links {
        a {
          margin-left: 20px;
        }
      }
      &-title {
        font-size: 1.4rem;
      }
      &-author {
        .image {
          width: 40px;
          height: 40px;
        }
        a,
        p {
          font-size: 0.813rem;
        }
      }
    }
    &-body {
      .text-p {
        margin-bottom: 30px;
      }
      a,
      p,
      li,
      ol {
        font-size: 1.125rem;
      }
      .title-h2,
      .title-h3,
      .title-h4 {
        margin-bottom: 10px;
      }
      .title-h2 {
        font-size: 1.5rem;
      }
      .title-h3 {
        font-size: 1.3rem;
      }
      .title-h4 {
        font-size: 1.1rem;
      }
    }
  }
}
