.white-papers {
  .header {
    margin-bottom: 100px;
  }

  &-list {
    width: 100%;
    margin: auto;

    margin-bottom: 97px;
  }
  &-box {
    align-items: flex-start;
    margin-bottom: 100px;
    flex-wrap: wrap;
    &-flex {
      align-items: flex-start;
    }
    &-mobile {
      display: none;
      width: 200px;
      height: 270px;
      margin-bottom: 20px;
      padding: 10px;
      overflow: hidden;
      @include gradient-border(1px);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &:last-child {
      margin-bottom: 0px;
    }
    &-btn {
      @extend .btn;
      text-decoration: none;
      margin-top: 23px;
      border: unset;
      padding: 2px;
      background: linear-gradient(
        229.52deg,
        #6788ea 16.05%,
        #ba88e2 42.14%,
        #ff8b97 73.02%
      );
      p{
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $main-bg-color;
        width: 100%;
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;
        color: #6788E9;
        font-size: 0.75rem;
        font-weight: 500;
      }
    }
    &-title {
      font-size: 0.938rem;
      font-weight: 800;
      line-height: 2.188rem;
      letter-spacing: $text-letter-spacing;
    }
    &-c {
      padding-right: 80px;
      flex: 1;
      max-width: 770px;
      .text-p {
        line-height: 2.188rem;
        font-weight: 500;
      }
      &-date {
        font-size: 0.813rem;
        letter-spacing: $text-letter-spacing;
        margin: 10px 0px 20px 0px;
        color: #6788e9;
        font-weight: 500;
      }
    }

    &-preview {
      @include gradient-border(1px);
      width: 274px;
      height: 294px;
      margin-left: auto;
      padding: 12px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-category {
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0px;
    }
    &-title {
      width: 100%;
      border-bottom: 2px solid rgba(102, 135, 233, 0.7);
      letter-spacing: 0.7px;
      padding-bottom: 25px;
      font-size: 1rem;
      margin-bottom: 35px;
      font-weight: 600;
      color: #6788ea;
      letter-spacing: $text-letter-spacing;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .white-papers {
    .header {
      margin-bottom: 50px;
    }
    &-box {
      margin-bottom: 50px;
      &-preview {
        display: none;
      }
      &-mobile {
        display: block;
      }
      &-c {
        padding-right: 0px;
        max-width: none;
        width: 100%;
      }
    }
    .page-header {
      height: 220px;
    }
  }
}
