.white-papers {
  &-list {
    width: 100%;
    margin: auto;
    margin-bottom: $page-section-margin;
  }
  &-box {
    align-items: flex-start;
    margin-bottom: 50px;
    flex-wrap: wrap;
    &-flex {
      align-items: flex-start;
    }
    &-mobile {
      display: none;
      width: 200px;
      height: 270px;
      margin-bottom: 20px;
      padding: 10px;
      overflow: hidden;
      @include gradient-border(1px);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &:last-child {
      margin-bottom: 0px;
    }
    &-btn {
      @extend .button;
      text-transform: uppercase;
      margin-top: 23px;
    }
    &-title {
      font-size: 17px;
      font-weight: 800;
      line-height: normal;
    }
    &-c {
      padding-right: 80px;
      flex: 1;
      max-width: 770px;
      .text-p {
        line-height: normal;
        font-size: 15px;
        line-height: 22px;
        font-weight: 400;
      }
      &-date {
        font-size: 0.813rem;
        letter-spacing: $text-letter-spacing;
        margin: 10px 0px 20px 0px;
        color: $blue;
        font-weight: 500;
      }
    }

    &-preview {
      @include gradient-border(1px);
      width: 274px;
      height: 294px;
      margin-left: auto;
      padding: 12px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-category {
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0px;
    }
    &-title {
      width: 100%;
      border-bottom: 2px solid $blue;
      padding-bottom: 20px;
      margin-bottom: 50px;
      @extend .page-colored-section-title;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .white-papers {
    &-box {
      &-preview {
        display: none;
      }
      &-mobile {
        display: block;
      }
      &-c {
        padding-right: 0px;
        max-width: none;
        width: 100%;
      }
    }
  }
}
