.contact {
  &-container {
    width: 820px;
  }
  .form {
    margin-bottom: 90px;
  }
  .form-inputs {
    margin-top: 90px;
    .form-input {
      &:last-child {
        margin-bottom: 0px;
        width: 100%;
      }
    }
  }
}
