.smart-contracts {
  &-flex {
    margin-bottom: 80px;

    &-title {
      margin-bottom: 50px;
      font-size: 1.438rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.029rem;
      text-align: center;
    }
    &-list {
      flex-wrap: wrap;
      align-items: flex-start;
      .expending-box {
        margin-bottom: 30px;
        width: calc(100% / 2 - 30px);
        &:nth-child(even) {
          margin-left: auto;
        }
        .expend-btn {
          @include pink-expend-btn();
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
  .link-btn {
    margin-top: 70px;
    margin-bottom: 55px;
  }
  &-content {
    .boxes {
      margin-top: 50px;
      &-title {
        margin-bottom: 20px;
        color: #ff2cbf;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 2.9px;
      }
      &-list {
        flex-wrap: wrap;
        align-items: stretch;
        .box {
          margin-bottom: 14px;
          width: calc(100% / 3 - 10px);
          margin-right: 14px;
          &:nth-child(3n) {
            margin-right: 0px;
          }
        }
      }
    }
    &-text {
      max-width: 800px;
    }
  }
}
