.smart-contracts {
  .page-header {
    margin-top: 30px;
    figure {
      height: 400px;
      width: 100%;
    }
    h1 {
      color: #b31c85;
    }
  }
  &-flex {
    flex-wrap: wrap;
    align-items: flex-start;
    .text-with-title {
      width: calc(100% / 2 - 30px);
      &:nth-child(even) {
        margin-left: auto;
      }
      .expend-btn {
        @include pink-expend-btn();
      }
      margin-bottom: 50px;
      &:last-child {
        border: 0px;
      }
    }
  }
  &-management {
    margin-top: 30px;
    .text-with-title {
      border: none;
      width: 60%;
      max-height: 700px;
      p {
        margin-bottom: 15px;
      }
    }
  }
  &-boxes {
    margin-top: 20px;
    &-title {
      margin-bottom: 20px;
      color: #ff2cbf;
      font-size: 17px;
      font-weight: 500;
    }
    &-flex {
      width: 80%;
      flex-wrap: wrap;
      align-items: stretch;
      .box {
        margin-bottom: 15px;
        width: calc(100% / 3 - 15px);
        margin-right: 15px;
      }
    }
  }
}
