@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600&display=swap");
@font-face {
  font-family: "bold";
  src: url("../fonts/bold.otf"); }

@font-face {
  font-family: "bold-oblique";
  src: url("../fonts/boldOblique.otf"); }

@font-face {
  font-family: "light";
  src: url("../fonts/light.otf"); }

@font-face {
  font-family: "light-oblique";
  src: url("../fonts/lightOblique.otf"); }

body {
  background-color: #171819; }

p,
li {
  font-family: "Montserrat";
  line-height: 23px; }

.big-section {
  flex: 1; }

.small-section {
  width: 450px;
  padding-right: 40px;
  position: sticky;
  top: 110px; }

html {
  scroll-behavior: smooth; }

.grid-page {
  width: 1400px;
  margin: auto; }
  .grid-page .main-header {
    position: sticky;
    top: 0%;
    margin: auto; }

.home-gage .main-header {
  width: 1400px;
  margin: auto; }

.scrolled-navbar {
  background: #171819; }

@media only screen and (max-width: 1600px) {
  .grid-page {
    width: calc(100% - 130px); } }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  color: white;
  outline: none; }

button {
  padding: 0px;
  cursor: pointer; }

::-webkit-scrollbar {
  width: 0px;
  display: none; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

.footer {
  padding: 0px; }

button {
  background: transparent; }

html {
  height: 100%; }

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

header {
  margin: 20px; }

main {
  flex-grow: 1; }

.content h1 {
  text-align: center;
  font-size: 40px; }

.content h3 {
  color: #4088e6; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flex-between {
  display: flex;
  justify-content: center;
  justify-content: space-between; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.one-line {
  white-space: nowrap; }

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%; }

* {
  user-select: none; }

.img-loader {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); }

.socials {
  display: flex;
  height: 40px; }

.socials-element img {
  width: 70%;
  height: 70%; }

.socials-element {
  width: 40px;
  margin-right: 5px;
  height: 100%; }

.socials-element a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center; }

.text-box {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .text-box-base {
    margin-bottom: 30px; }
    .text-box-base * {
      text-align: left;
      font-family: "Montserrat"; }
    .text-box-base-title {
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 15px;
      font-size: 20px; }
    .text-box-base-text {
      font-size: 15px;
      line-height: 24px; }
    .text-box-base-expend {
      padding: 10px 20px;
      background: transparent;
      border: 1px solid white;
      border-radius: 20px;
      margin-top: 20px; }
  .text-box:last-of-type {
    border: 0px; }

.text-box-with-images .text-box-images {
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
  align-items: flex-start; }
  .text-box-with-images .text-box-images li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px; }
    .text-box-with-images .text-box-images li figure {
      height: 40px;
      margin-bottom: 10px;
      width: 40px;
      border: 2px solid white;
      border-radius: 50%; }
      .text-box-with-images .text-box-images li figure img {
        opacity: 0; }
    .text-box-with-images .text-box-images li p {
      text-align: center;
      font-size: 12px; }

.limited-lines {
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: hidden;
  display: -webkit-box; }

.text-box-with-dots ul li p {
  text-align: left;
  padding-left: 20px;
  position: relative;
  font-size: 14px; }
  .text-box-with-dots ul li p::after {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(0, -50%);
    content: "";
    width: 10px;
    height: 10px;
    background: #b31c85;
    border-radius: 50%; }

.text-cards {
  height: fit-content;
  align-items: stretch; }

.text-card {
  width: 200px;
  flex: 1;
  padding: 10px;
  border: 1px solid #ffffff; }
  .text-card * {
    text-align: left; }
  .text-card-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px; }
  .text-card-text {
    font-size: 12px;
    margin-bottom: 30px; }
  .text-card-img {
    width: 40px;
    height: 40px;
    background: lightgray;
    margin-top: auto;
    border-radius: 50%; }
    .text-card-img img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      opacity: 0; }

.images-grid {
  width: 50%; }
  .images-grid-title {
    margin-bottom: 40px; }
  .images-grid-list {
    flex-wrap: wrap;
    align-items: flex-start; }
    .images-grid-list li {
      margin-right: 20px;
      align-items: center;
      margin-bottom: 40px;
      padding-left: 10px;
      padding-right: 10px; }
      .images-grid-list li p {
        font-size: 14px;
        text-align: center; }
    .images-grid-list-img {
      width: 50px;
      height: 50px;
      background: white;
      border-radius: 50%;
      margin-bottom: 15px; }
      .images-grid-list-img img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

.text-with-title {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .text-with-title h5 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase; }
  .text-with-title .expend-btn {
    margin-top: 30px;
    text-transform: uppercase; }
    .text-with-title .expend-btn-close {
      display: none; }

.page-header {
  margin-bottom: 50px; }
  .page-header p {
    width: 80%;
    max-width: 900px; }
  .page-header h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "bold";
    position: relative; }
  .page-header figure {
    width: 1000px;
    height: 600px;
    margin: auto; }
    .page-header figure img {
      width: 100%;
      height: 100%;
      object-fit: contain; }

.box {
  border: 1px solid white;
  padding: 15px; }
  .box p {
    font-size: 14px;
    margin-bottom: 30px; }
  .box h5 {
    font-size: 17px;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .box figure {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: auto;
    background: white; }
    .box figure img {
      width: 100%;
      height: 100%;
      object-fit: contain; }

.list-box {
  margin-bottom: 30px; }
  .list-box h4 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500; }
  .list-box ul li {
    font-size: 14px;
    margin-bottom: 5px; }

.team-page {
  position: relative; }

.team {
  align-items: flex-start;
  padding-bottom: 200px;
  padding-top: 70px; }

.team-lists {
  margin-top: auto;
  padding-bottom: 200px; }

.team-list-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between; }

.team-description {
  color: white;
  display: flex;
  flex-direction: column; }

.team-left-content h1 {
  font-size: 24px;
  text-align: left;
  font-family: "bold";
  line-height: 35px;
  text-transform: uppercase; }

.team-left-content p {
  font-size: 15px;
  text-align: left;
  margin-top: 15px; }
  .team-left-content p:last-child {
    text-transform: uppercase;
    font-family: "bold"; }

.team-description-hiring a {
  margin-left: 5px;
  text-decoration: underline;
  color: white; }

.team-description .socials {
  margin-top: 100px; }

.team-list-img {
  width: 50%;
  padding-left: 20px; }

.team-list-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.managers-list {
  width: 50%; }

.team-list {
  flex-wrap: wrap;
  display: flex; }

.managers-list .teammate {
  width: calc(100% / 2 - 10px);
  margin-right: 20px; }

.managers-list .teammate:nth-child(1),
.managers-list .teammate:nth-child(2) {
  margin-top: 0px; }

.managers-list .teammate:nth-child(2n) {
  margin-right: 0px; }

.teammate {
  background: #2c2c2c;
  max-height: 290px;
  height: 17.5vw;
  color: white;
  margin-top: 20px; }
  .teammate-avatar {
    width: 100%;
    flex-grow: 1;
    position: relative;
    overflow: hidden; }
    .teammate-avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: 0.1s all; }
  .teammate-info {
    margin-top: auto;
    padding: 10px;
    padding-bottom: 15px; }
  .teammate-name {
    font-size: 17px;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold; }
  .teammate-position {
    font-size: 14px;
    text-align: left; }
  .teammate-socials {
    margin-top: 5px;
    height: 30px;
    align-items: center; }
    .teammate-socials-link {
      width: 20px;
      height: 20px;
      margin-right: 5px; }
      .teammate-socials-link:last-of-type {
        margin-right: 0px; }
      .teammate-socials-link img {
        width: 100%;
        height: 100%; }
  .teammate-border {
    width: calc(100% - 115px);
    border-bottom: 1px solid #4b4b4b;
    height: 100%;
    margin-left: 20px;
    transition: 0.2s all; }
  .teammate-arrow {
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #4b4b4b;
    border-right: 1px solid #4b4b4b;
    transform: rotate(-45deg);
    margin-left: auto;
    transition: 0.2s all; }
  .teammate:hover .teammate-arrow {
    border-bottom: 1px solid white;
    border-right: 1px solid white; }
  .teammate:hover .teammate-border {
    border-bottom: 1px solid white; }
  .teammate:hover .teammate-avatar img {
    transform: scale(1.07); }

.team-list-employees {
  width: 100%; }

.team-list-employees .teammate {
  width: calc(100% / 4 - 15px);
  margin-right: 20px; }

.team-list-employees .teammate:nth-of-type(4n) {
  margin-right: 0px; }

.team-list-section-employees {
  margin-top: 50px; }

.team-list-section-employees h4 {
  font-size: 26px;
  color: white; }

.banner {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 400px; }
  .banner img {
    object-fit: cover; }
  .banner-single img {
    width: 100%; }
  .banner-double img:nth-child(1) {
    width: 60%; }
  .banner-double img:nth-child(2) {
    width: calc(40% - 20px);
    margin-left: auto; }

@media only screen and (max-width: 1600px) {
  .teammate-name {
    font-size: 1.1vw; }
  .teammate-position {
    font-size: 0.9vw; } }

@media only screen and (max-width: 1400px) {
  .teammate {
    height: 18vw; }
  .banner {
    height: 28vw; } }

.home-page {
  height: 100vh;
  padding-left: 150px;
  padding-right: 150px;
  background: #121822; }
  .home-page .main-header {
    background: transparent;
    margin: auto;
    position: sticky; }
  .home-page main {
    height: calc(100% - 80px); }

.home-globe {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  transform: translate(170px); }

#globeViz {
  width: 100%;
  height: 100vh; }

body {
  font-family: "Montserrat"; }

.content-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%; }

.page-wrapper {
  height: 100%; }

.navbar {
  padding: 0px 30px; }

.globe-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  background: black;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  opacity: 1;
  transition: 0.2s all;
  display: flex;
  align-items: center;
  justify-content: center; }
  .globe-loader p {
    color: white;
    font-size: 30px; }

.hide-loader {
  opacity: 0;
  pointer-events: none; }

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(95, 255, 210, 0.07);
  width: 100%;
  height: 100vh;
  z-index: 9;
  pointer-events: none; }

.btns-container {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 999; }

.btns-container-list {
  display: flex; }
  .btns-container-list li {
    margin-left: 10px;
    border: 0px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #171819;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; }

.zIndex {
  position: relative;
  z-index: 99; }

.home-flex {
  position: relative;
  height: calc(100% - 80px);
  pointer-events: none;
  z-index: 99;
  display: flex;
  flex-direction: column; }
  .home-flex-text {
    position: relative;
    top: 30%;
    transform: translate(0, -50%); }
    .home-flex-text p {
      text-transform: uppercase;
      font-family: "light"; }
      .home-flex-text p:nth-child(1) {
        font-size: 20px; }
    .home-flex-text h3 {
      font-family: "bold";
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 24px;
      text-transform: uppercase; }
  .home-flex .socials {
    top: 60%;
    position: relative;
    transform: translate(0, -50%); }

.addImgInput {
  position: absolute;
  right: 0px;
  top: -10px;
  transform: translate(0, -100%);
  width: 40px;
  height: 40px;
  background: white;
  z-index: 999999;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }

.addImgInput input {
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99;
  cursor: pointer; }

.addImgInput p {
  color: black;
  font-size: 24px;
  position: relative;
  z-index: 0;
  cursor: pointer; }

.globe-card {
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  z-index: 9999;
  background: #1a1a1a;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s all;
  display: none;
  opacity: 0;
  justify-content: space-between; }

.card-quotes {
  position: absolute;
  font-family: "bold-oblique";
  font-size: 22px; }
  .card-quotes-left {
    left: 5px;
    top: 0px; }
  .card-quotes-right {
    right: 5px;
    bottom: 0px; }

.c-card,
.d-card,
.g-card {
  width: 700px; }

.card-avatar {
  min-height: 100%;
  position: relative; }
  .card-avatar img {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    object-fit: cover;
    object-position: center; }

.card-type {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px;
  font-size: 13px; }

.card-name {
  font-size: 26px;
  text-align: center;
  font-family: "bold";
  letter-spacing: 3.96px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 99%; }

.card-address {
  font-size: 16px;
  margin-bottom: 10px; }

.card-data {
  padding: 20px; }

.card-date {
  text-transform: capitalize; }
  .card-date p {
    font-family: "light";
    font-size: 11px; }

.border {
  background: #333333;
  height: 2px;
  width: 100%; }

.card-location {
  margin-bottom: 10px; }
  .card-location img {
    width: 10px;
    height: 10px;
    margin-right: 5px; }
  .card-location p {
    font-size: 12px;
    font-family: "Montserrat";
    letter-spacing: 1.08px; }

.card-nickname {
  margin-bottom: 10px;
  font-size: 14px;
  color: #75a2ff;
  text-align: center;
  font-family: "light";
  letter-spacing: 1.9px; }

.card-links a {
  width: 30px;
  height: 30px;
  position: relative;
  margin-left: 10px; }
  .card-links a img {
    width: 100%;
    height: 100%; }

.c-card {
  min-height: 428px;
  border: 3px solid #60e5ff; }
  .c-card .card-data {
    padding-bottom: 20px;
    width: calc(100% - 200px); }
  .c-card .card-avatar {
    width: 200px; }
  .c-card .card-type {
    background: transparent linear-gradient(180deg, #60e5ff 0%, #7998ff 100%) 0% 0% no-repeat padding-box; }
  .c-card-repos {
    padding: 10px 5px;
    flex-wrap: wrap; }
    .c-card-repos-top {
      width: 100%;
      margin-bottom: 20px; }
      .c-card-repos-top p {
        letter-spacing: 0.44px;
        font-size: 12px; }
      .c-card-repos-top img {
        margin-right: 10px;
        width: 20px;
        height: auto; }
    .c-card-repos h5 {
      text-align: left;
      font-size: 14px;
      margin-bottom: 10px;
      color: #60e4ff;
      font-weight: 500; }
    .c-card-repos span {
      width: 50%; }
    .c-card-repos p {
      font-size: 12px;
      line-height: 20px;
      text-align: left;
      color: #d0d0d0; }
    .c-card-repos aside {
      margin-top: 15px;
      border-radius: 20px;
      padding: 5px 15px 5px 25px;
      font-size: 12px;
      width: fit-content;
      position: relative; }
      .c-card-repos aside:before {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        left: 10px;
        top: 50%;
        transform: translate(0%, -50%); }
    .c-card-repos-ts {
      padding-right: 20px; }
      .c-card-repos-ts aside {
        border: 2px solid #56baca;
        color: #56baca; }
        .c-card-repos-ts aside:before {
          background: #56baca; }
    .c-card-repos-js {
      padding-left: 20px;
      border-left: 2px solid #333333; }
      .c-card-repos-js aside {
        border: 2px solid #fcde7b;
        color: #fcde7b; }
        .c-card-repos-js aside:before {
          background: #fcde7b; }
  .c-card .card-links {
    margin-top: 10px;
    margin-bottom: 20px; }
  .c-card-interests {
    padding-top: 20px;
    align-items: center; }
    .c-card-interests p {
      font-size: 14px;
      text-transform: capitalize; }
    .c-card-interests ul {
      margin-left: 10px;
      flex: 1; }
      .c-card-interests ul li {
        padding: 3px 10px;
        background: transparent linear-gradient(180deg, #63daff 0%, #69bafc 100%) 0% 0% no-repeat padding-box;
        border: 1px solid #2d3c41;
        margin-right: 5px;
        border-radius: 20px;
        font-size: 12px;
        white-space: nowrap;
        color: #1a1a1a;
        font-weight: 500;
        flex-grow: 1; }
        .c-card-interests ul li:last-child {
          margin: 0px;
          background: transparent;
          border: 1px solid #63daff;
          color: #63daff; }

.d-card {
  border: 3px solid #d0fb6e; }
  .d-card .card-type {
    background: #d0fb6e 0% 0% no-repeat padding-box;
    color: black; }
  .d-card .card-avatar {
    width: 230px; }
  .d-card .card-data {
    width: calc(100% - 230px); }
  .d-card .card-links {
    margin: 10px 0px 20px 0px; }
  .d-card-wallets {
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px; }
    .d-card-wallets h5 {
      width: 100%;
      margin-bottom: 20px;
      font-size: 14px;
      font-family: "light";
      text-align: center;
      letter-spacing: 0.8px; }
    .d-card-wallets img {
      width: 100px;
      height: auto; }
      .d-card-wallets img:first-of-type {
        margin-right: 40px; }
  .d-card-text {
    position: relative;
    padding: 10px 30px 10px 30px; }
    .d-card-text p {
      color: #d0d0d0;
      font-weight: 300;
      text-align: center;
      font-size: 15px; }
    .d-card-text .card-quotes {
      color: #d0fb6e; }
  .d-card-link {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 2px solid #d0fb6e;
    border-radius: 50px;
    color: #d0fb6e;
    padding: 8px 20px;
    font-family: "Montserrat";
    text-transform: capitalize;
    letter-spacing: 1px;
    text-decoration: none; }

.g-card {
  height: auto;
  border: 3px solid #cd91ff; }
  .g-card .card-avatar {
    width: 200px; }
  .g-card .card-data {
    width: calc(100% - 200px); }
  .g-card-stake {
    padding-top: 20px;
    padding-bottom: 10px; }
    .g-card-stake h4 {
      font-size: 24px;
      font-family: "bold";
      letter-spacing: 2.5px; }
    .g-card-stake p {
      font-size: 13px;
      margin-top: 0px;
      font-family: "light";
      color: #d0d0d0;
      text-transform: capitalize; }
    .g-card-stake div:last-child {
      margin-top: 15px; }
  .g-card .card-links {
    margin-bottom: 20px;
    margin-top: 10px; }

.r-paper {
  border: 3px solid #ff7c00;
  width: 500px;
  align-items: center;
  padding: 20px; }
  .r-paper .card-name {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 10px; }
  .r-paper-sub-title {
    color: #ff7c00;
    font-family: "bold";
    letter-spacing: 1.1px;
    font-family: 14px;
    width: 70%;
    margin: auto;
    text-align: center; }
  .r-paper-date {
    margin-top: 10px; }
    .r-paper-date h5 {
      color: #703f11;
      font-family: "light";
      margin-right: 5px;
      font-size: 12px; }
    .r-paper-date p {
      font-family: "light";
      font-size: 12px; }
  .r-paper-img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 170px; }
    .r-paper-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .r-paper-link {
    background: #ff7c00;
    color: white; }

.blog-post {
  width: 500px;
  align-items: center;
  padding: 20px 40px 20px 40px;
  border: 3px solid #00bfe8; }
  .blog-post-small-title {
    color: #d0d0d0;
    text-transform: capitalize;
    font-family: "bold";
    letter-spacing: 1.1px; }
  .blog-post-name {
    font-size: 22px;
    text-align: center;
    font-family: "bold";
    letter-spacing: 3px;
    text-transform: uppercase; }
  .blog-post-date {
    margin-top: 10px; }
    .blog-post-date p {
      font-family: "light";
      font-size: 12px; }
    .blog-post-date-text {
      margin-right: 5px;
      color: #d0d0d0; }
  .blog-post-img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 170px; }
    .blog-post-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .blog-post-link {
    background: #00d9c4;
    color: #00100c; }

.card-text {
  color: #d0d0d0;
  margin-right: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center; }
  .card-text p {
    color: #d9d9d9;
    font-size: 14px;
    text-align: center; }

.card-link-btn {
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-family: "Montserrat";
  font-size: 14px;
  margin-top: 20px;
  font-weight: 500;
  letter-spacing: 1px; }

.main-header {
  margin: 0px;
  width: 100%;
  height: 80px;
  z-index: 999999;
  position: relative; }

.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: 0.2s all; }

.menu-burger-wrapper {
  align-items: center; }
  .menu-burger-wrapper .logo {
    height: 30px;
    object-fit: contain;
    margin-left: 25px; }

.menu-burger {
  display: flex;
  background: transparent;
  align-items: center;
  justify-content: center;
  border: 0px;
  width: 25px;
  height: 25px; }
  .menu-burger img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.navbar-flags {
  display: flex;
  align-items: center;
  color: white; }

.navbar-flags span {
  margin-right: 10px; }

.navbar-flags span p {
  margin-left: 5px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px; }

.navbar-flags-list {
  display: flex;
  align-items: center; }

.navbar-flags-list li {
  background: transparent;
  border: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 15px; }

.navbar-flags-list li img {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.navbar-menu-show {
  transform: translate(0%); }

.nav-menu {
  overflow: hidden;
  position: fixed;
  width: 740px;
  background: #171819;
  height: 100%;
  top: 0px;
  left: 0px;
  transform: translate(-100%);
  transition: 0.2s all ease-in;
  padding-left: 110px;
  padding-top: 40px;
  opacity: 0;
  z-index: 999999; }
  .nav-menu .menu-burger-wrapper {
    margin-bottom: 30px; }
  .nav-menu a {
    color: white;
    text-transform: uppercase;
    text-decoration: none; }
  .nav-menu-section {
    margin-bottom: 15px; }
    .nav-menu-section h4 {
      font-family: "bold";
      font-size: 18px;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 10px;
      color: #5effd1; }
  .nav-menu-link {
    position: relative;
    margin-bottom: 5px;
    transition: 0.15s all;
    width: fit-content;
    height: 24px;
    display: flex;
    align-items: center; }
    .nav-menu-link figure {
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translate(-50%);
      width: 14px;
      background: #b31c85;
      height: 2px;
      opacity: 0;
      pointer-events: none;
      transition: 0.2s all; }
    .nav-menu-link a {
      font-size: 13px;
      height: 100%;
      display: flex;
      align-items: center;
      font-family: "light"; }
    .nav-menu-link:hover {
      padding-left: 15px; }
      .nav-menu-link:hover figure {
        opacity: 1; }
  .nav-menu-resources ul {
    flex-wrap: wrap; }
    .nav-menu-resources ul li {
      padding-left: 10px;
      padding-right: 10px;
      height: 40px;
      display: flex;
      align-items: center;
      border: 1px solid #cecece;
      justify-content: center;
      margin-right: 15px;
      margin-bottom: 15px; }
      .nav-menu-resources ul li:last-child {
        margin-bottom: 0px; }
      .nav-menu-resources ul li a {
        font-size: 11px;
        font-family: "bold"; }
      .nav-menu-resources ul li figure {
        display: none; }
  .nav-menu-show {
    transform: translate(0%);
    opacity: 1; }

.footer-wrapper {
  margin-top: 100px; }

.footer-flex {
  display: flex;
  margin: auto; }

.footer-wrapper {
  background: #171819;
  color: white;
  padding-bottom: 40px;
  font-family: "Montserrat"; }

.footer-wrapper p,
.footer-wrapper h5 {
  text-align: left; }

.footer-wrapper h5 {
  margin-bottom: 10px; }

.footer-wrapper p {
  font-size: 15px; }

.footer-section {
  width: calc(100% / 4);
  padding-right: 40px; }

.footer-post {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #707070;
  align-items: flex-start; }
  .footer-post figure {
    width: 40px;
    height: 40px;
    background: lightgray;
    margin-right: 10px;
    margin-top: 5px; }
  .footer-post-content {
    flex: 1; }

.footer-post-text {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.4em; }

.footer-post:last-of-type {
  border: 0px; }

.footer-navigation a {
  color: white;
  letter-spacing: 2.34px;
  text-transform: uppercase;
  line-height: 24px;
  transition: 0.2s all;
  opacity: 0.6;
  font-size: 15px; }

.footer-navigation a:hover {
  opacity: 1; }

.faq-flex {
  margin: auto;
  height: auto;
  padding-bottom: 200px;
  align-items: flex-start; }

.faq-desc * {
  text-align: left; }

.faq-desc-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px; }

.faq-desc p {
  font-size: 15px;
  width: 250px; }

.faq-desc-links {
  margin-top: 20px;
  display: flex;
  flex-direction: column; }
  .faq-desc-links a {
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: white; }

.faq-desc-questions {
  margin-top: 50px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 60px; }
  .faq-desc-questions h5 {
    margin-bottom: 10px; }
  .faq-desc-questions a {
    text-decoration: underline;
    color: #e61ea9; }

.faq-lists-category {
  position: relative;
  margin-bottom: 25px; }
  .faq-lists-category-indicator {
    position: absolute;
    top: -100px; }
  .faq-lists-category h5 {
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: left; }
  .faq-lists-category ul .faq-element {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    min-height: 50px;
    cursor: pointer;
    padding-right: 50px;
    margin-bottom: 5px; }
    .faq-lists-category ul .faq-element:last-of-type {
      margin-bottom: 0px; }
    .faq-lists-category ul .faq-element-overlay {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%; }
    .faq-lists-category ul .faq-element-arrow {
      width: 8px;
      height: 8px;
      position: absolute;
      right: 25px;
      transform: translate(0, -50%) rotate(-45deg);
      top: 50%; }
    .faq-lists-category ul .faq-element p {
      text-align: left; }
    .faq-lists-category ul .faq-element-title {
      height: 50px;
      display: flex;
      align-items: center; }
      .faq-lists-category ul .faq-element-title p {
        font-size: 15px; }
    .faq-lists-category ul .faq-element-text {
      height: 0px;
      overflow: hidden;
      transition: 0.15s all;
      opacity: 0; }
      .faq-lists-category ul .faq-element-text p {
        line-height: 23px; }

.blog-header {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .blog-header h1 {
    font-family: "bold";
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px; }
  .blog-header-subtitle h3 {
    text-align: center;
    font-size: 17px; }
  .blog-header-list {
    display: flex;
    margin-top: 30px; }
    .blog-header-list li {
      text-transform: uppercase;
      padding: 3px 15px;
      font-size: 12px;
      border: 1px solid white;
      border-radius: 20px;
      margin-right: 10px; }
      .blog-header-list li:last-child {
        margin-right: 0px; }

.blog-sub-title {
  font-size: 17px;
  margin-top: 10px; }

.blog-list {
  margin-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap; }

.blog-card {
  width: calc(50% - 10px);
  margin-right: 20px;
  margin-bottom: 40px;
  height: 400px; }
  .blog-card:nth-child(even) {
    margin-right: 0px; }
  .blog-card a {
    text-decoration: none; }
  .blog-card-content {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: flex-end; }
    .blog-card-content-type {
      border: 1px solid rgba(255, 255, 255, 0.7);
      border-top-right-radius: 10px;
      padding: 5px 15px;
      width: fit-content;
      position: relative;
      z-index: 1;
      display: flex;
      margin-bottom: 20px; }
      .blog-card-content-type section {
        margin-right: 20px;
        display: flex; }
        .blog-card-content-type section img {
          margin-right: 10px;
          width: auto;
          height: 15px; }
        .blog-card-content-type section p {
          font-size: 14px; }
        .blog-card-content-type section:last-of-type {
          margin-right: 0px; }
    .blog-card-content-author {
      position: relative; }
      .blog-card-content-author p:nth-child(1) {
        margin-right: 5px; }
      .blog-card-content-author a {
        text-decoration: underline; }
    .blog-card-content-img {
      overflow: hidden;
      width: 100%;
      position: absolute;
      height: 100%;
      left: 0px;
      top: 0px; }
      .blog-card-content-img img {
        transform: scale(1.05);
        object-fit: cover;
        width: 100%;
        height: 100%; }
    .blog-card-content-text {
      position: relative;
      z-index: 1; }
      .blog-card-content-text p {
        font-size: 27px;
        font-weight: bold;
        margin-bottom: 10px; }
  .blog-card-author {
    display: none;
    height: 60px;
    padding-top: 20px; }
    .blog-card-author figure {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border-radius: 50%;
      background: white;
      overflow: hidden; }
      .blog-card-author figure img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .blog-card-author p {
      font-size: 14px;
      font-weight: 500; }
    .blog-card-author small {
      position: relative;
      margin-right: 10px;
      margin-left: 10px; }
      .blog-card-author small::after {
        position: absolute;
        border-radius: 50%;
        content: "";
        width: 4px;
        height: 4px;
        transform: translate(-50%, -50%);
        background: white; }

.blog-inner .blog-card {
  width: 100%;
  margin-right: 0px;
  height: 500px; }
  .blog-inner .blog-card-content {
    pointer-events: none;
    height: calc(100% - 60px);
    border: none; }
    .blog-inner .blog-card-content-img {
      border-radius: 5px; }
    .blog-inner .blog-card-content-type {
      display: none; }
    .blog-inner .blog-card-content-author {
      display: none; }
  .blog-inner .blog-card-author {
    display: flex; }

.blog-inner-content {
  width: 700px;
  margin: auto; }
  .blog-inner-content p {
    margin-bottom: 20px; }
  .blog-inner-content img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px; }
  .blog-inner-content h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold; }

.overview {
  position: relative; }
  .overview .page-header {
    position: relative; }
    .overview .page-header h1 {
      margin-top: 0px; }
    .overview .page-header figure {
      width: 100%; }
      .overview .page-header figure img {
        object-fit: contain;
        transform: scale(1.55) translate(0, -50px); }
  .overview-flex {
    width: 60%; }
    .overview-flex .text-with-title {
      margin-bottom: 30px; }
  .overview .images-grid {
    margin-top: 50px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 30px; }
  .overview-boxes-flex .box {
    width: calc(100% / 3 - 10px);
    margin-right: 10px; }
  .overview-bottom-flex {
    margin-top: 40px; }
    .overview-bottom-flex .text-with-title {
      border: 0px;
      margin-bottom: 30px; }
    .overview-bottom-flex .text {
      margin-bottom: 40px; }
    .overview-bottom-flex .images-grid {
      margin-bottom: 40px; }
  .overview .list-box {
    width: 600px; }
    .overview .list-box li {
      padding-left: 20px;
      position: relative; }
      .overview .list-box li:after {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #ff3ee1;
        content: "";
        left: 0px;
        top: 6px; }
    .overview .list-box ul {
      margin-bottom: 20px; }
  .overview .expend-btn {
    padding: 10px 20px;
    background: transparent;
    border-radius: 20px;
    border: 1px solid white;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Montserrat"; }

.universe p {
  font-size: 14px; }

.universe-first-sections {
  align-items: stretch; }
  .universe-first-sections-section {
    width: 50%; }
    .universe-first-sections-section span {
      margin-bottom: 10px; }
      .universe-first-sections-section span img {
        margin-right: 10px; }
      .universe-first-sections-section span h4 {
        font-size: 20px;
        font-weight: bold; }
    .universe-first-sections-section:nth-child(odd) {
      padding-right: 80px;
      border-right: 1px solid lightgray; }
    .universe-first-sections-section:nth-child(even) {
      padding-left: 80px; }
    .universe-first-sections-section * {
      text-align: left; }
    .universe-first-sections-section a[title="button"] {
      padding: 0px 10px;
      height: 40px;
      display: flex;
      width: fit-content;
      background: white;
      align-items: center;
      justify-content: center;
      color: black;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 40px; }
    .universe-first-sections-section a[title="link"] {
      color: white;
      text-decoration: underline; }
    .universe-first-sections-section ul {
      list-style: disc;
      margin-bottom: 20px;
      list-style-position: inside; }
      .universe-first-sections-section ul:last-child {
        margin-bottom: 0px; }
      .universe-first-sections-section ul li {
        margin-bottom: 8px;
        font-size: 14px; }
        ine .universe-first-sections-section ul li:last-child {
          margin-bottom: 0px; }
    .universe-first-sections-section h5 {
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: bold; }

.universe-second-sections {
  margin-top: 120px;
  align-items: flex-start; }
  .universe-second-sections .text-with-title {
    width: 50%;
    padding-right: 30px; }
  .universe-second-sections .images-grid {
    padding-left: 30px; }
    .universe-second-sections .images-grid-title {
      font-size: 15px; }
    .universe-second-sections .images-grid li p {
      font-size: 14px; }

.universe .text {
  margin-top: 60px;
  width: 80%;
  font-size: 15px; }

.universe-third-sections {
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 40px; }
  .universe-third-sections .text-with-title {
    width: calc(100% / 2 - 30px);
    margin-bottom: 30px; }
    .universe-third-sections .text-with-title:nth-child(even) {
      margin-left: auto; }
    .universe-third-sections .text-with-title .expend-btn {
      color: #ff2cbf;
      background: transparent;
      border: none; }

.smart-contracts-flex {
  flex-wrap: wrap;
  align-items: flex-start; }
  .smart-contracts-flex .text-with-title {
    width: calc(100% / 2 - 30px);
    margin-bottom: 30px; }
    .smart-contracts-flex .text-with-title:nth-child(even) {
      margin-left: auto; }
    .smart-contracts-flex .text-with-title .expend-btn {
      color: #ff2cbf;
      background: transparent;
      border: none; }
    .smart-contracts-flex .text-with-title:last-child {
      border: 0px; }

.smart-contracts-management {
  margin-top: 30px; }
  .smart-contracts-management .text-with-title {
    border: none;
    width: 70%;
    max-height: 700px; }
    .smart-contracts-management .text-with-title p {
      margin-bottom: 15px; }

.smart-contracts-boxes {
  margin-top: 20px; }
  .smart-contracts-boxes h4 {
    margin-bottom: 10px;
    color: #ff2cbf;
    font-size: 17px; }
  .smart-contracts-boxes-flex {
    width: 80%;
    flex-wrap: wrap; }
    .smart-contracts-boxes-flex .box {
      margin-bottom: 15px;
      width: calc(100% / 3 - 15px);
      margin-right: 15px; }
