html {
	height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  margin: 20px;
}

main {
  flex-grow: 1;
}

.hero h1 {
  font-size: 30px;
  font-weight: bold;
}

.hero h2 {
  font-size: 20px;
}
