@import "./menu.scss";

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, 0.2);
  backdrop-filter: blur(10px);
  z-index: 999;
  
  transition: 0.2s all;
  pointer-events: none;
}
.overlay-active {
  opacity: 1;
}

.navbar {
  position: fixed;
  height: $navbar-height;
  width: 100%;
  z-index: 999;
  left: 0px;
  display: flex;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s all;
  &-flex {
    position: relative;
    margin-top: 0px;
    height: 100%;
  }
  &-top {
    height: 100%;
    &-right {
      display: flex;
      align-items: center;
    }
    &-action-btn {
      transition: 0.15s all;
      margin-left: 20px;
      font-size: 0.625rem;
      text-transform: uppercase;
      letter-spacing: 0.073rem;
      font-family: $text-font;
      text-decoration: none;
      color: $text-color;
    }
    &-flags {
      display: flex;
      align-items: center;
      margin-left: 30px;
      li {
        width: 20px;
        height: 16px;
        cursor: pointer;
        margin-left: 16px;
        &:first-child {
          margin-left: 0px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.menu-burger {
  display: flex;

  &-toggle {
    position: relative;
    top: -2px;
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    border: 0px;
    width: 30px;
    height: 20px;
    margin-right: 18px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  aside {
    border-radius: 25px;
    width: 100%;
    height: 2.3px;
    background: #00fdf5;
  }

  .logo {
    object-fit: contain;
    display: flex;
    align-items: center;
    text-decoration: none;
    p {
      // @extend .gradient-text;
      padding-left: 10px;
    }
    img {
      height: 40px;
      width: auto;
    }
  }
}

.navbar-hidden {
  transform: translate(0, -100%);
}

.active-navbar {
  background: $base-bg-color;
}

@media only screen and (min-width: $mobile) {
  .navbar {
    &-menu {
      &-resources {
        width: calc(170px * 3 + 30px);
        gap: 10px;
          &-box{
            width: 170px;
          }
      }
      &-links {
        &-link {
          &:hover {
            figure {
              opacity: 1;
            }
            a {
              padding-left: 20px;
            }
          }
        }
        &-sub {
          &:hover {
            padding-left: 36px;
            figure {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .navbar {
    &-top {
      &-action-btn {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .navbar {
    height: 70px;

    .menu-burger {
      &-toggle {
        margin-right: 25px;
      }
      .logo {
        margin-top: 3px;
        img {
          height: 27px;
        }
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  .navbar {
    .menu-burger {
      .logo {
        margin-top: 3px;
        img {
          height: 22px;
        }
      }
      &-toggle {
        margin-right: 15px;
      }
    }
    &-top {
      &-flags {
        li {
          width: 22px;
          height: 18px;
        }
      }
    }
  }
}
