.main-header {
  position: fixed;
  height: $navbar-height;
  width: 100%;
  z-index: 9999999;
  left: 0px;
  display: flex;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s all;
}

.menu-burger {
  display: flex;
  &-toggle {
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    border: 0px;
    width: 30px;
    height: 20px;
    margin-right: 40px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  aside {
    border-radius: 25px;
    width: 100%;
    height: 2px;
    background: #00fdf5;
  }

  .logo {
    object-fit: contain;
    img {
      height: 33px;
      width: auto;
    }
  }
}

.navbar-flags {
  display: flex;
  align-items: center;
  color: white;
  .subscribe-btn {
    margin-right: 10px;
    border-bottom: 2px solid transparent;
    transition: 0.15s all;
    p {
      margin-left: 5px;
      font-size: 0.688rem;
      text-transform: uppercase;
      letter-spacing: 0.125rem;
    }
  }
  &-list {
    display: flex;
    align-items: center;
    li {
      width: 25px;
      height: 20px;
      cursor: pointer;
      margin-left: 15px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.nav-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  opacity: 0;
  z-index: 999999;
  overflow: hidden;
  pointer-events: none;
  transition: 0.2s all ease-in;
  justify-content: center;
  display: none;

  &-bg {
    background: #1a1a1a;
    width: 55vw;
    min-width: 860px;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    transform: translate(-100%);
    transition: 0.3s all ease-in;
  }
  &-content {
    position: relative;
    transform: translate(-100%);
    left: 0px;
    transition: 0.3s all ease-in;
    &-header {
      background: #1a1a1a;
      position: sticky;
      top: 0px;
      z-index: 999;
      height: 100px;
      align-items: center;
    }
    &-flex {
      height: 100vh;
      width: 700px;
      padding-bottom: 100px;
      overflow: auto;
    }
  }
  &-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    transition: 0.2s all ease-in;
    opacity: 0;
    background: #2eb790;
  }

  &-show {
    opacity: 1;
    pointer-events: all;
    .nav-menu-content {
      transform: translate(0%);
    }
    .nav-menu-bg {
      transform: translate(0%);
    }
    .nav-menu-overlay {
      opacity: 0.15;
    }
  }

  &-links {
    margin-bottom: 27px;
    &-title {
      font-family: $bold-font;
      font-size: 18px;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 20px;
      color: #00fdf5;
      letter-spacing: 2.11px;
      line-height: 30px;
    }
    &-link {
      position: relative;
      margin-bottom: 10px;
      display: flex;
      width: fit-content;
      text-decoration: none;
      transition: 0.2s all;
      figure {
        position: absolute;
        left: 0px;
        top: 60%;
        transform: translate(0, -50%);
        width: 14px;
        border-bottom: 2px solid $pink;
        height: 1px;
        opacity: 0;
        pointer-events: none;
        transition: 0.2s all;
      }
      &-text {
        letter-spacing: 1.17px;
        font-family: $light-font;
        font-size: 10px;
        line-height: 17px;
        text-transform: uppercase;
      }
      &:hover {
        padding-left: 20px;
        figure {
          opacity: 1;
        }
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }

    .socials {
      margin-top: 30px;
    }
    &-sub {
      figure {
        border-left: 2px solid $pink;
        height: 14px;
        left: 15px;
        top: 30%;
      }
      &:hover {
        padding-left: 36px;
        figure {
          opacity: 1;
        }
      }
    }
  }

  &-resources {
    &-list {
      display: flex;
      flex-wrap: wrap;
    }
    .grid-3 {
      li {
        width: calc(100% / 3 - 7.5px);
      }
    }
    &-box {
      margin-right: 10px;
      margin-top: 10px;
      border: 0.5px solid #cecece;
      height: 72px;
      padding: 15px 10px 10px 15px;
      &:nth-child(3n) {
        margin-right: 0px;
      }
      a {
        width: 100%;
        height: 100%;
      }
      * {
        text-decoration: none;
      }
      &-icon {
        width: 20px;
        height: 19px;
        object-fit: contain;
        margin-right: 10px;
      }
      &-bottom {
        overflow: hidden;
        margin-top: auto;
      }
      &-title {
        font-family: $bold-font;
        font-size: 9px;
        letter-spacing: 1.05px;
        white-space: nowrap;
        max-width: calc(100% - 20px);
        text-transform: uppercase;

        overflow: hidden;
        text-overflow: ellipsis;
      }
      &-text {
        font-family: $light-font;
        font-size: 10px;

        width: 100%;
      }
    }
  }
}

.scrolled-navbar {
  background: $base-bg-color;
}
