@import './menu.scss';

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  z-index: 999;

  transition: 0.2s all;
  pointer-events: none;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: unset;
  gap: 15px;
  font-size: 17px;
  height: fit-content;
  img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
}

.show-menu {
  position: absolute;
  left: -73px;
  top: 50%;
  transform: translate(0, -50%);
  width: 27px;
  & img {
    width: 100%;
  }
}

.overlay-active {
  opacity: 1;
}

.navbar {
  position: fixed;
  height: $navbar-height;
  width: 100%;
  z-index: 999;
  left: 0px;
  display: flex;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s all;

  &-flex {
    position: relative;
    margin-top: 0px;
    height: 100%;
  }
  &-top {
    height: 100%;
    position: relative;
    align-items: center;
    &-left {
    }
    &-right {
      display: flex;
      align-items: center;
    }
    &-action-btn {
      transition: 0.15s all;
      margin-left: 20px;
      font-size: 0.7rem;
      text-transform: uppercase;
      letter-spacing: 0.073rem;
      font-family: $text-font;
      text-decoration: none;
      color: $text-color;
    }
    &-flags {
      display: flex;
      align-items: center;
      margin-left: 30px;
      li {
        width: 20px;
        height: 16px;
        cursor: pointer;
        margin-left: 16px;
        &:first-child {
          margin-left: 0px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.navbar-hidden {
  transform: translate(0, -100%);
}

.active-navbar {
  background: $app-background-color;
}

@media only screen and (min-width: $mobile) {
  .navbar {
    &-menu {
      &-resources {
        width: calc(190px * 3 + 30px);
        gap: 10px;
        &-box {
          width: 190px;
        }
      }
      &-links {
        &-link {
          &:hover {
            figure {
              opacity: 1;
            }
            a {
              padding-left: 20px;
            }
          }
        }
        &-sub {
          &:hover {
            padding-left: 36px;
            figure {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1420px) {
  .navbar-top-left {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .show-menu {
    position: static;
    transform: unset;
  }
}

@media only screen and (max-width: 900px) {
  .navbar {
    &-top {
      &-action-btn {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .navbar {
    height: 70px;
  }
}

@media only screen and (max-width: 350px) {
  .navbar {
    &-top {
      &-flags {
        li {
          width: 22px;
          height: 18px;
        }
      }
    }
  }
}
