.main-header {
  position: fixed;
  height: $navbar-height;
  width: 100%;
  z-index: 9999999;
  left: 0px;
  display: flex;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s all;
}

.menu-burger {
  display: flex;
  &-toggle {
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    border: 0px;
    width: 30px;
    height: 20px;
    margin-right: 40px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  aside {
    border-radius: 25px;
    width: 100%;
    height: 2.3px;
    background: #00fdf5;
  }

  .logo {
    object-fit: contain;
    img {
      height: 33px;
      width: auto;
    }
  }
}

.navbar-flags {
  display: flex;
  align-items: center;
  color: white;
  .subscribe-btn {
    margin-right: 10px;
    border-bottom: 2px solid transparent;
    transition: 0.15s all;
    p {
      margin-left: 5px;
      font-size: 0.688rem;
      text-transform: uppercase;
      letter-spacing: 0.125rem;
    }
  }
  &-list {
    display: flex;
    align-items: center;
    li {
      width: 25px;
      height: 20px;
      cursor: pointer;
      margin-left: 15px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.nav-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  opacity: 0;
  z-index: 999999;
  overflow: hidden;
  pointer-events: none;
  transition: 0.2s all ease-in;
  justify-content: center;
  display: none;
  .socials {
    padding-top: 5px;
    &-element {
      margin-right: 15px;
      width: 25px;
      height: 25px;
    }
  }
  &-bg {
    display: none;
  }
  &-content {
    transform: translate(-100%);
    left: 0px;
    transition: 0.3s all ease-in;
    background: transparent;
    z-index: 10;
    position: relative;
    &::after {
      background: #1a1a1a;
      width: 55vw;
      min-width: 860px;
      position: absolute;
      left: calc((1312px - 100vw) / 2);
      top: 0px;
      height: 100%;
      pointer-events: none;
      content: "";
    }
    &-header {
      background: #1a1a1a;
      position: sticky;
      top: 0px;
      z-index: 999;
      height: 100px;
      align-items: center;
    }
    &-flex {
      height: 100vh;
      width: 700px;
      padding-bottom: 100px;
      overflow-y: auto;
      position: relative;
      * {
        z-index: 100;
        position: relative;
      }
    }
  }
  &-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    transition: 0.2s all ease-in;
    opacity: 0;
    background: #009a95;
  }

  &-show {
    opacity: 1;
    pointer-events: all;
    .nav-menu-content {
      transform: translate(0%);
    }
    .nav-menu-bg {
      transform: translate(0%);
    }
    .nav-menu-overlay {
      opacity: 0.42;
    }
  }

  &-links {
    margin-bottom: 23px;
    &:last-child {
      .nav-menu-links-link {
        margin-bottom: 10px;
      }
    }
    &-title {
      font-family: $bold-font;
      font-size: 1.125rem;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 23px;
      color: $light-color;
      letter-spacing: 2.11px;
    }
    &-link {
      position: relative;
      margin-bottom: 19px;
      display: flex;
      width: fit-content;
      text-decoration: none;
      transition: 0.2s all;
      figure {
        position: absolute;
        left: 0px;
        top: 60%;
        transform: translate(0, -50%);
        width: 14px;
        border-bottom: 2px solid $pink;
        height: 1px;
        opacity: 0;
        pointer-events: none;
        transition: 0.2s all;
      }
      &-text {
        letter-spacing: 1.17px;
        font-family: $light-font;
        font-size: 10px;
        line-height: 17px;
        text-transform: uppercase;
      }
      &:hover {
        padding-left: 20px;
        figure {
          opacity: 1;
        }
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }

    &-sub {
      figure {
        border-left: 2px solid $pink;
        height: 14px;
        left: 15px;
        top: 30%;
      }
      &:hover {
        padding-left: 36px;
        figure {
          opacity: 1;
        }
      }
    }
  }

  &-resources {
    &-list {
      display: flex;
      flex-wrap: wrap;
    }

    &-box {
      margin-right: 10px;
      margin-top: 10px;
      border: 0.5px solid #cecece;
      height: 72px;
      padding: 12px 10px 10px 15px;
      transition: 0.15s all;

      &:hover {
        border: 1px solid #03fcf5;
      }
      a {
        width: 100%;
        height: 100%;
      }
      * {
        text-decoration: none;
      }
      &-icon {
        width: 20px;
        height: 19px;
        object-fit: contain;
        margin-right: 10px;
      }
      &-bottom {
        overflow: hidden;
        margin-top: auto;
      }
      &-title {
        font-family: $bold-font;
        font-size: 9px;
        letter-spacing: 1.05px;
        white-space: nowrap;
        max-width: calc(100% - 20px);
        text-transform: uppercase;

        overflow: hidden;
        text-overflow: ellipsis;
      }
      &-text {
        font-family: $light-font;
        font-size: 10px;
        width: 100%;
        color: $light-color;
      }
    }
  }
}

.scrolled-navbar {
  background: $base-bg-color;
}

@media only screen and (max-width: $laptop) {
  .nav-menu {
    &-content {
      &::after {
        left: -50px;
      }
    }
  }
}
@media only screen and (min-width: $mobile) {
  .nav-menu {
    &-resources {
      @include grid-3(10px, 10);
    }
  }
}

@media only screen and (max-width: 900px) {
  .nav-menu {
    &-content {
      &-flex {
        width: 100%;
      }
      &::after {
        width: calc(100vw + 50px);
        min-width: 0px;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .navbar {
    &-flags {
      display: none;
    }
  }

  .nav-menu {
    &-resources {
      @include grid-2(10, 10);
    }
    &-content {
      &::after {
        left: -22.5px;
      }
    }
  }
}
