.navbar-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  transition: 0.25s all;
  -webkit-transition: 0.25s all;
  z-index: 10;
  width: 100vw;
  max-width: 870px;
  overflow: auto;
  height: 100vh;
  padding-bottom: 50px;
  top: 0px;
  opacity: 1;
  z-index: 9999;
  justify-content: center;
  padding-left: 200px;
  padding-right: 63px;
  transform: translate(-100%);
  background-color: hsla(0, 100%, 50%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(230, 74%, 63%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 83% 3%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 13% 21%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 25%, hsla(353, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(353, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(229, 74%, 63%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
  &-mobile-social {
    display: none;
  }

  .hide-menu {
    transform: scaleY(1.2);
    width: 24px;
    margin-right: 30px;
    & img {
      width: 100%;
    }
  }

  .mobile-subscribe {
    display: none;
  }

  .socials {
    padding-top: 5px;
    margin-left: auto;
    &-element {
      width: 25px;
      height: 25px;
    }
  }

  &-mobile-flags {
    display: none;
    li {
      width: 30px;
      height: 26px;
      margin-left: 20px;
      &:nth-child(1) {
        margin-left: 0px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &-header {
    height: 110px;
    align-items: center;
    justify-content: flex-start;
  }

  &-active {
    pointer-events: all;
    transform: translate(0%);
    opacity: 1;
  }

  &-links {
    margin-bottom: 40px;
    &-overview {
      .navbar-menu-links-link {
        &:nth-child(1) {
          background: linear-gradient(
            267.71deg,
            #ff8b97 1.24%,
            #72f8f4 111.17%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          a {
            font-weight: 800;
          }
        }
      }
    }
    &-title {
      font-size: 1.125rem;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 15px;
      font-weight: 900;
      color: white;
      letter-spacing: 2.11px;
    }
    &-link {
      position: relative;
      margin-bottom: 24px;
      display: flex;
      width: fit-content;

      transition: 0.2s all;
      figure {
        position: absolute;
        left: 0px;
        top: 60%;
        transform: translate(0, -50%);
        width: 14px;
        border-bottom: 2px solid white;
        height: 1px;
        opacity: 0;
        pointer-events: none;
        transition: 0.2s all;
      }
      .text-p {
        line-height: normal;
        margin-bottom: 0px;
        font-family: $text-font;
        font-size: 0.938rem;
      }
      a {
        transition: 0.2s all;
        text-decoration: none;
        letter-spacing: 0.073rem;
        font-size: 0.938rem;
        font-weight: 500;
        color: white;
        font-family: $text-font;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }

    &-sub {
      figure {
        // border-left: 2px solid $pink;
        height: 14px;
        left: 15px;
        top: 30%;
      }
    }
  }

  &-resources {
    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 10px;
    }

    &-box {
      border: 1px solid white;
      height: 57px;
      padding: 8px;
      transition: 0.15s all;

      &:hover {
        border: 1px solid #03fcf5;
      }
      a {
        width: 100%;
        height: 100%;
      }
      * {
        text-decoration: none;
      }
      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
        margin-right: 5px;
      }
      &-bottom {
        overflow: hidden;
        margin-top: auto;
        justify-content: flex-start;
      }
      &-title {
        font-size: 10px;
        letter-spacing: 1.05px;
        white-space: nowrap;
        max-width: calc(100% - 20px);
        // text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: -0.1px;
        color: #ffffff;
        font-weight: 600;
        font-family: $text-font;
      }
      .text-p {
        font-size: 0.688rem;
        font-weight: 500;
        flex: 1;
        letter-spacing: normal;
        color: $light-color;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: normal;
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .navbar-menu {
    padding-left: 50px;
    max-width: 870px;
  }
}

@media only screen and (max-width: 750px) {
  .navbar-menu {
    background-color: hsla(187, 77%, 65%, 1);
    background-image: radial-gradient(
        at 55% 86%,
        hsla(228, 74%, 63%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 79% 38%, hsla(229, 74%, 63%, 1) 0px, transparent 50%),
      radial-gradient(at 16% 16%, hsla(229, 74%, 63%, 1) 0px, transparent 50%),
      radial-gradient(at 71% 49%, hsla(353, 100%, 77%, 1) 0px, transparent 50%),
      radial-gradient(at 95% 83%, hsla(230, 74%, 63%, 1) 0px, transparent 50%);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    &-links {
      &-link {
        a {
          font-size: 0.875rem;
        }
      }
    }
    &-header {
      .socials {
        display: none;
      }
    }
    &-mobile-social {
      display: flex;
    }
    &-resources {
      &-list &-box {
        gap: 10px;
        width: calc(50% - 10px);
      }
    }
    .mobile-subscribe {
      margin-bottom: 20px;
      margin-top: 10px;
      letter-spacing: 0.073rem;
      font-size: 0.875rem;
      text-transform: uppercase;
      display: block;
      color: white;
      font-family: $text-font;
    }
    &-header {
      height: 80px;
    }
    &-mobile-social {
      .socials {
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}
