.navbar-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  transition: 0.25s all;
  -webkit-transition: 0.25s all;
  z-index: 10;
  width: 100vw;
  max-width: 600px;
  overflow: auto;
  height: 100vh;
  padding-bottom: 50px;
  top: 0px;
  opacity: 1;
  z-index: 9999;
  justify-content: center;
  padding-left: 63px;
  padding-right: 63px;
  transform: translate(-100%);
  background-color: #fff;
  &-mobile-social {
    .socials {
      width: 100%;
      justify-content: space-between;
    }
  }

  .mobile-subscribe {
    display: none;
  }

  .socials {
    padding-top: 5px;
    margin-left: auto;
    &-element {
      width: 25px;
      height: 25px;
    }
  }

  &-mobile-flags {
    display: none;
    li {
      width: 30px;
      height: 26px;
      margin-left: 20px;
      &:nth-child(1) {
        margin-left: 0px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &-header {
    margin: 2rem 0;
    align-items: center;
    justify-content: center;
    position: relative;

    .hide-menu {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) scaleY(1.2);
      width: 24px;
      margin-right: 30px;
      & img {
        width: 100%;
      }
    }
  }

  &-active {
    pointer-events: all;
    transform: translate(0%);
    opacity: 1;
  }

  &-links {
    margin-bottom: 40px;

    &-title {
      font-size: 1.125rem;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 15px;
      font-weight: 900;
      letter-spacing: 2.11px;
      background: linear-gradient(90deg, #db89df 20%, #7988e8 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      border-bottom: 1px solid #7988e8;
      padding-bottom: 5px;
    }

    & > ul {
      display: flex;
      flex-wrap: wrap;
    }

    &-link {
      flex: 1 1 50%;
      position: relative;
      margin-bottom: 1rem;
      display: flex;
      width: fit-content;

      transition: 0.2s all;
      figure {
        position: absolute;
        left: 0px;
        top: 60%;
        transform: translate(0, -50%);
        width: 14px;
        border-bottom: 2px solid white;
        height: 1px;
        opacity: 0;
        pointer-events: none;
        transition: 0.2s all;
      }
      .text-p {
        line-height: normal;
        margin-bottom: 0px;
        font-family: $text-font;
        font-size: 0.938rem;
      }
      a {
        transition: 0.2s all;
        text-decoration: none;
        letter-spacing: 0.073rem;
        font-size: 0.938rem;
        font-weight: 500;
        font-family: $text-font;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }

    &-sub {
      figure {
        // border-left: 2px solid $pink;
        height: 14px;
        left: 15px;
        top: 30%;
      }
    }
  }

  &-resources {
    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 10px;
    }

    &-box {
      border: 1px solid #7988e8;
      border-radius: 8px;
      height: 57px;
      padding: 8px;
      transition: 0.15s all;
      flex: 1 1 calc(50% - 10px);

      &:hover {
        border: 1px solid #db89df;
      }
      a {
        width: 100%;
        height: 100%;
      }
      * {
        text-decoration: none;
      }
      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
        margin-right: 5px;
      }
      &-bottom {
        overflow: hidden;
        margin-top: auto;
        justify-content: flex-start;
      }
      &-title {
        font-size: 10px;
        letter-spacing: 1.05px;
        white-space: nowrap;
        max-width: calc(100% - 20px);
        // text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: -0.1px;
        font-weight: 600;
        font-family: $text-font;
      }
      .text-p {
        font-size: 0.688rem;
        font-weight: 500;
        flex: 1;
        letter-spacing: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: normal;
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .navbar-menu {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 750px) {
  .navbar-menu {
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    &-links {
      &-link {
        flex: 1 1 100%;
        a {
          font-size: 0.875rem;
        }
      }
    }

    &-resources {
      &-box {
        flex: 1 1 100%;
      }
    }
  }
}
