.subscribe-btn {
  border: none;
}
.main-header {
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 9999999;
  left: 0px;
  display: flex;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s all;
  &-content {
    width: 100%;
    width: 1720px;
    margin: auto;
  }
}
.navbar-top {
  width: 100%;
}

.menu-burger-wrapper {
  align-items: center;
  .logo {
    height: 33px;
    object-fit: contain;
  }
}
.menu-burger {
  display: flex;
  background: transparent;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  border: 0px;
  width: 30px;
  height: 20px;
  margin-right: 25px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  aside {
    border-radius: 25px;
    width: 100%;
    height: 2px;
    background: #5effd1;
  }
}
.navbar-flags {
  display: flex;
  align-items: center;
  color: white;
  .subscribe-btn {
    margin-right: 10px;
    border-bottom: 2px solid transparent;
    transition: 0.15s all;
    p {
      margin-left: 5px;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    &:hover {
      border-bottom: 2px solid white;
    }
  }
  &-list {
    display: flex;
    align-items: center;
    li {
      background: transparent;
      border: 0px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-left: 15px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.nav-menu {
  position: fixed;

  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 999999;
  overflow: auto;
  pointer-events: none;
  transition: 0.2s all ease-in;
  &-content {
    background: $base-bg-color;
    position: relative;
    width: 860px;
    padding-left: 100px;
    padding-top: 35px;
    transform: translate(-100%);
    padding-bottom: 100px;
    height: 100vh;
    left: 0px;
    transition: 0.2s all ease-in;
  }
  &-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    transition: 0.2s all ease-in;
    opacity: 0;
    background: #2eb790;
  }
  .menu-burger-wrapper {
    margin-bottom: 42px;
  }
  &-show {
    opacity: 1;
    pointer-events: all;
    .nav-menu-content {
      transform: translate(0%);
    }
    .nav-menu-overlay {
      opacity: 0.15;
    }
  }

  &-section {
    margin-bottom: 40px;
    &-title {
      font-family: $bold-font;
      font-size: 18px;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 24px;
      color: #03fcf5;
      letter-spacing: 2.11px;
      line-height: 30px;
    }
    &-link {
      position: relative;
      margin-bottom: 15px;
      display: flex;
      width: fit-content;
      text-decoration: none;
      transition: 0.2s all;
      figure {
        position: absolute;
        left: 0px;
        top: 60%;
        transform: translate(0, -50%);
        width: 14px;
        border-bottom: 2px solid $pink;
        height: 1px;
        opacity: 0;
        pointer-events: none;
        transition: 0.2s all;
      }
      &-text {
        letter-spacing: 1.17px;
        font-family: $light-font;
        font-size: 10px;
        line-height: 17px;
        text-transform: uppercase;
      }
      &:hover {
        padding-left: 20px;
        figure {
          opacity: 1;
        }
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }

    .socials {
      margin-top: 30px;
    }
    &-sub {
      figure {
        border-left: 2px solid $pink;
        height: 14px;
        left: 15px;
        top: 30%;
      }
      &:hover {
        padding-left: 36px;
        figure {
          opacity: 1;
        }
      }
    }
  }
  &-resources {
    padding-right: 70px;
    ul {
      display: flex;
      flex-wrap: wrap;
    }
    &-box {
      width: calc(100% / 3 - 7.5px);
      margin-right: 10px;
      margin-top: 10px;
      border: 0.5px solid #cecece;
      height: 72px;
      padding: 12px;
      justify-content: space-between;
      &:nth-child(3n) {
        margin-right: 0px;
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        margin-top: 0px;
      }
      * {
        text-decoration: none;
      }
      &-icon {
        width: 20px;
        height: 19px;
        object-fit: contain;
      }
      span {
        overflow: hidden;
      }
      &-title {
        font-family: $bold-font;
        font-size: 9px;
        letter-spacing: 1.05px;
        white-space: nowrap;
        max-width: calc(100% - 20px);
        text-transform: uppercase;
        padding-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &-text {
        margin-top: 5px;
        font-family: $light-font;
        font-size: 10px;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.subscribe-popup {
  transition: 0.2s all;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  &-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  &-content {
    padding: 20px;
    width: 400px;
    height: 300px;
    background: black;
    border: 2px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    h3 {
      font-size: 20px;
      text-transform: uppercase;
      color: white;
    }
    &-inputs {
      margin-top: 40px;
      input {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        text-indent: 20px;
        color: white;
        background: #171819;
        border: none;
        font-family: $text-font;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
  &-submit {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    cursor: pointer;
  }
  &-active {
    opacity: 1;
    pointer-events: all;
  }
}

@media only screen and (max-width: 1900px) {
  .nav-menu-content {
    padding-left: 80px;
  }
}

@media only screen and (max-width: 880px) {
  .nav-menu {
    height: 100vh;
    width: 100%;
    padding-left: 30px;
    overflow-y: auto;
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 750px) {
  .main-header {
    height: 70px;
  }
  .navbar-flags {
    display: none;
  }
  .menu-burger-wrapper {
    .logo {
      height: 20px;
    }
    .menu-burger {
      width: 25px;
      height: 17px;
    }
  }
  .nav-menu-section {
    h4 {
      font-size: 14px;
    }
  }
  .nav-menu-links {
    li {
      a {
        p {
          font-size: 10px;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .nav-menu {
    padding-left: 20px;
  }
}
