.orbs-vm {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-products {
    width: 100%;
    .common-grid-section-image {
      width: 200px;
    }
    #orbs-vm-product-1 {
      padding-top: 0px;
    }
    #orbs-vm-product-2 {
      background: $gray;
    }
  }
  .orbs-vm-graphs {
    width: 100%;
  }

  .orbs-vm-graph-1 {
    position: relative;
    padding-bottom: $page-section-margin;
    h3 {
      color: white;
    }
    .text-p {
      color: white;
      text-align: left;
    }
    background: $blue;
    .orbs-vm-graph-image {
      max-width: 600px;
      width: 100%;
    }
    .orbs-vm-graph-grid {
      transform: translate(162px);
    }
  }

  .orbs-vm-graph-2 {
    h3 {
      @extend .page-colored-section-title;
    }
    .orbs-vm-graph-image {
      max-width: 450px;
      width: 100%;
    }
    .orbs-vm-graph-grid {
      max-width: 800px;
    }
  }

  .orbs-vm-graph {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $page-section-margin;

    h3 {
      @extend .page-section-title;
      margin-bottom: $page-section-title-margin-big;
    }

    &-bg {
      object-fit: cover;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      height: 100%;
      object-position: right;
      max-width: 1300px;
    }
    &-body {
      margin-top: 40px;
    }
    &-grid {
      display: flex;
      flex-direction: column;
      position: relative;
      max-width: 600px;
      text-align: center;
      align-items: center;
    }
  }

  .common-grid-section {
    width: 100%;
    &-grid {
      @extend .main-grid;
      max-width: 1000px;
      gap: 100px;
    }
    strong {
      font-weight: 500;
    }
  }
}

@media only screen and (max-width: 900px) {
  .orbs-vm {
    .orbs-vm-graph-1 {
      .orbs-vm-graph {
        &-grid {
          transform: unset;
        }
      }
    }
    .orbs-vm-graph {
      &-bg {
        display: none;
      }
    }
    .common-grid-section {
      &-grid {
        flex-direction: column;
        gap: 70px;
      }
      &-image {
        order: 1 !important;
      }
      &-left {
        order: 2;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .orbs-vm {
    .common-grid-section {
      &-image {
        width: 70vw;
        max-width: 135px;
      }
    }
  }
}
