.network-grid {
  padding-left: 50px;
  padding-right: 50px;
}

.network {
  padding-bottom: 100px;
  position: relative;
  &-figure {
    position: absolute;
    width: 400px;
    &-left {
      top: 68%;
      left: -120px;
    }
 
  }
  &-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    &-grid {
      display: flex;
      align-items: center;
      justify-content: center;
      @extend .network-grid;
    }
    display: flex;
    align-items: center;
    h3 {
      @extend .gradient-text;
      font-weight: 900;
      line-height: 1.5rem;
      font-size: 1rem;
      &:last-of-type {
        margin-bottom: 20px;
      }
    }

    &-first {
      .network-section {
        &-grid {
          gap: 100px;
        }
        &-image {
          width: 242px;
          height: auto;
        }
        &-text {
          max-width: 600px;
        }
      }
    }

    &-second {
      background: #f4f4f4;
      position: relative;
      .network-section {
        &-image {
          width: 430px;
        }
        &-text {
          flex: 1;
          max-width: 700px;
        
        }
      }
      &-top {
        position: absolute;
        width: 300px;
        top: 0%;
        left: calc(50% - 600px);
        transform: translate(-50%, -50%);
      }
    }
    &-third {
      background: #5e75e8;
      position: relative;
      min-height: 600px;

      .network-section {
        &-image {
          height: 100%;
          position: absolute;
          left: 0px;
          top: 0px;
          max-width: 1200px;
          width: 100%;
          object-fit: cover;
          object-position: right;
        }
        &-text {
          h2 {
            font-size: 1.375rem;
            font-weight: 900;
            margin-bottom: 20px;
            text-transform: uppercase;
            color: white;
            text-align: center;
          }
          h4 {
            font-weight: 500;
            font-size: 1.375rem;
            margin-bottom: 40px;
            text-transform: uppercase;
            color: white;
            text-align: center;
          }
          .text-p {
            color: white;
          }
        }
        &-right {
          position: relative;
          transform: translate(162px);
          max-width: 600px;
          margin-left: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: 452px;
            margin-top: 30px;
          }
        }
      }
    }
  }
  &-products {
    padding-top: 50px;
    margin-bottom: 150px;
    @extend .network-grid;
    &-header {
      text-align: center;
      margin-bottom: 50px;
      h3 {
        @extend .gradient-text;
        font-weight: 900;
        font-size: 1.375rem;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      h4 {
        @extend .gradient-text;
        font-weight: 900;
        font-size: 0.875rem;
        text-transform: uppercase;
      }
    }
    &-flex {
      gap: 22px;
      flex-wrap: wrap;
      justify-content: center;
      display: flex;
      align-items: stretch;
    }
    &-product {
      max-width: 460px;
      width: 100%;
      padding: 23px;
      @include gradient-border(1px);
      display: flex;
      align-items: center;
      flex-direction: column;
      &-logo {
        width: 66px;
      }
      h4 {
        letter-spacing: -0.009rem;
        @extend .gradient-text;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1.125rem;
        margin-bottom: 27px;
        text-align: center;
        margin-top: 30px;
      }
      .text-p {
        font-size: 0.75rem;
      }
    }
  }
  &-product-images {
    @extend .network-grid;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
  }
  &-product-image {
    text-align: center;
    h3 {
      @extend .gradient-text;
      font-weight: 900;
      font-size: 1.375rem;
      margin-bottom: 58px;
    }
    &-1 {
      img {
        width: 640px;
      }
    }
    &-2 {
      img {
        width: 540px;
      }
    }
  }
}

@media only screen and (max-width: 1680px) {
  .network {
    &-section {
      &-second {
        &-top {
          left: 20px;
          transform: translate(0, -50%);
        }
      }
    }
    &-figure {
      zoom: 0.8;

    }
  }
}

@media only screen and (max-width: 1500px) {
  .network-grid {
    padding-left: 25px;
    padding-right: 25px;
  }
  .network {
    &-section {
      &-second {
        &-top {
          left: 20px;
          transform: translate(0, -50%);
        }
      }
    }
    &-figure {
      zoom: 1;
      &-left {
        width: 20vw;
      }
      &-right {
        width: 20vw;
      }
    }
    &-product{
      &-image{
        h3{
          font-size: 1.2rem;
        }
        &-1{
          img{
            width: 500px;
          }
        }
        &-2{
          img{
            width: 400px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px){
  .network {
    &-figure {
      display: none;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .network {
  
    &-section {
      &-grid {
        flex-direction: column;
      }
      &-first {
        padding-top: 60px;
        padding-bottom: 180px;
        .network-section {
          &-grid {
            gap: 70px;
          }
          &-left {
            order: 2;
          }
          &-image {
            width: 50%;
            max-width: 250px;
            order: 1;
          }
        }
      }
      &-second {
        &-top {
          width: 200px;
        }
        .network-section {
          &-image {
            max-width: 300px;
            width: 90%;
          }
        }
      }
      &-third {
        .network-section {
          &-right {
            transform: none;
            img {
              max-width: 400px;
              width: 100%;
            }
          }
          &-image {
            transform: translate(-300px);
          }
        }
      }
    }
    &-products{
      margin-bottom: 100px;
    }
    &-product {
      &-images{
        gap: 50px;
        flex-direction: column;
        align-items: center;
      }
      &-image {
        &-1 {
          img {
            max-width: 400px;
            width: 100%;
          }
        }
        &-2 {
          img {
            max-width: 400px;
            width: 100%;
          }
        }
      }
    }
  }
}
