.network {
  position: relative;

  &-figure {
    position: absolute;
    width: 400px;
    &-left {
      top: 68%;
      left: -120px;
    }
  }
  &-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $page-section-margin;
    padding-bottom: $page-section-margin;

    .main-grid {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 100px;
    }
    display: flex;
    align-items: center;
    h3 {
      @extend .page-colored-section-title;
      &:last-of-type {
        margin-bottom: 20px;
      }
    }

    &-first {
      padding-top: 0px;
      .network-section {
        &-image {
          width: 242px;
          height: auto;
        }
        &-text {
          max-width: 600px;
        }
      }
    }

    &-second {
      background: $gray;
      position: relative;
      .network-section {
        &-image {
          width: 430px;
        }
        &-text {
          flex: 1;
          max-width: 700px;
        }
      }
      &-top {
        position: absolute;
        width: 300px;
        top: 0%;
        left: calc(50% - 600px);
        transform: translate(-50%, -50%);
      }
    }
    &-third {
      background: $blue;
      position: relative;
      min-height: 600px;

      .network-section {
        &-image {
          height: 100%;
          position: absolute;
          left: 0px;
          top: 0px;
          max-width: 1200px;
          width: 100%;
          object-fit: cover;
          object-position: right;
        }
        &-text {
          h2 {
            @extend .page-section-title;
            margin-bottom: 20px;
            text-align: center;
            text-transform: uppercase;
          }
          h4 {
            margin-bottom: 40px;
            text-transform: uppercase;
            text-align: center;
            @extend .page-section-subtitle;
          }
          .text-p {
            color: white;
          }
        }
        &-right {
          position: relative;
          transform: translate(-70px);
          max-width: 600px;
          margin-left: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: 700px;
            margin-top: $page-section-margin;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1680px) {
  .network {
    &-section {
      &-second {
        &-top {
          left: 20px;
          transform: translate(0, -50%);
        }
      }
    }
    &-figure {
      zoom: 0.8;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .network {
    &-section {
      &-second {
        &-top {
          left: 20px;
          transform: translate(0, -50%);
        }
      }
    }
    &-figure {
      zoom: 1;
      &-left {
        width: 20vw;
      }
      &-right {
        width: 20vw;
      }
    }
    &-product {
      &-image {
        h3 {
          font-size: 1.2rem;
        }
        &-1 {
          img {
            width: 500px;
          }
        }
        &-2 {
          img {
            width: 400px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .network {
    &-figure {
      display: none;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .network {
    &-section {
      .main-grid {
        flex-direction: column;
        gap: 30px;
      }
      &-first {
        .network-section {
          &-left {
            order: 1;
          }
          &-image {
            width: 50%;
            max-width: 250px;

            order: 2;
          }
        }
      }
      &-second {
        &-top {
          width: 200px;
        }
        .network-section {
          &-right {
            order: 1;
          }
          &-image {
            max-width: 300px;
            width: 90%;
            order: 2;
          }
        }
      }
      &-third {
        .network-section {
          &-right {
            transform: none;
            margin-left: 0px;
            img {
              max-width: 400px;
              width: 100%;
            }
          }
          &-image {
            transform: translate(-300px);
            display: none;
          }
        }
      }
    }

    &-product {
      &-images {
        gap: 50px;
        flex-direction: column;
        align-items: center;
      }
      &-image {
        &-1 {
          img {
            max-width: 400px;
            width: 100%;
          }
        }
        &-2 {
          img {
            max-width: 400px;
            width: 100%;
          }
        }
      }
    }
  }
}
