.network {
  // bg color #FCF8FD

  position: relative;

  &-header {
    background: url('/assets/img/network/network-header-bg.png'),
      linear-gradient(268.26deg, #7988e8 14.66%, #db89df 86.69%);
    background-size: cover;
    background-position: center;
    padding: 100px;
    margin: 0;

    h1 {
      color: #fff;
      background: none;
      background-clip: unset;
      -webkit-text-fill-color: unset;
      font-size: 70px;
      line-height: 80px;
    }
    h2 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 30px;
      line-height: 40px;
      margin-top: 30px;
      color: #fff;
    }
  }

  &-figure {
    position: absolute;
    width: 400px;
    &-left {
      top: 68%;
      left: -120px;
    }
  }
  &-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $page-section-margin;
    padding-bottom: $page-section-margin;

    .main-grid {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 70px;
    }
    &-video {
      background: #d8d6f3;
    }
    &-video-grid {
      height: 40vw;
      max-height: 600px;
      min-height: 200px;
    }
    display: flex;
    align-items: center;

    h3 {
      @extend .page-colored-section-title;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    &-first {
      .network-section {
        &-image {
          max-width: 400px;
          width: 100%;
          height: auto;
          flex-basis: 50%;
        }
        &-text {
          flex-basis: 50%;
        }
      }
      .main-grid + &-features {
        align-items: start;
      }

      &-features {
        margin-top: 200px;
        text-align: center;

        &-item {
          flex-basis: 50%;

          h2 {
            @extend .title-pill;
          }
        }
      }
    }

    &-second {
      background: linear-gradient(268.26deg, #7988e8 14.66%, #db89df 86.69%);

      position: relative;
      .network-section {
        &-image {
          flex-grow: 0;
          max-width: 50%;
          width: 100%;
          flex-basis: 50%;
        }
        &-text {
          flex-basis: 50%;
          h2 {
            @extend .title-pill, .alt;
          }
          h3 {
            background: none;
            background-clip: unset;
            -webkit-text-fill-color: unset;
            color: white;
          }
          .text-p {
            color: white;
          }
        }
      }
      &-top {
        position: absolute;
        width: 300px;
        top: 0%;
        left: calc(50% - 600px);
        transform: translate(-50%, -50%);
      }
    }
    &-third {
      background: $blue;
      position: relative;
      min-height: 600px;

      .network-section {
        &-image {
          height: 100%;
          position: absolute;
          left: 0px;
          top: 0px;
          max-width: 1200px;
          width: 100%;
          object-fit: cover;
          object-position: right;
        }
        &-text {
          h2 {
            @extend .page-section-title;
            margin-bottom: 20px;
            text-align: center;
            text-transform: uppercase;
          }
          h4 {
            margin-bottom: 40px;
            text-transform: uppercase;
            text-align: center;
            @extend .page-section-subtitle;
          }
          .text-p {
            color: white;
          }
        }
        &-right {
          position: relative;
          margin-left: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 560px;
          img {
            width: 100%;
            margin-top: $page-section-margin;
          }
        }
      }
    }

    &-products {
      h3:last-of-type {
        text-align: center;
        margin-bottom: 60px;
      }

      &-list {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;

        &-item {
          display: flex;
          flex-direction: column;
          gap: 15px;
          align-items: center;
          flex: 0 1 25%;
          padding: 25px;

          .dtwap &-image {
            aspect-ratio: 1.82;
          }

          .liquidity-hub &-image,
          .perpetual-hub &-image {
            aspect-ratio: 1.8;
          }

          &-image {
            display: block;
            width: 100%;
            margin-bottom: 20px;
          }

          &-body {
            text-align: center;
            h4 {
              @extend .page-colored-section-title;
              font-size: 20px;
              font-weight: normal;
              text-transform: uppercase;
              margin-bottom: 10px;
            }
            .text-p {
              font-size: 14px;
            }
          }
        }
      }
    }

    &-why {
      background: linear-gradient(
        15deg,
        #ffffff 0%,
        #ffffff 50%,
        rgba(128, 198, 235, 0.5) 50%,
        #ffffff 72.81%
      );
      &-text {
        text-align: center;

        .text-p {
          margin-bottom: 60px;
        }
      }
    }

    &-mission {
      background-color: #7a89e9;
      background-image: url('/assets/img/network/mission-section-bg.png');
      background-size: cover;
      background-position: center;
      padding-top: 100px;
      padding-bottom: 100px;
      &-text {
        text-align: center;
        h2 {
          @extend .title-pill, .alt;
        }
        .text-p {
          color: white;
          font-size: 30px;
          font-weight: 600;
          line-height: 40px;
        }
      }
    }

    &-how {
      text-align: center;
      h2 {
        @extend .page-colored-section-title;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      h4 {
        @extend .page-colored-section-title;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 60px;
        text-transform: uppercase;
      }

      &-items.main-grid {
        align-items: flex-start;
      }
      &-items {
        &-item {
          flex-basis: 33.3333%;
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: center;

          &-image {
            max-width: 50%;
          }

          h4 {
            font-size: 22px;
            margin: 0;
          }

          .text-p {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1680px) {
  .network {
    &-section {
      &-second {
        &-top {
          left: 20px;
          transform: translate(0, -50%);
        }
      }
    }
    &-figure {
      zoom: 0.8;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .network {
    &-section {
      &-second {
        &-top {
          left: 20px;
          transform: translate(0, -50%);
        }
      }
    }
    &-figure {
      zoom: 1;
      &-left {
        width: 20vw;
      }
      &-right {
        width: 20vw;
      }
    }
    &-product {
      &-image {
        h3 {
          font-size: 1.2rem;
        }
        &-1 {
          img {
            width: 500px;
          }
        }
        &-2 {
          img {
            width: 400px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .network {
    &-figure {
      display: none;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .network {
    &-section {
      .main-grid {
        flex-direction: column;
        gap: 30px;
      }
      &-first {
        .network-section {
          &-left {
            order: 1;
          }
          &-image {
            width: 50%;
            max-width: 250px;

            order: 2;
          }
        }
      }
      &-second {
        &-top {
          width: 200px;
        }
        .network-section {
          &-right {
            order: 1;
          }
          &-image {
            max-width: 300px;
            width: 90%;
            order: 2;
          }
        }
      }
      &-third {
        .network-section {
          &-right {
            transform: none;
            margin-left: 0px;
            img {
              max-width: 400px;
              width: 100%;
            }
          }
          &-image {
            transform: translate(-300px);
            display: none;
          }
        }
      }
    }

    &-product {
      &-images {
        gap: 50px;
        flex-direction: column;
        align-items: center;
      }
      &-image {
        &-1 {
          img {
            max-width: 400px;
            width: 100%;
          }
        }
        &-2 {
          img {
            max-width: 400px;
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .network {
    &-header {
      padding: 40px;
      h1 {
        font-size: 50px;
        line-height: 60px;
      }
    }
    &-section {
      &-products {
        padding-left: 10px;
        padding-right: 10px;
        &-list {
          &-item {
            flex-basis: 50%;
          }
        }
      }
      &-mission {
        &-text {
          .text-p {
            font-size: 20px;
            line-height: 30px;
          }
        }
      }
      &-how {
        &-text {
          padding: 0 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .network {
    &-section {
      &-products {
        padding-left: 10px;
        padding-right: 10px;
        &-list {
          &-item {
            flex-basis: 100%;
          }
        }
      }
    }
  }
}
