@mixin footer-overflow-text() {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.3em;
  margin-bottom: 5px;
}

.footer {
  .blog-card {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
    &-flex {
      display: none;
    }
  }
  margin-top: 150px;
  background: $base-bg-color;
  color: white;
  padding-bottom: 70px;
  font-family: "Montserrat";
  &-flex {
    display: flex;
    margin: auto;
    align-items: flex-start;
  }
  &-section {
    width: calc(100% / 4);
    padding-right: 60px;
    &-title {
      font-size: 13px;
      font-family: $bold-font;
      margin-bottom: 15px;
    }

    &:last-child {
      padding: 0px;
    }
  }
  &-blog {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #707070;
    align-items: flex-start;
    text-decoration: none;
    display: flex;
    .text-p {
      @include footer-overflow-text();
    }
    figure {
      width: 40px;
      height: 40px;
      background: #373636;
      margin-right: 10px;
      margin-top: 5px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-content {
      flex: 1;
    }
    &-date {
      small {
        font-size: 12px;
        font-size: 12px;
        color: #9f9e9e;
        &:nth-of-type(1) {
          margin-right: 5px;
          color: #666666;
        }
      }
    }
  }
  &-tweet {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #707070;
    align-items: flex-start;
    .text-p {
      @include footer-overflow-text();
    }
    figure {
      width: 20px;
      height: 20px;

      margin-right: 10px;
      margin-top: 5px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-content {
      flex: 1;
    }
    small {
      font-size: 12px;
      color: #9f9e9e;
    }
    &:last-child {
      border: 0px;
    }
  }

  &-text {
    font-size: 13px;
    letter-spacing: 0.44px;
    line-height: 20px;
  }
  &-navigation {
    .nav-menu-section {
      margin-bottom: 0px;
      h4 {
        display: none;
      }
      li {
        height: auto;
        a {
          transition: 0.2s all;
          text-decoration: none;
          white-space: nowrap;
          figure {
            display: none;
          }
          p {
            text-transform: uppercase;
            line-height: 20px;
            color: white;
            letter-spacing: 2.34px;
            font-weight: 300;
            opacity: 0.6;
            font-size: 10px;
            &:hover {
              opacity: 1;
            }
          }
          &:hover {
            padding-left: 0px;
          }
        }
      }
    }
  }
  &-logo-section {
    .footer-logo {
      width: auto;
      height: 30px;
      margin-bottom: 20px;
    }
    .footer-text {
      margin-bottom: 20px;
    }
    &-email {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-bottom {
    align-items: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #262626;
    &-policy {
      font-size: 12px;
      color: #acacac;
    }
    &-form {
      margin-left: 40px;
      width: 450px;
      height: 40px;
      background: #2e2e2e80;
      &-input {
        letter-spacing: 0.5px;
        background: transparent;
        color: white;
        font-size: 14px;
        text-indent: 20px;
        width: 100%;
        height: 100%;
        border: none;
        font-style: italic;
      }
      &-submit {
        background: white;
        width: 30px;
        height: 30px;
        align-self: center;
        border: none;
        font-size: 18px;
        color: black;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .footer-section {
    padding-right: 30px;
  }
  .footer-navigation a {
    white-space: normal;
  }
  .footer-bottom-form {
    width: 350px;
  }
}

@media only screen and (max-width: 1100px) {
  .footer-flex {
    flex-wrap: wrap;
  }
  .footer-section {
    width: calc(50% - 30px);
    padding-right: 0px;
    margin-bottom: 40px;
    &:nth-child(even) {
      margin-left: auto;
    }
  }
  .footer-bottom {
    flex-direction: column;
    &-form-wrapper {
      order: 1;
      margin-bottom: 50px;
      flex-direction: column;
      .socials {
        order: 2;
      }
      .footer-bottom-form {
        order: 1;
        margin-bottom: 40px;
        margin-left: 0px;
        width: 400px;
      }
    }
    &-policy {
      order: 2;
    }
  }
}

@media only screen and (max-width: 700px) {
  .footer-section {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 40px;
    &:nth-child(even) {
      margin-left: auto;
    }
  }
}

@media only screen and (max-width: 500px) {
  .footer-bottom {
    &-form-wrapper {
      width: 100%;
      .footer-bottom-form {
        width: 100%;
      }
    }
  }
}
