@mixin footer-overflow-text() {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 4.3em;
  margin-bottom: 5px;
}

.footer {
  width: 100%;
  padding-top: 120px;
  background: black;
  color: white;
  padding-bottom: 70px;
  font-family: "Montserrat";
  &-flex {
    display: flex;
    margin: auto;
    align-items: stretch;
  }
  &-section {
    width: calc(100% / 4);
    padding-right: 60px;
    &-title {
      font-size: 17px;
      font-family: $bold-font;
      margin-bottom: 30px;
    }

    &:last-child {
      padding: 0px;
    }
  }
  &-post {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #707070;
    align-items: flex-start;
    text-decoration: none;
    display: flex;
    .text-p {
      @include footer-overflow-text();
      font-size: 14px;
      line-height: 22px;
    }
    &-image {
      width: 100px;
      height: 90px;
      margin-right: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-content {
      flex: 1;
      &-date {
        display: flex;
        margin-top: 5px;
        p {
          font-size: 14px;
          color: #b2b2b2;
          &:nth-of-type(1) {
            margin-right: 5px;
            color: #666666;
          }
        }
      }
    }
  }
  &-tweet {
    border: 0px;
    padding-bottom: 0px;
    &-image {
      margin-top: 5px;
      width: 30px;
      height: 30px;
      margin-right: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-content {
      &-date {
        p {
          color: #9f9e9e;
          font-size: 14px;
          margin-top: 5px;
        }
      }
    }
    .footer-post-content {
      border-bottom: 1px solid #707070;
      padding-bottom: 15px;
    }
  }

  &-text {
    font-size: 13px;
    letter-spacing: 0.44px;
    line-height: 20px;
  }
  &-navigation {
    display: flex;
    &-subtitle {
      margin-bottom: 20px;
      font-size: 17px;
      font-family: $bold-font;
    }
    &-section {
      display: flex;
    }
    &-links {
      display: flex;

      a {
        letter-spacing: 1.52px;
        text-decoration: none;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 100;
        margin-bottom: 10px;
      }
    }
  }
  &-logo-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    .footer-logo {
      width: auto;
      height: 38px;
      margin-bottom: 20px;
    }
    .text-p {
      margin-bottom: 0px;
      &:nth-of-type(2) {
        margin-top: auto;
      }
    }
    a {
      text-decoration: none;
    }
  }
  &-bottom {
    align-items: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 3px solid #262626;
    &-policy {
      font-size: 12px;
      color: #acacac;
    }
  }
}

@media only screen and (max-width: 1250px) {
  .footer-section {
    padding-right: 30px;
  }
  .footer-navigation a {
    white-space: normal;
  }
  .footer-bottom-form {
    width: 350px;
  }
}

@media only screen and (max-width: 1100px) {
  .footer-flex {
    flex-wrap: wrap;
  }
  .footer-section {
    width: calc(50% - 30px);
    padding-right: 0px;
    margin-bottom: 40px;
    &:nth-child(even) {
      margin-left: auto;
    }
  }
  .footer-bottom {
    flex-direction: column;
    &-form-wrapper {
      order: 1;
      margin-bottom: 50px;
      flex-direction: column;
      .socials {
        order: 2;
      }
      .footer-bottom-form {
        order: 1;
        margin-bottom: 40px;
        margin-left: 0px;
        width: 400px;
      }
    }
    &-policy {
      order: 2;
    }
  }
}

@media only screen and (max-width: 700px) {
  .footer-section {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 40px;
    &:nth-child(even) {
      margin-left: auto;
    }
  }
}

@media only screen and (max-width: 500px) {
  .footer-bottom {
    &-form-wrapper {
      width: 100%;
      .footer-bottom-form {
        width: 100%;
      }
    }
  }
}
