.footer {
  width: 100%;
  padding-top: 60px;
  color: white;
  border-top: 1px solid $blue;
  font-family: "Montserrat";
  .main-grid {
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
  }
  &-section-title {
    display: flex;
    margin-bottom: 20px;
    font-family: $bold-font;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.875rem;
    img {
      margin-right: 16px;
      width: 20px;
      height: 20px;
    }
  }
  &-flex {
    padding-bottom: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 50px;
  }

  &-logo-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .footer-logo {
      width: auto;
      margin-bottom: 20px;
      height: 28px;
    }
    .text-p {
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 0;
      a {
         color: $blue;
      }
      &:nth-of-type(3) {
        margin-top: 30px;
        // color: $light-color;
      }
      .email-link {
        color: $blue;
        font-weight: 500;
        font-size: 16px;
      }
    }
    a {
      text-decoration: none;
    }
  }
  &-blog-list{
 display: flex;
    flex-direction: column;
    gap:20px;
  }
  &-blogs {
    width: 35%;
   

    &-subscribe {
      margin-bottom: 30px;
    }
    .subscribe-btn {
      text-transform: uppercase;
    }
    .footer-blog {
      border-bottom: 1px solid $blue;
      padding-bottom: 20px;
      display: flex;
      text-decoration: none;
      &-image {
        width: 77px;
        height: 67px;
        margin-right: 24px;
        margin-bottom: 0px;
        object-fit: cover;
      }
      &-title {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.375rem;
        letter-spacing: 0.015rem;
        margin-bottom: 10px;
        @extend .gradient-text;
      }
      &-prefix {
        color: #666666;
        font-size: 0.75rem;
        margin-right: 5px;
      }
      &-right {
        &-flex {
          display: flex;
        }
      }
      &-date {
        margin-top: auto;
        font-size: 0.75rem;
        color: #b2b2b2;
      }
      &:last-of-type {
        border: 0px;
        padding-bottom: 0px;
      }
    }
  }
  &-tweets {
    height: 320px;
    overflow: hidden;
    flex: 1;
    max-width: 500px;
    &-content {
      overflow: auto;
      position: relative;
      height: 100%;
    }
  }

  &-navigation {
    background: white;
    display: flex;
    padding-top: 40px;
    border-top: 1px solid $blue;
    border-bottom: 2px solid $blue;
    margin-top: 40px;
    padding-bottom: 40px;
    &-section {
    }
    .text-p {
      line-height: normal;
    }
    &-mobile {
      display: none;
      &-title {
        height: 40px;
        cursor: pointer;
        padding-left: 20px;
        position: relative;
        display: flex;
        align-items: center;

        &::after {
          position: absolute;
          left: 0px;
          top: 50%;
          transform: translate(0, -50%);
          content: "+";
        }
      }
      &-list {
        flex-direction: column;
        display: none;
        padding-left: 20px;
        margin-top: 10px;

        a {
          text-decoration: none;
          margin-bottom: 20px;

          font-size: 14px;
          text-transform: capitalize;
        }
        &-active {
          display: flex;
        }
      }
    }
    &-links {
      &-title {
        white-space: nowrap;
        font-size: 1rem;
        margin-bottom: 20px;
        text-transform: uppercase;

        font-family: $bold-font;
        @extend .gradient-text;
      }
      &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        flex-direction: column;

        a {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          text-decoration: none;
          font-size: 0.825rem;
          padding-right: 10px;

          font-weight: 500;
        }
        .text-p {
          margin-bottom: unset;
        }
      }
    }
    &-overview {
      .text-p {
        width: 100%;
      }
    }
    &-resources {
      .text-p {
        width: 30%;
      }
    }
    &-about {
      .text-p {
        width: 50%;
      }
    }
    &-mobile-links {
      display: none;
    }
  }
  .footer-bottom-wrapper {
    background: white;
  }

  &-bottom {
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    &-policy {
      a {
        font-size: 0.825rem;
        font-weight: 500;
        color: #ff8b97;
        text-decoration: none;
        &:last-child {
          display: none;
        }
      }
    }
  }
}
@media only screen and (max-width: $medium) {
  .footer {
    &-logo-section {
      padding: 0px;
      width: 100%;
    }
    &-blogs {
      width: 100%;
      padding: 0px;
    }

    &-tweets {
      width: 100%;
      padding: 0px;
      &-content {
        max-height: 500px;
        height: 50vw;
        min-height: 280px;
      }
    }
    &-flex {
      flex-direction: column;
      gap: 60px;
    }
    &-navigation {
      .main-grid {
        flex-direction: column;
        > div {
          width: 100%;
        }
      }
      &-mobile {
        display: block;
      }

      &-desktop-links {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .footer {
    &-flex {
      flex-direction: column;
    }
    .blog-list-blog-img {
      min-height: auto;
    }
  }
}

@media only screen and (max-width: 400px) {
  .footer-bottom {
    flex-direction: column;
    &-policy {
      order: 2;
      margin-top: 20px;
    }
  }
}
