.footer {
  width: 100%;
  padding-top: 60px;
  background: black;
  color: white;
  border-top: 1px solid #707070;
  font-family: "Montserrat";
  &-section-title {
    display: flex;
    margin-bottom: 20px;
    font-family: $bold-font;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.875rem;
    img {
      margin-right: 16px;
      width: 20px;
      height: 20px;
    }
  }
  &-flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  &-logo-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-right: 70px;
    .footer-logo {
      width: auto;
      margin-bottom: 20px;
      height: 28px;
    }
    .text-p {
      margin-bottom: 0px;
      &:nth-of-type(2) {
        margin-top: 30px;
        color: $light-color;
      }
    }
    a {
      text-decoration: none;
    }
  }
  &-blogs {
    width: 35%;
    padding-right: 40px;
    .footer-blog {
      border-bottom: 1px solid #707070;
      padding-bottom: 40px;
      margin-bottom: 30px;
      display: flex;
      text-decoration: none;
      &-image {
        width: 77px;
        height: 67px;
        margin-right: 24px;
        margin-bottom: 0px;
        object-fit: cover;
      }
      &-title {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.375rem;
        letter-spacing: 0.015rem;
        margin-bottom: 10px;
      }
      &-prefix {
        color: #666666;
        font-size: 0.75rem;
        margin-right: 5px;
      }
      &-right {
        &-flex {
          display: flex;
        }
      }
      &-date {
        margin-top: auto;
        font-size: 0.75rem;
        color: #b2b2b2;
      }
      &:last-of-type {
        border: 0px;
      }
    }
  }
  &-tweets {
    flex: 1;
    padding-left: 40px;
    &-content {
      overflow: auto;
      position: relative;
      height: 100%;
      iframe {
      }
    }
  }

  &-navigation {
    display: flex;
    padding-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    margin-top: 40px;
    padding-bottom: 40px;
    &-mobile {
      display: none;
      &-title {
        height: 40px;
        cursor: pointer;
        padding-left: 20px;
        position: relative;
        display: flex;
        align-items: center;

        &::after {
          position: absolute;
          left: 0px;
          top: 50%;
          transform: translate(0, -50%);
          content: "+";
        }
      }
      &-list {
        flex-direction: column;
        display: none;
        padding-left: 20px;
        margin-top: 10px;
        a {
          text-decoration: none;
          margin-bottom: 20px;
          min-width: 100%;
          font-size: 14px;
          text-transform: capitalize;
        }
        &-active {
          display: flex;
        }
      }
    }
    &-links {
      &-title {
        font-size: 1rem;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: $light-color;
        font-family: $bold-font;
      }
      &-list {
        display: flex;
        flex-wrap: wrap;

        a {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          margin-bottom: 14px;
          text-decoration: none;
          font-size: 0.75rem;
          padding-right: 10px;
          text-transform: capitalize;
          font-weight: 500;
        }
      }
    }
    &-overview {
      width: 20%;
      a {
        width: 100%;
      }
    }
    &-resources {
      width: 50%;
      a {
        width: 30%;
      }
    }
    &-about {
      width: 30%;
      a {
        width: 50%;
      }
    }
    &-mobile-links {
      display: none;
    }
  }

  &-bottom {
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    &-policy {
      a {
        font-size: 12px;
        color: #acacac;
        text-decoration: none;
      }
    }
  }
}
@media only screen and (max-width: $medium) {
  .footer {
    &-logo-section {
      padding: 0px;
      width: 100%;
      margin-bottom: 70px;
    }
    &-blogs {
      width: 100%;
      padding: 0px;
      margin-bottom: 20px;
    }
    &-section-title {
    }
    &-tweets {
      width: 100%;
      padding: 0px;
      &-content {
        max-height: 500px;
        height: 50vw;
        min-height: 280px;
      }
    }
    &-flex {
      flex-direction: column;
    }
    &-navigation {
      .main-grid {
        flex-direction: column;
        > div {
          width: 100%;
        }
      }
      &-mobile {
        display: block;
      }

      &-desktop-links {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .footer {
    &-flex {
      flex-direction: column;
    }
    .blog-list-blog-img {
      min-height: auto;
    }
  }
}

@media only screen and (max-width: 400px) {
  .footer-bottom {
    flex-direction: column;
    &-policy {
      order: 2;
      margin-top: 20px;
    }
  }
}
