.footer {
  width: 100%;
  padding-top: 60px;
  background: black;
  color: white;
  border-top: 1px solid #707070;
  font-family: "Montserrat";
  &-sub-title {
    display: flex;
    margin-bottom: 20px;
    font-family: $bold-font;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.875rem;
    img {
      margin-right: 16px;
      width: 20px;
      height: 20px;
    }
  }
  &-posts-and-tweets {
    align-items: stretch;
    width: 70%;
    flex-wrap: wrap;
    .footer-post,
    .footer-tweet,
    .footer-sub-title {
      width: calc(50% - 35px);
      margin-right: 70px;
      &:nth-child(even) {
        margin-right: 0px;
      }
    }
    &-mobile {
      display: none;
    }
  }
  &-flex {
    display: flex;
    margin: auto;
    align-items: stretch;
  }

  &-post {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #707070;
    align-items: flex-start;
    text-decoration: none;
    display: flex;

    .text-p {
      margin-bottom: 10px;
    }
    &-image {
      width: 90px;
      height: 90px;
      margin-right: 20px;
      object-fit: cover;
      object-position: center;
    }
    &-date {
      display: flex;
      align-items: center;
      small {
        margin-right: 5px;
        font-size: 0.75rem;
        color: rgba(255, 255, 255, 0.5);
      }
      p {
        font-size: 0.75rem;
        color: #b2b2b2;
      }
    }
    &-content {
      flex: 1;
    }
    &:last-of-type {
      border: 0px;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
  }

  &-tweet {
    border-bottom: 1px solid #707070;
    padding-bottom: 15px;
    margin-bottom: 15px;
    &-date {
      color: #9f9e9e;
      font-size: 0.75rem;
    }
    .text-p {
      margin-bottom: 10px;
    }

    &:last-of-type {
      border: 0px;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
  }

  &-navigation {
    display: flex;
    padding-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    margin-top: 40px;
    padding-bottom: 40px;
    &-mobile {
      display: none;
      &-title {
        height: 40px;
        cursor: pointer;
        padding-left: 20px;
        position: relative;
        display: flex;
        align-items: center;

        &::after {
          position: absolute;
          left: 0px;
          top: 50%;
          transform: translate(0, -50%);
          content: "+";
        }
      }
      &-list {
        flex-direction: column;
        display: none;
        padding-left: 20px;
        margin-top: 10px;
        a {
          text-decoration: none;
          margin-bottom: 20px;
          min-width: 100%;
          font-size: 14px;
          text-transform: capitalize;
        }
        &-active {
          display: flex;
        }
      }
    }
    &-links {
      &-title {
        font-size: 1rem;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: $light-color;
        font-family: $bold-font;
      }
      &-list {
        display: flex;
        flex-wrap: wrap;

        a {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          margin-bottom: 14px;
          text-decoration: none;
          font-size: 0.75rem;
          padding-right: 10px;
          text-transform: capitalize;
          font-weight: 500;
        }
      }
    }
    &-overview {
      width: 20%;
      a {
        width: 100%;
      }
    }
    &-resources {
      width: 50%;
      a {
        width: 30%;
      }
    }
    &-about {
      width: 30%;
      a {
        width: 50%;
      }
    }
    &-mobile-links {
      display: none;
    }
  }
  &-logo-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-right: 80px;
    .footer-logo {
      width: auto;
      margin-bottom: 20px;
      height: 28px;
    }
    .text-p {
      margin-bottom: 20px;
      &:nth-of-type(2) {
        margin-top: auto;
        color: $light-color;
      }
    }
    a {
      text-decoration: none;
    }
  }
  &-bottom {
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    &-policy {
      font-size: 12px;
      color: #acacac;
    }
  }
}
@media only screen and (max-width: $medium) {
  .footer {
    &-flex {
      flex-direction: column;
    }
    &-navigation {
      .main-grid {
        flex-direction: column;
        > div {
          width: 100%;
        }
      }
      &-mobile {
        display: block;
      }

      &-desktop-links {
        display: none;
      }
    }
    &-logo-section {
      width: 100%;
      padding-right: 0px;
    }
    &-posts-and-tweets {
      width: 100%;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .footer {
    &-flex {
      flex-direction: column;
    }
    &-logo-section {
      width: 100%;
      padding-right: 0px;
    }
    &-sub-title {
      margin-top: 40px;
      min-width: 100%;
    }
    &-post {
      min-width: 100%;
      margin-bottom: 30px;
    }
    &-tweet {
      min-width: 100%;
      margin-bottom: 30px;
    }
    &-posts-and-tweets {
      display: none;
      flex-direction: column;
      width: 100%;
      &-mobile {
        display: flex;
      }
    }
  }
}
