$basic-margin: 10px;
$border-color: #333333;
$delegator-color: #d0fb6e;

.globe-card {
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  z-index: 9999;
  background: #1a1a1a;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s all;
  display: none;
  opacity: 0;
  justify-content: space-between;
}
.card-quotes {
  position: absolute;
  font-family: $bold-oblique;
  font-size: 22px;
  &-left {
    left: 5px;
    top: 0px;
  }
  &-right {
    right: 5px;
    bottom: 0px;
  }
}
.c-card,
.d-card,
.g-card {
  width: 700px;
}
.card-avatar {
  min-height: 100%;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    object-fit: cover;
    object-position: center;
  }
}
.card-type {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px;
  font-size: 13px;
}
.card-name {
  font-size: 26px;
  text-align: center;
  font-family: $bold-font;
  letter-spacing: 3.96px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 99%;
}

.card-address {
  font-size: 16px;

  margin-bottom: $basic-margin;
}
.card-data {
  padding: 20px;
}
.card-date {
  text-transform: capitalize;
  p {
    font-family: $light-font;
    font-size: 11px;
  }
}

.border {
  background: $border-color;
  height: 2px;
  width: 100%;
}

.card-location {
  margin-bottom: $basic-margin;
  img {
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
  p {
    font-size: 12px;
    font-family: $text-font;
    letter-spacing: 1.08px;
  }
}

.card-nickname {
  margin-bottom: $basic-margin;
  font-size: 14px;
  color: #75a2ff;
  text-align: center;
  font-family: $light-font;
  letter-spacing: 1.9px;
}
.card-links {
  a {
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 10px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.c-card {
  min-height: 428px;
  border: 3px solid #60e5ff;

  .card-data {
    padding-bottom: 20px;
    width: calc(100% - 200px);
  }
  .card-avatar {
    width: 200px;
  }
  .card-type {
    background: transparent linear-gradient(180deg, #60e5ff 0%, #7998ff 100%) 0%
      0% no-repeat padding-box;
  }
  &-repos {
    padding: 10px 5px;
    flex-wrap: wrap;
    &-top {
      width: 100%;
      margin-bottom: 20px;
      p {
        letter-spacing: 0.44px;
        font-size: 12px;
      }
      img {
        margin-right: 10px;
        width: 20px;
        height: auto;
      }
    }
    h5 {
      text-align: left;
      font-size: 14px;
      margin-bottom: 10px;
      color: $light-blue;
      font-weight: 500;
    }
    span {
      width: 50%;
    }
    p {
      font-size: 12px;
      line-height: 20px;
      text-align: left;
      color: $light-gray;
    }
    aside {
      margin-top: 15px;
      border-radius: 20px;
      padding: 5px 15px 5px 25px;
      font-size: 12px;
      width: fit-content;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        left: 10px;
        top: 50%;
        transform: translate(0%, -50%);
      }
    }
    &-ts {
      padding-right: 20px;
      aside {
        border: 2px solid #56baca;
        color: #56baca;
        &:before {
          background: #56baca;
        }
      }
    }
    &-js {
      padding-left: 20px;
      border-left: 2px solid $border-color;
      aside {
        border: 2px solid #fcde7b;
        color: #fcde7b;
        &:before {
          background: #fcde7b;
        }
      }
    }
  }
  .card-links {
    margin-top: $basic-margin;
    margin-bottom: 20px;
  }
  &-interests {
    padding-top: 20px;
    align-items: center;
    p {
      font-size: 14px;
      text-transform: capitalize;
    }
    ul {
      margin-left: 10px;
      flex: 1;
      li {
        padding: 3px 10px;
        background: transparent
          linear-gradient(180deg, #63daff 0%, #69bafc 100%) 0% 0% no-repeat
          padding-box;
        border: 1px solid #2d3c41;
        margin-right: 5px;
        border-radius: 20px;
        font-size: 12px;
        white-space: nowrap;
        color: #1a1a1a;
        font-weight: 500;
        flex-grow: 1;
        &:last-child {
          margin: 0px;
          background: transparent;
          border: 1px solid #63daff;
          color: #63daff;
        }
      }
    }
  }
}

.d-card {
  border: 3px solid #d0fb6e;
  .card-type {
    background: #d0fb6e 0% 0% no-repeat padding-box;
    color: black;
  }
  .card-avatar {
    width: 230px;
  }
  .card-data {
    width: calc(100% - 230px);
  }
  .card-links {
    margin: 10px 0px 20px 0px;
  }
  &-wallets {
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    h5 {
      width: 100%;
      margin-bottom: 20px;
      font-size: 14px;
      font-family: $light-font;
      text-align: center;
      letter-spacing: 0.8px;
    }
    img {
      width: 100px;
      height: auto;
      &:first-of-type {
        margin-right: 40px;
      }
    }
  }
  &-text {
    position: relative;
    padding: 10px 30px 10px 30px;

    p {
      color: $light-gray;
      font-weight: 300;
      text-align: center;
      font-size: 15px;
    }
    .card-quotes {
      color: $delegator-color;
    }
  }
  &-link {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 2px solid $delegator-color;
    border-radius: 50px;
    color: $delegator-color;
    padding: 8px 20px;
    font-family: $text-font;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-decoration: none;
  }
}

.g-card {
  height: auto;
  border: 3px solid #cd91ff;

  .card-avatar {
    width: 200px;
  }
  .card-data {
    width: calc(100% - 200px);
  }
  &-stake {
    padding-top: 20px;
    padding-bottom: 10px;

    h4 {
      font-size: 24px;
      font-family: $bold-font;
      letter-spacing: 2.5px;
    }
    p {
      font-size: 13px;
      margin-top: 0px;
      font-family: $light-font;
      color: $light-gray;
      text-transform: capitalize;
    }
    div {
      &:last-child {
        margin-top: 15px;
      }
    }
  }
  .card-links {
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.r-paper {
  border: 3px solid #ff7c00;
  width: 500px;
  align-items: center;
  padding: 20px;
  .card-name {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 10px;
  }
  &-sub-title {
    color: #ff7c00;
    font-family: $bold-font;
    letter-spacing: 1.1px;
    font-family: 14px;
    width: 70%;
    margin: auto;
    text-align: center;
  }
  &-date {
    margin-top: 10px;
    h5 {
      color: #703f11;
      font-family: $light-font;
      margin-right: 5px;
      font-size: 12px;
    }
    p {
      font-family: $light-font;
      font-size: 12px;
    }
  }

  &-img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 170px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-link {
    background: #ff7c00;
    color: white;
  }
}

.blog-post {
  width: 500px;

  align-items: center;
  padding: 20px 40px 20px 40px;
  border: 3px solid #00bfe8;
  &-small-title {
    color: $light-gray;
    text-transform: capitalize;
    font-family: $bold-font;
    letter-spacing: 1.1px;
  }
  &-name {
    font-size: 22px;
    text-align: center;
    font-family: $bold-font;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  &-date {
    margin-top: 10px;

    p {
      font-family: $light-font;
      font-size: 12px;
    }
    &-text {
      margin-right: 5px;
      color: $light-gray;
    }
  }
  &-img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 170px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-link {
    background: #00d9c4;
    color: #00100c;
  }
}

.card-text {
  color: $light-gray;
  margin-right: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  p {
    color: #d9d9d9;
    font-size: 14px;
    text-align: center;
  }
}
.card-link-btn {
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-family: $text-font;
  font-size: 14px;
  margin-top: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}
