.card {
  width: fit-content;
  min-height: 70px;
  height: auto;
  padding: 5px;
  background: $main-bg-color;
  position: relative;
  @include gradient-border;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  &-with-image {
    .card-content {
      width: calc(100% - 110px);
    }
  }
  &-socials {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    &-item {
      width: 17px;
      height: 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      &:last-child {
        margin-right: 0px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  p {
    margin-bottom: 0px;
    font-size: 1.1rem;
    letter-spacing: 0.4px;
  }
  * {
    font-family: $text-font;
    color: $text-color;
    font-weight: 500;
  }
  &-content {
    padding: 20px 15px 20px 20px;
    width: 100%;
  }
  &-body-text {
    margin-bottom: 5px;
  }

  &-image {
    width: 100px;
    flex: 1;
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &-title {
    margin-bottom: 3px;
    min-height: 35px;
    position: relative;
    @extend .gradient-text;
   
    
    
    .typed-cursor::after {
      color: $text-color;
    }
    &-text {
      font-family: $text-font;
      letter-spacing: -0.15px;
      font-size: 1.275rem;
      line-height: 2rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  &-tooltip {
    position: absolute;
    top: 0px;
    transform: translate(0, -50%);
    right: 25px;
    padding: 0px 16px 4px 16px;
    height: 41px;
    background: $main-bg-color;
    @include gradient-border;
    display: flex;
    align-items: center;
   
    img {
      margin-right: 10px;
      width: 18px;
      height: 100%;
      object-fit: contain;
    }
    p {
      font-family: $text-font;
      color: $text-color;
      font-size: 1rem;
      @extend .gradient-text;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
  }
  &-link {
    overflow: hidden;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 10px;
    overflow: hidden;

    &:first-child {
      margin-top: 0px;
    }
    img {
      width: 17px;
      height: 17px;
      margin-right: 10px;
      object-fit: contain;
      margin-top: 1px;
    }
    &-text {
      flex: 1;
      letter-spacing: 0.4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .card {
    p {
      margin-bottom: 0px;
      font-size: 1rem;
      letter-spacing: 0.4px;
    }
    &-title {
      margin-bottom: 0px;
      &-text {
        font-size: 1.375rem;
      }
    }
  }
}
