.home {
  padding-top: 110px;
  background: #000001;
  position: relative;
  .link-btn {
    margin: 0px;
    margin-top: 30px;
    font-family: "light";
    min-height: 50px;
    display: flex;
    z-index: 99;
    font-size: 0.75rem;
  }
  &-globe {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .scene-container {
      position: relative;
      transform: translate(5vw, -12vh);
    }
  }

  &-flex {
    align-items: flex-start;
    position: relative;
    &-left {
      z-index: 100;
      position: relative;
      padding-top: 28vh;

      h2 {
        font-size: 1.375rem;
        font-family: $light-font;
        text-transform: uppercase;
        letter-spacing: 0.138rem;
      }
      h1 {
        font-size: 2.063rem;
        letter-spacing: 0.206rem;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .socials {
        margin-top: 18vh;
      }
    }
  }
  &-globe-image {
    position: absolute;
    right: -25vw;
    width: 112vw;
    height: auto;
    // transform: translate(170px);
    object-position: center;
    object-fit: contain;
    max-height: 86vh;
    max-width: 1570px;
  }
}

@media only screen and (max-width: 1440px) {
  .home {
    &-globe-image {
      right: -30vw;
    }
  }
}

@media only screen and (max-width: $medium) {
  .home {
    &-flex-left {
      h2 {
        font-size: 1.125rem;
        letter-spacing: 0.138rem;
      }
      h1 {
        font-size: 1.563rem;
        letter-spacing: 0.13rem;
      }
    }
    &-globe-image {
      transform: translate(180px);
    }
  }
}

@media only screen and (max-width: $mobile) {
  .home {
    .link-btn {
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      z-index: 99;
      padding: 8px 40px 8px 20px;
      margin-bottom: 0px;
      &-arrow {
        right: 15px;
      }
    }
    &-flex {
      width: 100%;
      overflow: hidden;

      flex-direction: column;
      &-left {
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        justify-content: flex-start;
        height: auto;
        text-align: center;
        .socials {
          display: none;
        }
      }
    }
    &-globe-image {
      transform: none;
      width: 345vw;
      position: relative;
      left: 50%;
      right: auto;
      transform: translate(-50%);
      top: -33px;
    }
  }
}
