.home-page {
  height: 100vh;
  padding-left: 150px;
  padding-right: 150px;
  background: #121822;
  position: relative;
  z-index: 99999999;
  .main-header {
    background: transparent;
    margin: auto;
    position: sticky;
    height: 100px;
  }
  main {
    height: calc(100% - 100px);
  }
}
.home-globe {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  transform: translate(170px);
}
#globeViz {
  width: 100%;
  height: 100vh;
}

body {
  font-family: "Montserrat";
}
.content-wrapper {
  display: flex;
  flex-direction: column;

  position: relative;
  height: 100%;
}
.page-wrapper {
  height: 100%;
}
.navbar {
  padding: 0px 30px;
}
.globe-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  background: black;
  width: 100%;
  height: 100vh;
  z-index: 9999999;
  opacity: 1;
  transition: 0.2s all;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: white;
    font-size: 30px;
  }
}

.hide-loader {
  opacity: 0;
  pointer-events: none;
}

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(95, 255, 210, 0.07);
  width: 100%;
  height: 100vh;
  z-index: 9;
  pointer-events: none;
}

.btns-container {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 999;
}

.btns-container-list {
  display: flex;
  li {
    margin-left: 10px;
    border: 0px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: $base-bg-color;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
}

.zIndex {
  position: relative;
  z-index: 99;
}

.home-flex {
  position: relative;
  height: calc(100% - 100px);
  width: fit-content;
  display: flex;
  z-index: 10;
  flex-direction: column;
  &-text {
    position: relative;
    top: 30%;
    transform: translate(0, -50%);

    .text-p {
      letter-spacing: 3px;
      text-transform: uppercase;
      font-family: $light-font;
      font-size: 20px;
      margin-bottom: 0px;
    }
    h3 {
      letter-spacing: 3px;
      font-family: $bold-font;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 24px;
      text-transform: uppercase;
    }
  }
  .socials {
    top: 60%;
    position: relative;
    transform: translate(0, -50%);
  }
}

.addImgInput {
  position: absolute;
  right: 0px;
  top: -10px;
  transform: translate(0, -100%);
  width: 40px;
  height: 40px;
  background: white;
  z-index: 999999;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addImgInput input {
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99;
  cursor: pointer;
}

.addImgInput p {
  color: black;
  font-size: 24px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {
  .home-page {
    padding-left: 90px;
    padding-right: 90px;
  }
  .home-globe {
    transform: translate(50px);
  }
}

@media only screen and (max-width: 750px) {
  .home-globe {
    transform: translate(0px);
  }
  .home-page {
    padding-left: 30px;
    padding-right: 30px;
  }
}
