@import './cards.scss';

.globe-container {
  width: 100%;
  height: 100%;
}

#globeArea {
  width: 100%;
  height: 100%;
  transform: translate3d(-40%, -10%, 0);
}
#guardianDetails {
  display: none;
  position: absolute;
  left: 50%;
  top: 45%;
  max-width: 300px;
  width: 100%;
  z-index: 9;
}
.home {
  padding-top: 90px;
  padding-bottom: 4rem;
  position: relative;
  min-height: 100vh;
  background: linear-gradient(268.26deg, #7988e8 14.66%, #db89df 86.69%);

  .title {
    text-align: left;
    margin-bottom: 10px;
  }

  &-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    &-link {
      color: #6d80e9;
      font-size: 0.875rem;
      text-decoration: none;
      background-color: #fff;
      padding: 1rem 1.25rem;
      border-radius: 4rem;
      text-transform: uppercase;
      width: auto;
      font-weight: 600;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }

  &-link {
    color: $text-color;
    margin-top: 40px;
    font-size: 0.938rem;
    text-decoration: none;
    position: relative;
    padding-left: 110px;
    &::before {
      @include gradient-border(1px);
      position: absolute;
      content: '';
      left: 0px;
      width: 90px;
      top: 50%;
      transform: translate(0, -50%);
      height: 0px;
    }
  }
  &-flex {
    align-items: flex-start;
    position: relative;
    max-height: 75vh;

    // &.main-grid {
    //   padding: 0 3vw;
    // }

    &-left {
      z-index: 100;
      position: relative;
      padding-top: 16vh;
      flex: 1 0 60%;

      h1 {
        font-weight: 800;
        font-size: 4.063rem;
        letter-spacing: 0.206rem;
        line-height: 4.688rem;
        font-family: $text-font;
        letter-spacing: -0.009rem;
        color: #fff;
        margin-bottom: 1rem;
        text-transform: uppercase;
      }
      h2 {
        font-weight: 500;
        font-size: 1.875rem;
        color: #fff;
        margin-bottom: 3rem;
        text-transform: uppercase;
      }
    }
  }
  &-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-partners {
    &-text {
      h3 {
        font-size: 1.625rem;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-weight: 600;
        letter-spacing: 3px;
        line-height: 1.734rem;
        margin-bottom: 1rem;
      }
    }
    &-list {
      display: flex;
      gap: 0.5rem 1rem;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 3rem;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .home {
    &-globe-image {
      right: -30vw;
    }
  }
}

@media only screen and (max-width: $medium) {
  .home {
    &-flex-left {
      h2 {
        font-size: 1.125rem;
        letter-spacing: 0.138rem;
      }
      h1 {
        font-size: 1.563rem;
        line-height: 2rem;
        letter-spacing: 0.13rem;
      }
    }
    &-globe-image {
      transform: translate(180px);
    }
  }
}

@media only screen and (max-width: $mobile) {
  .globe-container {
    height: 100%;
  }
  #globeArea {
    overflow-x: hidden;
    transform: translate3d(0, -20%, 0);
  }
  .home-link {
    background: $gradient;
    padding-left: 0px;
    padding: 15px;
    border-radius: 40px;
    color: white;
    margin-top: 20px;
    &:before {
      display: none;
    }
  }
  #guardianDetails {
    top: 25%;
    transform: translateX(-50%);
  }
  .home {
    padding-top: 90px;

    .title {
      text-align: center;
    }
    .sub-title {
      margin-bottom: 16px;
    }

    &-flex {
      width: 100%;
      overflow: hidden;

      flex-direction: column;
      max-height: 100vh;
      &-left {
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        justify-content: flex-start;
        text-align: center;
        .socials {
          display: none;
        }
      }
    }
    &-buttons {
      justify-content: center;
    }

    &-bottom {
      margin-top: 2rem;
    }
  }
}
