.overview {
  position: relative;
  main {
    transform: translate(0, -100px);
    overflow: hidden;
  }
  .text,
  .images-grid,
  .list-box,
  .text-with-title,
  .overview-boxes-flex {
    @extend .inside-margin;
  }
  .page-header {
    position: relative;
    margin-top: 30px;
    h1 {
      margin-top: 0px;
    }
    figure {
      overflow: hidden;
      width: 100%;
      height: 580px;
      transform: scale(1.5) translate(-70px, 0px);
      margin-bottom: 30px;
      img {
        object-fit: contain;
      }
    }
  }
  &-flex {
    width: calc(100% - 200px);
    &-top {
      width: 60%;
    }
  }

  .images-grid {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  &-boxes-flex {
    .box {
      width: calc(100% / 3 - 10px);
      margin-right: 10px;
    }
  }
  &-bottom-flex {
    .images-grid-list {
      li {
        margin-bottom: 0px;
      }
    }
    .text-with-title {
      border: 0px;
    }
  }
  .list-box {
    width: 600px;
    max-width: 100%;
    li {
      padding-left: 20px;
      position: relative;
      &:after {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #ff3ee1;
        content: "";
        left: 0px;
        top: 6px;
      }
    }
    ul {
      margin-bottom: 20px;
    }
  }
  .expend-btn {
    padding: 10px 20px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid #53fffa;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: $text-font;
    transition: 0.15s all;
  }
}

@media only screen and (max-width: 1300px) {
  .overview .page-header figure {
    height: 44vw;
    min-height: 230px;
    transform: scale(1.5) translate(-5vw, 0px);
  }
}

@media only screen and (max-width: 1100px) {
  .overview-flex {
    width: 100%;
    &-top {
      width: 100%;
    }
  }

  .overview-flex {
    .overview-boxes-flex {
      flex-direction: column;
      .box {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 15px;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .overview-flex {
    br {
      display: none;
    }

    .images-grid-list {
      li {
        min-width: 50%;
        margin-right: 0px;
        margin-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  .overview {
    main {
      transform: translate(0, -70px);
    }
  }
}
