.overview {
  .footer {
    margin-top: 120px;
  }
  .text,
  .images-grid,
  .text-with-title,
  .overview-boxes-flex {
    margin-bottom: 60px;
  }
  .page-header {
    margin-bottom: 75px;
    figure {
      height: 74vh;
    }
  }
  &-flex {
    width: calc(100% - 400px);
    max-width: 1520px;
    margin: auto;
    &-top {
      max-width: 860px;
      width: calc(100% - 200px);
    }
  }

  .images-grid {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  &-boxes-flex {
    align-items: stretch;
    .box {
      width: calc(100% / 3 - 10px);
      margin-right: 10px;
    }
  }
  &-second-flex {
    .images-grid-list {
      li {
        margin-bottom: 0px;
      }
    }
    .text-with-title {
      border: 0px;
    }
  }

  .expend-btn {
    border: 2px solid #53fffa;
    font-size: 11px;
  }
}

@media only screen and (max-width: 1300px) {
  .overview .page-header figure {
    height: 44vw;
    min-height: 230px;
    transform: scale(1.5) translate(-5vw, 0px);
  }
}

@media only screen and (max-width: 1100px) {
  .overview-flex {
    width: 100%;
    &-top {
      width: 100%;
    }
  }

  .overview-flex {
    .overview-boxes-flex {
      flex-direction: column;
      .box {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 15px;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .overview-flex {
    br {
      display: none;
    }

    .images-grid-list {
      li {
        min-width: 50%;
        margin-right: 0px;
        margin-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  .overview {
    main {
      transform: translate(0, -70px);
    }
  }
}
