.globe-card {
  padding: 6px;
  border-radius: 10px;
  width: 700px;
  position: absolute;
  z-index: 9999;
  background: #1a1a1a;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s all;
  display: none;
  opacity: 0;
  justify-content: space-between;
}
.card-avatar {
  width: 250px;
  min-height: 100%;
  position: relative;
}
.card-name {
  margin-bottom: var(--basic-margin-bottom);
  font-size: 26px;
  text-align: center;
}
.card-avatar img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.card-address {
  font-size: 16px;

  margin-bottom: var(--basic-margin-bottom);
}
.card-data {
  width: calc(100% - 250px);
  padding: 10px 15px 0px 15px;
}
.card-date {
  margin-bottom: var(--basic-margin-bottom);
}

.card-date p {
  font-size: 11px;
}

.card-date p:nth-child(1) {
  margin-right: 5px;
}
.border {
  background: #383838;
  height: 1px;
  width: 100%;
}

.card-location {
  margin-bottom: var(--basic-margin-bottom);
}
.card-location img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.card-location p {
  font-size: 12px;
}

.card-nickname {
  margin-bottom: var(--basic-margin-bottom);
  font-size: 14px;
  color: #75a2ff;
  text-align: center;
}
.card-links a {
  width: 30px;
  height: 30px;
  position: relative;
  margin-left: 10px;
}

.card-links a::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";

  width: 100%;
  height: 100%;
}

.c-card {
  height: auto;
  border: 1px solid #60e5ff;
}
.c-card .card-data {
  padding-bottom: 20px;
}
.c-card-repos {
  padding: 20px 5px;
  flex-wrap: wrap;
}
.c-card-repos-top {
  width: 100%;
  margin-bottom: 20px;
}
.c-card-repos-top p {
  font-size: 12px;
}
.c-card-repos-top img {
  margin-right: 10px;
}
.c-card-repos h5 {
  text-align: left;
  font-size: 14px;
  margin-bottom: 10px;
  color: #71aeff;
}
.c-card-repos span {
  width: 50%;
}

.c-card-repos p {
  font-size: 12px;
  text-align: left;
}
.c-card-repos span:first-of-type {
  padding-right: 30px;
}
.c-card-repos span:last-of-type {
  padding-left: 30px;
  border-left: 1px solid #383838;
}
.c-card-repos button {
  margin-top: 10px;
  border-radius: 15px;
  border: 1px solid #383838;
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  font-size: 12px;
  transition: 0.2s all;
}
.c-card-repos button:hover {
  color: #caaf56;
  border: 1px solid #caaf56;
}
.c-card .card-links {
  margin-top: 20px;
  margin-bottom: 20px;
}

.c-card-interests {
  padding-top: 20px;
  align-items: center;
}
.c-card-interests p {
  font-size: 14px;
}
.c-card-interests ul {
  margin-left: 10px;
}
.c-card-interests ul li {
  padding: 5px 10px;
  background: #63daff;
  margin-right: 10px;
  border-radius: 20px;
  font-size: 12px;
  white-space: nowrap;
  color: #1a1a1a;
}

.c-card-interests ul li:last-child {
  margin: 0px;
  background: transparent;
  border: 1px solid #63daff;
  color: #63daff;
}

.c-card .card-links a::after {
  background: url("../img/border.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.d-card .card-data {
  padding-bottom: 10px;
}
.d-card .card-address {
  color: #dafd73;
}

.d-card .card-links a::after {
  background: url("../img/delegators/border.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.d-card .card-links {
  margin: 20px 0px;
}

.d-card-wallets {
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.d-card-wallets p {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
}
.d-card-wallets img {
  width: 100px;
  height: auto;
}
.d-card-wallets img:first-of-type {
  margin-right: 40px;
}

.d-card-tokens {
  flex-wrap: wrap;
  padding-top: 20px;
}

.d-card-tokens p {
  width: 100%;
  margin-bottom: 20px;
}

.d-card-tokens span:first-of-type {
  margin-right: 30px;
}
.d-card-tokens span p {
  font-size: 12px;
}

.d-card-tokens span h5 {
  font-size: 20px;
  margin-bottom: 5px;
}

.g-card {
  height: auto;
  border: 1px solid #ae1bff;
}
.g-card .card-data {
  padding-bottom: 30px;
}

.g-card-stake {
  padding: 20px 30px;
}

.g-card-stake h4 {
  font-size: 22px;
}

.g-card-stake p {
  font-size: 14px;
  margin-top: 5px;
}
.g-card-bottom {
  padding-top: 10px;
  position: relative;
}
.g-card-bottom p {
  color: #d9d9d9;
  line-height: 25px;
  font-size: 14px;
  padding: 0px 25px;
}
.g-card-bottom figure {
  position: absolute;
  font-size: 40px;
  color: #ae1bff;
}
.g-card-bottom-quotes-left {
  left: 0px;
}
.g-card-bottom-quotes-right {
  right: 0px;
  bottom: -20px;
}

.g-card .card-links {
  margin-bottom: 15px;
  margin-top: 10px;
}

.g-card .card-address {
  color: #d640ff;
}
