@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600&display=swap");

* {
  color: white;
  outline: none;
}
:root {
  --basic-margin-bottom: 10px;
}
.globe-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(7%);
  z-index: 1;
}
#globeViz {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat";
}
.page-wrapper {
  padding: 30px 70px;
  background: #000011;
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  height: 100vh;
}
.navbar {
  padding: 0px 30px;
}
.globe-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  background: black;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  opacity: 1;
  transition: 0.2s all;
  display: flex;
  align-items: center;
  justify-content: center;
}
.globe-loader p {
  color: white;
  font-size: 30px;
}

.hide-loader {
  opacity: 0;
  pointer-events: none;
}

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(95, 255, 210, 0.07);
  width: 100%;
  height: 100vh;
  z-index: 9;
  pointer-events: none;
}

.btns-container {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 999;
}

.btns-container-list {
  display: flex;
}

.btns-container-list li {
  margin-left: 10px;
  border: 0px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: black;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.zIndex {
  position: relative;
  z-index: 99;
}

.page-content {
  position: relative;
  top: 40%;
  transform: translate(0, -50%);
  pointer-events: none;
}
.page-content-top {
  margin-bottom: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.page-content-top img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-right: 10px;
}
.page-content-top p {
  font-size: 20px;
  letter-spacing: 3px;
}
.page-content-desc {
  padding-left: 14px;
  position: relative;
}
.page-content-desc::after {
  position: absolute;
  content: "";
  left: 0px;
  top: 50%;
  transform: translate(0, -50%);
  width: 3px;
  height: calc(100% - 5px);
  background: white;
}
.page-content-desc h3,
.page-content-desc p {
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 3px;
  text-align: left;
}
.page-content-desc h3 {
  font-size: 30px;
  font-weight: 600;
}
.page-content-desc p {
  font-size: 16px;
  font-weight: 300;
}

footer {
  margin-top: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.addImgInput {
  position: absolute;
  right: 0px;
  top: -10px;
  transform: translate(0, -100%);
  width: 40px;
  height: 40px;
  background: white;
  z-index: 999999;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addImgInput input {
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99;
  cursor: pointer;
}

.addImgInput p {
  color: black;
  font-size: 24px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.testdiv {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
}
