.code-container {
    background: white;
  display: flex;
  border-radius: 20px;
  align-items: stretch;
  position: relative;
  #get-started {
    position: absolute;
    top: -110px;
  }
  &-left {
    padding: 50px 35px 50px 35px;
  }
  &-right {
    position: relative;
    padding: 50px 30px 30px 30px;
    background: $gray;
    flex:1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  code {
    padding: 0 !important;
  }
}




@media only screen and (max-width: 900px) {
   .code-container{
    flex-direction: column;
    &-left{
         padding: 40px 20px 40px 20px;
         & > div{
            width:100%;
         }
    }
    &-right{
          border-radius: 0px 0px 20px 20px;
    }
   }

  .hljs {
      font-size: 14px!important;
      line-height: 22px;
    }
}