.expending-box {
  &-title,
  .title-h4 {
    letter-spacing: 1px;
    font-size: 1.438rem;
    font-weight: 600;
    margin-bottom: 21px;

    line-height: 2.3rem;
  }

  &-text {
    &-more {
      display: none;
      .text-p {
        margin-top: 20px;
      }
      .title-h4 {
        margin-top: 30px;
      }
    }
  }
  a {
    color: $light-color;
    text-decoration: underline;
  }
  .title-h5 {
    letter-spacing: 1px;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 21px;
    margin-top: 20px;
    line-height: 2rem;
  }

  .expend-btn {
    @extend .btn;
    margin-top: 27px;
  }
  .read-less-btn {
    display: none;
  }
  &-border-top {
    border-top: 1px solid #707070;
    padding-top: 28px;
  }
  &-border-bottom {
    border-bottom: 1px solid #707070;
    padding-bottom: 45px;
  }
  ul {
    li {
      font-size: 0.875rem;
      margin-bottom: 10px;
      position: relative;
      padding-left: 25px;
      line-height: 1.6rem;
      &:after {
        position: absolute;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: #ff3ee1;
        content: "";
        left: 0px;
        top: 8px;
      }
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &-active {
    .read-less-btn {
      display: block;
    }
    .read-more-btn {
      display: none;
    }
    .expending-box-text-more {
      display: block;
    }
  }
}

.without-max-height {
  max-height: none !important;
}
