.form {
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  position: relative;
  &-content {
    position: relative;
  }
  &-success {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 120px;
    transition: 0.2s all;
    display: none;
    h4 {
      font-size: 1.438rem;
      margin-bottom: 30px;
      font-size: bold;
      text-align: center;
    }
    .text-p {
      text-align: center;
      font-size: 1.063rem;
    }
  }

  &-submitted {
    .form-success {
      opacity: 1;
      pointer-events: all;
    }
    .loader {
      opacity: 0;
    }
  }

  &-title {
    margin-bottom: 40px;
    color: $light-color;
    font-size: 1.563rem;
    text-transform: uppercase;
    font-family: $bold-font;
    text-align: center;
  }
  &-sub-title {
    font-size: 1.063rem;
    text-align: center;
    font-weight: 500;
    font-family: $text-font;
  }
  &-inputs {
    flex-wrap: wrap;

    .form-input {
      width: calc(50% - 20px);
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      position: relative;

      label {
        margin-bottom: 15px;
        font-size: 1.063rem;
        font-weight: 300;
      }
      input {
        background: transparent;
        border: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0px;
        border-bottom: 1px solid $blue;
        padding-bottom: 15px;
        font-size: 1.063rem;
        font-weight: 300;
        font-family: inherit;
        &::placeholder {
          color: #696969;
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
      .form-error {
        opacity: 0;
        position: absolute;
        top: calc(100% + 5px);
        font-size: 0.75rem;
      }
      .actve-error {
        opacity: 1;
      }
      &:nth-child(even) {
        margin-left: auto;
      }
    }
  }
  &-submit-container {
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-submit {
      text-transform: uppercase;
      background: transparent;
      padding: 0px 60px;
      margin: auto;

      @extend .btn;
    
    }
    .loader {
      display: none;
      height: 45px;
    }
  }
}
