.gdpr {
  width: 100%;
  position: fixed;
  bottom: 0px;
  min-height: 70px;
  background: #5E75E8;
  padding: 10px 40px;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s all;
  display: flex;
  justify-content: space-between;
  transform: translate(0, 100%);
  transition: 0.2s all;
  z-index: 999999;
  *{
    color: white;
  }
  &-btns {
    margin-left: auto;
    display: flex;
    align-items: center;

    button {
      padding: 0px 30px;
      height: 45px;
      border: 2px solid white;
      margin-left: 20px;
      font-size: 1rem;
      border-radius: 42px;
      text-transform: capitalize;
      color: white;
      &:first-child {
        margin-left: 0px;
      }
    }
    &-accept {
     
      background: $gradient;
    }
    &-reject {
    }
  }
  a {
    text-decoration: none;
  }
  .text-p {
    margin: 0px;
    flex: 1;
    padding-right: 50px;
    align-self: center;
  }
  &-active {
    opacity: 1;
    pointer-events: all;
    transform: translate(0, 0%);
  }
}
