html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  margin: 20px;
}

main {
  flex-grow: 1;
}

.content h1 {
  text-align: center;
  font-size: 40px;
}

.content h3 {
  color: #4088e6;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.one-line {
  white-space: nowrap;
}
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

* {
  user-select: none;
}

.img-loader {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.socials {
  display: flex;
  height: 40px;
  position: relative;
  z-index: 10000;
  &-element {
    width: 23px;
    margin-right: 20px;
    height: 100%;
    img {
      width: 70%;
      height: 70%;
    }
  }
  a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.limited-lines {
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: hidden;
  display: -webkit-box;
}

.images-grid {
  width: 50%;
  &-title {
    letter-spacing: 0.4px;
    margin-bottom: 45px;
    font-weight: 600;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.875rem;
  }
  &-list {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    li {
      align-items: center;

      .text-p {
        text-align: center;
        margin-bottom: 0px;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
    &-img {
      width: 45px;
      height: 45px;

      border-radius: 50%;
      margin-bottom: 27px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.expending-box {
  &-title {
    letter-spacing: 1px;
    font-size: 1.438rem;
    font-weight: 600;
    margin-bottom: 21px;
    line-height: 26px;
    margin-top: 40px;
    line-height: 2.3rem;

    &:first-child {
      margin-top: 0px;
    }
  }

  .expend-btn {
    @extend .btn;
    margin-top: 27px;
  }
  &-border-top {
    border-top: 1px solid #707070;
    padding-top: 28px;
  }
  &-border-bottom {
    border-bottom: 1px solid #707070;
    padding-bottom: 45px;
  }
}

.expending-box-list {
  .expending-box-title {
    font-size: 1.063rem;
    margin-bottom: 15px;
  }
  ul {
    li {
      font-size: 0.875rem;
      margin-bottom: 10px;
      position: relative;
      padding-left: 25px;
      line-height: 1.6rem;
      &:after {
        position: absolute;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: #ff3ee1;
        content: "";
        left: 0px;
        top: 8px;
      }
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.boxes {
  &-title {
    margin-bottom: 45px;
    color: #ff2cbf;
    font-size: 1.563rem;
    font-weight: 500;
    letter-spacing: 2.9px;
  }
  &-list {
    flex-wrap: wrap;
    align-items: stretch;
    @include grid-3(14px, 14px, calc(100% / 3 - 10px));
    .box {
      border: 1px solid white;
      padding: 31px 27px 27px 34px;
      display: flex;
      flex-direction: column;
      min-height: 400px;

      h5 {
        font-size: 1.25rem;
        margin-bottom: 40px;
        line-height: 1.7rem;
        font-weight: 600;
        padding-right: 40px;
      }
      .text-p {
        line-height: 1.6rem;
      }
      figure {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-top: auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.link-btn {
  padding: 8px 30px 8px 30px;
  border: 2px solid #53fffa;
  border-radius: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: auto;
  width: fit-content;
  text-transform: capitalize;
  text-decoration: none;
  position: relative;
  transition: 0.2s all;
  margin-top: 60px;
  margin-bottom: 60px;
  p {
    letter-spacing: 0.081rem;
    font-size: 0.75rem;
    padding-top: 2px;
  }
  .link-btn-arrow {
    width: 10px;
    height: 10px;
    position: absolute;
    transition: 0.2s all;
    top: 50%;
  }
  &-right {
    padding: 8px 50px 8px 30px;
    .link-btn-arrow {
      border-bottom: 2px solid white;
      border-right: 2px solid white;

      right: 25px;
      transform: rotate(-45deg) translate(0, -50%);
    }
    &:hover {
      padding-right: 30px;
      .link-btn-arrow {
        opacity: 0;
      }
    }
  }
  &-left {
    padding: 8px 30px 8px 50px;
    .link-btn-arrow {
      border: 0px;
      border-bottom: 2px solid white;
      border-left: 2px solid white;
      transform: rotate(45deg) translate(0, -50%);
      left: 25px;
      right: auto;
    }
    &:hover {
      padding-left: 30px;
      .link-btn-arrow {
        opacity: 0;
      }
    }
  }
}

.opening-box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  height: auto;
  cursor: pointer;
  padding-right: 50px;
  margin-bottom: 12px;

  &-arrow {
    width: 11px;
    height: 11px;
    position: absolute;
    right: 25px;
    transform: rotate(-45deg);
    top: 26px;
  }

  &-title {
    min-height: 65px;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    padding: 15px 0px;
  }
  &-text {
    padding-bottom: 20px;
    display: none;
    height: auto;
  }
  &-active {
    .opening-box-text {
      display: block;
    }
  }
  &:last-child {
    margin-bottom: 0px;
  }
}

.inner-links {
  margin-bottom: 20px;
  a {
    width: 27px;
    height: 27px;
    position: relative;
    margin-right: 7px;
    &:last-child {
      margin-right: 0px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.bread-crumbs {
  margin-bottom: 30px;
  * {
    font-weight: 500;
    font-size: 14px;
  }
  a {
    text-decoration: none;
  }

  small {
    margin-right: 5px;
    margin-left: 5px;
  }
}

.side-menu {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  height: calc(100vh - 200px);
  position: sticky;
  top: 150px;
  &-title {
    color: #03fcf5;
    font-size: 1.75rem;
    margin-bottom: 27px;
    text-transform: uppercase;
    font-family: $bold-font;
  }
  &-body {
    .text-p {
      margin-bottom: 0px;
    }
  }
  .socials {
    margin-top: auto;
    margin-bottom: 0px;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.form {
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  position: relative;
  &-content {
    position: relative;
  }
  &-success {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 99;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 120px;
    transition: 0.2s all;
    h4 {
      font-size: 1.438rem;
      margin-bottom: 30px;
      font-size: bold;
    }
    .text-p {
      font-size: 1.063rem;
    }
  }

  &-submitted {
    .form-success {
      opacity: 1;
      pointer-events: all;
    }
    .loader {
      opacity: 0;
    }
  }

  &-title {
    margin-bottom: 40px;
  }
  &-sub-title {
    font-size: 1.063rem;
    text-align: center;
    font-weight: 600;
  }
  &-inputs {
    flex-wrap: wrap;

    .form-input {
      width: calc(50% - 20px);
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      position: relative;

      label {
        margin-bottom: 15px;
        font-size: 1.063rem;
        font-weight: 300;
      }
      input {
        background: transparent;
        border: 0px;
        border-bottom: 1px solid #4cfce2;
        padding-bottom: 15px;
        font-size: 1.063rem;
        font-weight: 300;
        font-family: inherit;
        &::placeholder {
          color: #696969;
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
      .form-error {
        opacity: 0;
        position: absolute;
        top: calc(100% + 5px);
        font-size: 0.75rem;
      }
      .actve-error {
        opacity: 1;
      }
      &:nth-child(even) {
        margin-left: auto;
      }
    }
  }
  &-submit-container {
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-submit {
      text-transform: uppercase;
      background: transparent;
      padding: 0px 60px;
      margin: auto;

      @extend .btn;
      cursor: pointer;
      letter-spacing: 0.1rem;
    }
    .loader {
      display: none;
      height: 45px;
    }
  }
}

.subscribe {
  transition: 0.2s all;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 999999;
  pointer-events: none;
  display: none;
  &-overlay {
    width: 100%;
    height: 100%;
    background: #191919;
    position: absolute;
  }

  .form {
    max-width: 1022px;
    width: calc(100% - 200px);
    border: 1px solid #03fcf5;
    position: relative;
    margin-top: 23vh;
    z-index: 999;
    height: auto;
    padding: 30px;
    &-content {
      max-width: 830px;
      margin: auto;
    }
    .form-success {
      padding-top: 40px;
      .text-p {
        font-size: 20px;
      }
    }
    &-inputs {
      margin-top: 70px;
    }
    &-close-btn {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 10px;
      top: 10px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    &-title {
      margin-bottom: 70px;
      h3 {
        text-align: center;
        font-size: 1.438rem;
      }
    }
  }
  &-active {
    opacity: 1;
    pointer-events: all;
  }
}
