.opening-box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  height: auto;
  cursor: pointer;
  padding-right: 50px;
  margin-bottom: 12px;

  &-arrow {
    width: 11px;
    height: 11px;
    position: absolute;
    right: 25px;
    transform: rotate(-45deg);
    top: 26px;
  }

  &-title {
    min-height: 65px;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    padding: 15px 0px;
  }
  &-text {
    padding-bottom: 20px;
    display: none;
    height: auto;
  }
  &-active {
    .opening-box-text {
      display: block;
    }
  }
  &:last-child {
    margin-bottom: 0px;
  }
}
