.opening-box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  height: auto;
  margin-bottom: 12px;

  &-arrow {
    width: 11px;
    height: 11px;
    position: absolute;
    right: 25px;
    transform: rotate(-45deg);
    top: 26px;
    pointer-events: none;
  }

  &-title {
    min-height: 65px;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    padding: 15px 0px;
    padding-right: 50px;
    cursor: pointer;
    user-select: none;
  }
  &-text {
    padding-bottom: 20px;
    display: none;
    height: auto;
    padding-right: 50px;
  }
  a {
    @extend .text-overflow;
    display: block;
    min-width: 100%;
  }
  &-active {
    .opening-box-text {
      display: block;
    }
  }
  &:last-child {
    margin-bottom: 0px;
  }
  ul {
    li {
      font-size: 1rem;
      margin-bottom: 10px;
      padding-left: 18px;
      position: relative;
      &::after {
        position: absolute;
        left: 0px;
        top: 6px;
        width: 7px;
        height: 7px;
        background: white;
        border-radius: 50%;
        content: "";
      }
      a {
        text-decoration: none;
      }
    }
  }
}
