@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600&display=swap");
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  margin: 20px;
}

main {
  flex-grow: 1;
}

.content h1 {
  text-align: center;
  font-size: 40px;
}

.content h3 {
  color: #4088e6;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.one-line {
  white-space: nowrap;
}
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

* {
  user-select: none;
}

.img-loader {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.socials {
  display: flex;
  height: 40px;
}
.socials-element img {
  width: 70%;
  height: 70%;
}

.socials-element {
  width: 30px;
  margin-right: 15px;
  height: 100%;
}
.socials-element a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.text-box {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &-base {
    margin-bottom: 30px;
    * {
      text-align: left;
      font-family: $text-font;
    }
    &-title {
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 15px;
      font-size: 20px;
    }
    &-text {
      font-size: 15px;
      line-height: 24px;
    }

    &-expend {
      padding: 10px 20px;
      background: transparent;
      border: 1px solid white;
      border-radius: 20px;
      margin-top: 20px;
    }
  }
  &:last-of-type {
    border: 0px;
  }
}

.text-box-with-images {
  .text-box-images {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
    align-items: flex-start;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 20px;
      margin-bottom: 20px;

      figure {
        height: 40px;
        margin-bottom: 10px;
        width: 40px;
        border: 2px solid white;
        border-radius: 50%;
        img {
          opacity: 0;
        }
      }
      p {
        text-align: center;
        font-size: 12px;
      }
    }
  }
}
.limited-lines {
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: hidden;
  display: -webkit-box;
}

.text-box-with-dots {
  ul {
    li {
      p {
        text-align: left;
        padding-left: 20px;
        position: relative;
        font-size: 14px;
        &::after {
          position: absolute;
          left: 0px;
          top: 50%;
          transform: translate(0, -50%);
          content: "";
          width: 10px;
          height: 10px;
          background: $pink;
          border-radius: 50%;
        }
      }
    }
  }
}
.text-cards {
  height: fit-content;
  align-items: stretch;
}
.text-card {
  width: 200px;
  flex: 1;
  padding: 10px;
  border: 1px solid #ffffff;

  * {
    text-align: left;
  }
  &-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
  }
  &-text {
    font-size: 12px;
    margin-bottom: 30px;
  }
  &-img {
    width: 40px;
    height: 40px;
    background: lightgray;
    margin-top: auto;
    border-radius: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      opacity: 0;
    }
  }
}

.images-grid {
  width: 50%;
  &-title {
    letter-spacing: 0.4px;
    margin-bottom: 40px;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
  }
  &-list {
    flex-wrap: wrap;
    align-items: flex-start;
    li {
      margin-right: 20px;
      align-items: center;
      margin-bottom: 40px;
      padding-left: 10px;
      padding-right: 10px;
      p {
        font-size: 11px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.5px;
      }
    }
    &-img {
      width: 40px;
      height: 40px;

      border-radius: 50%;
      margin-bottom: 15px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.text-with-title {
  padding-top: 30px;
  h5 {
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 26px;
  }
  .text-p {
    margin-bottom: 20px;
  }
  .expend-btn {
    @include read-more-btn();
    &-close {
      display: none;
    }
  }
}

.page-header {
  margin-bottom: 50px;
  .text-p {
    font-size: 21px;
  }
  h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 35px;
    font-family: $bold-font;
    position: relative;
  }
  figure {
    width: 100%;
    height: 600px;
    margin: auto;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.box {
  border: 1px solid white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  p {
    font-size: 13px;
    margin-bottom: 30px;
  }
  h5 {
    font-size: 17px;
    margin-bottom: 10px;
  }
  figure {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.list-box {
  margin-bottom: 50px;
  h4 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  ul {
    li {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
}

.link-btn {
  padding: 8px 50px 8px 30px;
  border: 2px solid #53fffa;
  border-radius: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: fit-content;
  text-transform: capitalize;
  margin-top: 70px;
  text-decoration: none;
  position: relative;
  transition: 0.2s all;
  // overflow: hidden;
  p {
    letter-spacing: 2px;
    font-size: 14px;
    padding-top: 3px;
  }
  &-arrow {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transition: 0.2s all;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    right: 20px;
    transform: rotate(-45deg) translate(0, -50%);
  }
  &:hover {
    padding-right: 30px;
    .link-btn-arrow {
      opacity: 0;
    }
  }
  &-back {
    padding: 8px 30px 8px 50px;
    .link-btn-arrow {
      border: 0px;
      border-bottom: 2px solid white;
      border-left: 2px solid white;
      transform: rotate(45deg) translate(0, -50%);
      left: 20px;
      right: auto;
    }
    &:hover {
      padding-left: 30px;
      .link-btn-arrow {
        opacity: 0;
      }
    }
  }
}

.opening-box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;
  min-height: 50px;
  cursor: pointer;
  padding-right: 50px;
  margin-bottom: 5px;
  &:last-of-type {
    margin-bottom: 0px;
  }
  &-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 50px;
  }
  &-arrow {
    width: 8px;
    height: 8px;
    position: absolute;
    right: 25px;
    transform: translate(0, -50%) rotate(-45deg);
    top: 50%;
  }
  p {
    text-align: left;
  }
  &-title {
    height: 50px;
    display: flex;
    align-items: center;

    p {
      font-size: 15px;
    }
  }
  &-text {
    height: 0px;
    overflow: hidden;
    transition: 0.15s all;
    opacity: 0;
    p {
      line-height: 23px;
    }
  }
}
