.post-card {
  position: relative;
  border-radius: 25px;
  display: flex;
  flex-direction: column;

  &-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
  }
  &-children {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
