.product-header {
  display: flex;
  position: relative;
  &-button{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    .button{ 
        padding: 0px 40px;
    }
  }

  .main-grid {
    position: relative;
    display: flex;
      align-items: flex-start;
    gap: 50px;
  }
  &-body {
    position: relative;
    flex:1;
    z-index: 1;

    text-align: left;
    * {
      text-align: left;
    }

    p {
      max-width: 617px;
    }
  }
  &-flex {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }
  &-img {
    position: absolute;
    pointer-events: none;
  }
  .button{
    // padding: 0px 26px;
  }
 
  &-powered {
    height: 140px;
    position: absolute;
    width: auto;
  }
  &-github {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-bottom: 30px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
    }
    p {
      text-align: left;
      margin-top: 0px;
      @extend .header-top-text;
      margin-bottom: 0px;
    }
  }
 
}

// @media only screen and (min-width: 800px) {
//   .product-header {
//     height: calc(100vh - 180px);
//     margin-bottom: 0px;
//     padding-bottom: 0px;
//   }
// }

@media only screen and (max-width: 1250px) and (min-width: 800px) {
  .product-header {
    h1{
      font-size: 3.7vw;
      line-height: 4.8vw;
    }
   &-powered{
    height: 10vw;
   }
    &-body{
       .text-p{
        font-size: 1.35vw;
        line-height: 2.2vw;
       }
    }
  }
}

@media only screen and (max-width: 800px) {
  .product-header {
     &-powered {
        display: none;
      }
      &-hero {
        display: none;
      }
  }
}
