.guardian-container {
  position: fixed;
  width: 580px;
  height: 400px;
  border-radius: 4px;
  border: 2px solid white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background: #1b1b1b;
  z-index: 99;
  border-radius: 5px;
  overflow: hidden;
  display: none;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s all;
  transform-origin: center;
}
.guardian-avatar {
  width: 30%;
  height: 100%;
}
.guardian-details {
  padding: 10px;
  width: 70%;
}
.guardian-avatar img {
  width: 100%;
  height: 100%;
}
.guardian-container-show {
  opacity: 1;
  pointer-events: all;
}
.guardian-details-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding-bottom: 10px;
}
.guardian-contact {
  display: flex;
}
.guardian-contact li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
}
