.blog {
  &-content {
    background: white;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .header {
    h2 {
      @extend .text-p;
      font-weight: 400;
      margin-top: 30px;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;

    &-blog {
      overflow: hidden;
      min-height: 280px;
      position: relative;
      display: flex;
      flex-direction: column;
      * {
        color: black;
        text-decoration: none;
      }
      .limited-lines {
        -webkit-line-clamp: 3;
      }
      &-title {
        @extend .text-p;
        font-weight: 400;
        padding-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-height: 105px;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
      &-description {
        .text-p {
          font-size: 0.875rem;
          margin-bottom: 0px;
        }
      }
      &-img {
        width: 100%;
        height: 219px;
        transition: 0.2s all;
        transform-origin: center;
        object-fit: cover;
        margin-bottom: 20px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-flex {
        display: flex;
        width: 100%;
        height: 100%;
        text-decoration: none;
        flex-direction: column;
      }
      &-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-bottom: 15px;
      }
      &-author {
        margin-top: auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 13px;
          object-position: top;
        }
        a {
          font-weight: bold;
          font-size: 0.875rem;
          text-transform: uppercase;
        }
        p {
          font-size: 0.875rem;
        }
        small {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}

.hidden-blog {
  opacity: 0 !important;
  width: 0px;
  height: 0px;
  transition: 0.2s all;
  display: none;
}

.active-tag {
  background: white;
  border: 2px solid white;
  color: black;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  button {
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .pagination-selected {
    background: lightblue;
  }
}

@media only screen and (min-width: $medium) {
  .blog {
    &-list {
      gap: 32px;
      &-blog {
        flex: 0 0 calc(33.333% - 21.333px);
      }
    }
  }
}

@media only screen and (min-width: $mobile) and (max-width: $medium) {
  .blog {
    &-list {
      gap: 25px;
      &-blog {
        flex: 0 0 calc(50% - 12.5px);
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .blog {
    &-content {
      padding-top: 40px;
    }
    &-header {
      .sub-title {
        .text-p {
          font-size: 1.063rem;
        }
      }
    }
    &-list {
      gap: 25px;
      &-blog {
        flex: 0 0 100%;
        &-title {
          font-size: 1.12rem;
          line-height: 1.7rem;
        }
        &-img {
          height: 50vw;
          min-height: 200px;
        }
      }
    }
  }
}
