.blog {
  &-content {
    background: white;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &-tags {
    text-align: center;
    @extend .main-grid;
    justify-content: center;
    margin-bottom: 40px;
    white-space: nowrap;
    overflow: auto;
    height: 50px;
    margin-top: 30px;

    &-tag {
      padding: 13px 44px;
      font-size: 1.063rem;
      height: 100%;
      border: 1px solid white;
      border-radius: 27px;
      margin-right: 15px;
      cursor: pointer;
      position: relative;
      top: 15px;

      text-decoration: none;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      @extend .main-grid;
    }
    .sub-title {
      margin: auto;
      margin-top: 30px;
      @extend .main-grid;
      .text-p {
        font-size: 1.125rem;
        text-align: center;
        font-weight: 500;
        letter-spacing: 0.36px;
      }
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    .footer-blog {
      display: none;
      visibility: hidden;
    }
    &-blog {
      overflow: hidden;
      min-height: 280px;
      position: relative;

      * {
        color: black;
        text-decoration: none;
      }
      .title {
        font-size: 1.375rem;
        margin-top: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 2.063rem;
        padding-right: 10px;
      }
      .text-p {
        font-size: 0.875rem;
      }
      &-img {
        width: 100%;
        height: 219px;
        transition: 0.2s all;
        transform-origin: center;
        object-fit: cover;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-flex {
        display: flex;
        width: 100%;
        height: 100%;
        text-decoration: none;
        flex-direction: column;
      }
      &-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
      }
      &-author {
        margin-top: auto;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 13px;
          object-position: top;
        }
        p {
          font-size: 0.875rem;

          &:first-of-type {
            font-weight: bold;
            text-transform: uppercase;
          }
        }
        small {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}

.hidden-blog {
  opacity: 0 !important;
  width: 0px;
  height: 0px;
  transition: 0.2s all;
  display: none;
}

.active-tag {
  background: white;
  color: black;
}

@media only screen and (min-width: $medium) {
  .blog {
    &-list {
      @include grid-3(32, 32);
    }
  }
}

@media only screen and (min-width: $mobile) and (max-width: $medium) {
  .blog {
    &-list {
      @include grid-2(25, 25);
    }
  }
}

@media only screen and (max-width: $mobile) {
  .blog {
    &-list {
      @include grid-1(25);
      &-blog {
        &-img {
          height: 50vw;
          min-height: 200px;
        }
      }
    }
    &-tags {
      overflow: auto;
      flex: none;
      flex-wrap: nowrap;
      height: auto;
      &-tag {
        display: inline-block;
        font-size: 0.75rem;
        padding: 15px 25px;
        top: 0px;
      }
    }
  }
}
