$letter-spacing: -0.15px;
$text-color: #454545;
$blue: #6d80e9;

.ton-gateway-link {
  border: 1px solid $blue;
  border-radius: 100px;
  padding: 12px 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  * {
    color: $blue;
    font-size: 14px;
    font-weight: 700;
  }
}

.ton-gateway {
  min-height: 100vh;
  background: #faf8fd;

  &-header {
    display: flex;
    padding-bottom: 165px;
    position: relative;
    margin-top: 166px;
    .main-grid {
      position: relative;
    }
    &-body {
      position: relative;
      z-index: 1;

      text-align: left;
      * {
        text-align: left;
      }
      h1 {
      }

      p {
        font-size: 17px;
        font-weight: 400;
        margin-top: 20px;
        max-width: 617px;
        color: $text-color;
        line-height: 28px;
      }
    }
    &-flex {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 1;
      margin-bottom: 60px;
    }
    &-img {
      position: absolute;
      pointer-events: none;
    }
    &-hero {
      top: -20px;
      right: -30px;
      width: 800px;
    }
    &-powered {
      height: 50px;
      bottom: -10px;
      right: 0;
    }
    &-github {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 34px;
      p {
        font-size: 22px;
        font-weight: 700;
        color: #626262;
      }
    }
    &-button {
      @extend .ton-gateway-link;
      margin-top: 30px;
      text-transform: uppercase;
    }
  }
  &-posts {
    background: #313855;
    padding-top: 100px;
    padding-bottom: 111px;

    .main-grid {
      display: flex;
      flex-direction: column;
      gap: 47px;
    }
    h3 {
      letter-spacing: $letter-spacing;
      @extend .gradient-text;
      font-size: 24px;
      font-weight: 900;
      text-align: center;
    }
    &-flex {
      display: flex;
      gap: 45px;
      align-items: stretch;
      justify-content: center;
    }
    &-post {
      max-width: 690px;
      padding: 30px 30px 37px 30px;
      width: 50%;
      border-radius: 25px;
      position: relative;

      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: flex-start;
      * {
        color: white;
      }
    }

    .post {
      &-content {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
      &-figure {
        height: 80px;
      }
      &-frame {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        pointer-events: none;
      }
      &-body {
        * {
          font-weight: 500;
          line-height: 33px;
        }
      }
      &-profile {
        margin-top: auto;
        display: flex;
        align-items: center;
        gap: 20px;
        &-avatar {
          width: 84px;
          height: 84px;
          border-radius: 50%;
          overflow: hidden;
        }
        &-right {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 8px;
          h4 {
            font-size: 18px;
            font-weight: 700;
          }
          h5 {
            font-size: 17px;
            font-weight: 400;
          }
        }
      }
    }
  }
  &-example {
    background: #5e75e8;
    padding: 88px 0px 94px 0px;
    .main-grid {
      max-width: 1460px;
    }
    &-flex {
      display: flex;
      align-items: stretch;
      border-radius: 20px;
      width: 100%;

      background: white;
    }
    &-options {
      display: flex;
      flex-direction: column;
      gap: 47px;
      padding: 69px 35px 107px 66px;
    }
    .hljs {
      padding: 0;
      font-size: 15px;
      line-height: 24px;
    }
    &-code {
      flex: 1;
      background: #f6f8fa;
      padding: 40px 30px 30px 30px;
      position: relative;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      overflow: hidden;
      .ton-gateway-example-copy {
        position: absolute;
        top: 20px;
        right: 30px;
        & img {
          width: 20px;
        }
        &-tooltip {
          position: absolute;
          top: 30px;
          left: 50%;
          transform: translate(-50%);
          background: white;
          padding: 5px;
          display: none;
        }
      }
    }
    &-links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      margin-top: 50px;
      a {
        border-radius: 100px;
        text-transform: uppercase;
        padding: 11px 30px;
        font-size: 14px;
        font-weight: 700;
        color: white;
        text-decoration: unset;
        border: 1px solid white;
      }
    }
    &-title {
      margin-bottom: 30px;
      padding-left: 40px;
      * {
        font-size: 24px;
        font-weight: 900;
        color: white;
        letter-spacing: $letter-spacing;
      }
    }
  }
  &-cards {
    width: 100%;
    background: #f5f4f4;
    padding-top: 62px;
    padding-bottom: 167px;
    &-card {
      width: calc(100% / 3 - 32px);
      min-height: 310px;

      &-img {
        height: 50px;
      }
      &-container {
        height: fit-content;
        position: relative;
      }
      &-top {
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $blue;
        padding: 35px 35px 0px 35px;
        border-radius: 20px;
        gap: 20px;
      }
      &-title {
        color: $blue;
        font-weight: 700;
        font-size: 17px;
        letter-spacing: $letter-spacing;
        text-transform: uppercase;
      }

      &-subtitle {
        * {
          margin-bottom: 0px;
          font-weight: 700;
          font-size: 14px;
          text-align: center;
          color: $text-color;
          line-height: 20px;
          letter-spacing: $letter-spacing;
        }
      }
      &-button {
        overflow: hidden;
        margin-bottom: 10px;
        margin-top: 20px;
        img {
          width: 32px;
          transition: 0.2s all;
        }
        p {
          color: $text-color;
          font-size: 14px;
          letter-spacing: $letter-spacing;
          font-weight: 300;
        }
        &:hover {
          img {
            transform: translate(0, 40px);
            opacity: 0;
          }
        }
      }
      &-body {
        background: white;
        border: 1px solid #7679e7;
        border-top: unset;
        padding: 26px;
        padding-top: 15px;
        position: absolute;
        top: 100%;
        z-index: 10;
        left: 0%;
        width: 100%;
        display: none;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        * {
          color: $text-color;
          font-weight: 500;
          font-size: 14px;
          letter-spacing: $letter-spacing;
          line-height: 26px;
          text-align: justify;
        }
      }
      &-active {
        box-shadow: 0px 4px 40px rgba(94, 117, 232, 0.2);
        .ton-gateway-cards-card {
          &-body {
            display: block;
          }
          &-top {
            border-bottom: unset;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
          &-button {
            display: none;
          }
        }
      }
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      gap: 47px;
      align-items: stretch;
    }
  }
  &-powered {
    padding-top: 80px;
    padding-bottom: 98px;
    &-bottom {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-top: 14px;
      p {
        font-size: 12px;
        font-weight: 600;
        color: black;
      }
      figure {
        width: 20px;
        height: 20px;
        background: linear-gradient(90deg, #00c0bf 0%, #00fbff 100.02%);
        border-radius: 50%;
      }
    }
    &-arrow {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: calc(100% - 20px);
      img {
        position: relative;
        left: 10px;
      }
      p {
        font-size: 12px;
        font-weight: 600;
        color: black;
      }
    }
    &-list {
      padding-top: 44px;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
    }
    h3 {
      @extend .gradient-text;
      font-size: 24px;
      font-weight: 900;
    }
    .dapp-user {
    }
    .orbs-validator {
      position: relative;
      .main-img {
        position: relative;
        top: 0px;
        left: 20px;
        height: 188px;
        zoom: 1.1;
      }
    }
    .ton-validator {
      & img {
        height: 188px;
      }
      & .flex {
        display: flex;
        align-items: center;
        gap: 15px;
      }
    }
    &-body {
      margin-top: 30px;
      max-width: 974px;
      letter-spacing: $letter-spacing;
      color: $text-color;
      font-weight: 600;
    }
    &-section {
      border: 1px solid #be80a7;
      padding: 22px;
      width: fit-content;
      position: relative;
      h4 {
        color: #3f3f3f;
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 40px;
      }

      &-card {
        position: relative;
        &-title {
          font-weight: 600;
          font-size: 14px;
          margin-bottom: 10px;
          text-transform: uppercase;
        }
        &-colored {
          width: 140px;
          height: 140px;
          position: relative;
        }
        &-body {
          border-radius: 20px;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            57.16deg,
            #e9f2fa 14.99%,
            #e4f2fa 21.38%,
            #d7f2fa 27.78%,
            #c1f3fa 34.18%,
            #a2f4fb 41.49%,
            #7bf6fc 48.8%,
            #4bf8fd 56.11%,
            #13fafe 63.42%,
            #00fbff 65.25%
          );
          z-index: 1;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          gap: 5px;

          & * {
            margin-bottom: 0px;
            line-height: 20px;
            font-size: 14px;
            color: $text-color;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
        figure {
          background: #00bbba;
          border-radius: 20px;
          position: absolute;
          left: 6px;
          top: 6px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.selectbox {
  width: 100%;
  cursor: pointer;
  position: relative;
  width: 412px;
  &-title {
    position: absolute;
    top: 0px;
    padding: 0px 8px;
    left: 20px;
    background: white;
    color: $text-color;
    top: -21%;
    font-size: 17px;
    font-weight: 700;
    z-index: 1;
    color: $text-color;
  }
  &-selected {
    padding: 10px 47px 10px 25px;
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    border-radius: 20px;
    position: relative;
    &-value {
      font-weight: 400;
      color: $text-color;
    }
    img {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  &-list {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 100%;
    max-width: 700px;
    display: none;
    border: 2px solid transparent;
    position: absolute;
    top: 80px;
    border-radius: 20px;
    background: white;
    overflow: hidden;

    &-item {
      height: auto;
      min-height: 40px;
      padding: 10px 10px 10px 25px;
      width: 100%;
      list-style-type: unset;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 5px;
      align-items: flex-start;
      .text-p {
        text-align: left;
        margin-bottom: 0px;
        font-weight: 400;
        color: $text-color;
        font-size: 17px;
      }
      a {
        color: #5e75e8;
        text-decoration: unset;
      }
      &:hover {
        background: rgba(94, 117, 232, 0.1);
      }
      &-hidden {
        display: none;
      }
    }
  }
  &-open {
    z-index: 99;
    .selectbox-selected {
    }
    .selectbox-list {
      display: block;
      border: 1px solid #c0c0c0;
    }
  }
}
